web/WEB-INF/wsdl/10.8.0.134_1112/FCUBSAccService/FCUBSAccService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://types.ws.gw.fcubs.ofss.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://types.ws.gw.fcubs.ofss.com" name="FCUBSAccService">
<types>
<xsd:schema>
<xsd:import namespace="http://fcubs.ofss.com/service/FCUBSAccService" schemaLocation="http://10.8.0.134:1112/FCUBSAccService/FCUBSAccService?xsd=1"/>
</xsd:schema>
</types>
<message name="AuthorizeCheckDetailsIO">
<part xmlns:ns1="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns1:AUTHORIZECHECKDETAILS_IOPK_REQ"/>
</message>
<message name="AuthorizeCheckDetailsIOResponse">
<part xmlns:ns2="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns2:AUTHORIZECHECKDETAILS_IOPK_RES"/>
</message>
<message name="AuthorizeCheckDetailsFS">
<part xmlns:ns3="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns3:AUTHORIZECHECKDETAILS_FSFS_REQ"/>
</message>
<message name="AuthorizeCheckDetailsFSResponse">
<part xmlns:ns4="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns4:AUTHORIZECHECKDETAILS_FSFS_RES"/>
</message>
<message name="AuthorizeChqArchivalFS">
<part xmlns:ns5="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns5:AUTHORIZECHQARCHIVAL_FSFS_REQ"/>
</message>
<message name="AuthorizeChqArchivalFSResponse">
<part xmlns:ns6="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns6:AUTHORIZECHQARCHIVAL_FSFS_RES"/>
</message>
<message name="AuthorizeChqArchivalIO">
<part xmlns:ns7="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns7:AUTHORIZECHQARCHIVAL_IOPK_REQ"/>
</message>
<message name="AuthorizeChqArchivalIOResponse">
<part xmlns:ns8="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns8:AUTHORIZECHQARCHIVAL_IOPK_RES"/>
</message>
<message name="CreateAcClassTfrFS">
<part xmlns:ns9="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns9:CREATEACCLASSTFR_FSFS_REQ"/>
</message>
<message name="CreateAcClassTfrFSResponse">
<part xmlns:ns10="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns10:CREATEACCLASSTFR_FSFS_RES"/>
</message>
<message name="CloseCbStmtFS">
<part xmlns:ns11="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns11:CLOSECBSTMT_FSFS_REQ"/>
</message>
<message name="CloseCbStmtFSResponse">
<part xmlns:ns12="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns12:CLOSECBSTMT_FSFS_RES"/>
</message>
<message name="CloseCustAccFS">
<part xmlns:ns13="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns13:CLOSECUSTACC_FSFS_REQ"/>
</message>
<message name="CloseCustAccFSResponse">
<part xmlns:ns14="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns14:CLOSECUSTACC_FSFS_RES"/>
</message>
<message name="CloseCustAccIO">
<part xmlns:ns15="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns15:CLOSECUSTACC_IOPK_REQ"/>
</message>
<message name="CloseCustAccIOResponse">
<part xmlns:ns16="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns16:CLOSECUSTACC_IOPK_RES"/>
</message>
<message name="CloseCheckBookIO">
<part xmlns:ns17="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns17:CLOSECHECKBOOK_IOPK_REQ"/>
</message>
<message name="CloseCheckBookIOResponse">
<part xmlns:ns18="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns18:CLOSECHECKBOOK_IOPK_RES"/>
</message>
<message name="CloseCheckBookFS">
<part xmlns:ns19="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns19:CLOSECHECKBOOK_FSFS_REQ"/>
</message>
<message name="CloseCheckBookFSResponse">
<part xmlns:ns20="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns20:CLOSECHECKBOOK_FSFS_RES"/>
</message>
<message name="CloseCbStmtIO">
<part xmlns:ns21="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns21:CLOSECBSTMT_IOPK_REQ"/>
</message>
<message name="CloseCbStmtIOResponse">
<part xmlns:ns22="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns22:CLOSECBSTMT_IOPK_RES"/>
</message>
<message name="CloseStopPaymentsFS">
<part xmlns:ns23="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns23:CLOSESTOPPAYMENTS_FSFS_REQ"/>
</message>
<message name="CloseStopPaymentsFSResponse">
<part xmlns:ns24="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns24:CLOSESTOPPAYMENTS_FSFS_RES"/>
</message>
<message name="CloseStopPaymentsIO">
<part xmlns:ns25="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns25:CLOSESTOPPAYMENTS_IOPK_REQ"/>
</message>
<message name="CloseStopPaymentsIOResponse">
<part xmlns:ns26="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns26:CLOSESTOPPAYMENTS_IOPK_RES"/>
</message>
<message name="CloseAutoDepInsFS">
<part xmlns:ns27="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns27:CLOSEAUTODEPINS_FSFS_REQ"/>
</message>
<message name="CloseAutoDepInsFSResponse">
<part xmlns:ns28="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns28:CLOSEAUTODEPINS_FSFS_RES"/>
</message>
<message name="CloseAutoDepInsIO">
<part xmlns:ns29="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns29:CLOSEAUTODEPINS_IOPK_REQ"/>
</message>
<message name="CloseAutoDepInsIOResponse">
<part xmlns:ns30="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns30:CLOSEAUTODEPINS_IOPK_RES"/>
</message>
<message name="AuthorizeStopPaymentsFS">
<part xmlns:ns31="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns31:AUTHORIZESTOPPAYMENTS_FSFS_REQ"/>
</message>
<message name="AuthorizeStopPaymentsFSResponse">
<part xmlns:ns32="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns32:AUTHORIZESTOPPAYMENTS_FSFS_RES"/>
</message>
<message name="AuthorizeStopPaymentsIO">
<part xmlns:ns33="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns33:AUTHORIZESTOPPAYMENTS_IOPK_REQ"/>
</message>
<message name="AuthorizeStopPaymentsIOResponse">
<part xmlns:ns34="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns34:AUTHORIZESTOPPAYMENTS_IOPK_RES"/>
</message>
<message name="QuerycustAccountDetailsIO">
<part xmlns:ns35="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns35:QUERYCUSTACCOUNTDETAILS_IOFS_REQ"/>
</message>
<message name="QuerycustAccountDetailsIOResponse">
<part xmlns:ns36="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns36:QUERYCUSTACCOUNTDETAILS_IOFS_RES"/>
</message>
<message name="AuthorizeCheckBookFS">
<part xmlns:ns37="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns37:AUTHORIZECHECKBOOK_FSFS_REQ"/>
</message>
<message name="AuthorizeCheckBookFSResponse">
<part xmlns:ns38="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns38:AUTHORIZECHECKBOOK_FSFS_RES"/>
</message>
<message name="AuthorizeCustAccFS">
<part xmlns:ns39="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns39:AUTHORIZECUSTACC_FSFS_REQ"/>
</message>
<message name="AuthorizeCustAccFSResponse">
<part xmlns:ns40="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns40:AUTHORIZECUSTACC_FSFS_RES"/>
</message>
<message name="AuthorizeAcClassTfrIO">
<part xmlns:ns41="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns41:AUTHORIZEACCLASSTFR_IOPK_REQ"/>
</message>
<message name="AuthorizeAcClassTfrIOResponse">
<part xmlns:ns42="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns42:AUTHORIZEACCLASSTFR_IOPK_RES"/>
</message>
<message name="AuthorizeAutoDepInsIO">
<part xmlns:ns43="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns43:AUTHORIZEAUTODEPINS_IOPK_REQ"/>
</message>
<message name="AuthorizeAutoDepInsIOResponse">
<part xmlns:ns44="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns44:AUTHORIZEAUTODEPINS_IOPK_RES"/>
</message>
<message name="AuthorizeAutoDepInsFS">
<part xmlns:ns45="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns45:AUTHORIZEAUTODEPINS_FSFS_REQ"/>
</message>
<message name="AuthorizeAutoDepInsFSResponse">
<part xmlns:ns46="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns46:AUTHORIZEAUTODEPINS_FSFS_RES"/>
</message>
<message name="AuthorizeCbStmtIO">
<part xmlns:ns47="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns47:AUTHORIZECBSTMT_IOPK_REQ"/>
</message>
<message name="AuthorizeCbStmtIOResponse">
<part xmlns:ns48="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns48:AUTHORIZECBSTMT_IOPK_RES"/>
</message>
<message name="AuthorizeCbStmtFS">
<part xmlns:ns49="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns49:AUTHORIZECBSTMT_FSFS_REQ"/>
</message>
<message name="AuthorizeCbStmtFSResponse">
<part xmlns:ns50="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns50:AUTHORIZECBSTMT_FSFS_RES"/>
</message>
<message name="AuthorizeCheckBookIO">
<part xmlns:ns51="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns51:AUTHORIZECHECKBOOK_IOPK_REQ"/>
</message>
<message name="AuthorizeCheckBookIOResponse">
<part xmlns:ns52="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns52:AUTHORIZECHECKBOOK_IOPK_RES"/>
</message>
<message name="AuthorizeCustAccIO">
<part xmlns:ns53="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns53:AUTHORIZECUSTACC_IOPK_REQ"/>
</message>
<message name="AuthorizeCustAccIOResponse">
<part xmlns:ns54="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns54:AUTHORIZECUSTACC_IOPK_RES"/>
</message>
<message name="AuthorizeAcClassTfrFS">
<part xmlns:ns55="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns55:AUTHORIZEACCLASSTFR_FSFS_REQ"/>
</message>
<message name="AuthorizeAcClassTfrFSResponse">
<part xmlns:ns56="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns56:AUTHORIZEACCLASSTFR_FSFS_RES"/>
</message>
<message name="CreateAcClassTfrIO">
<part xmlns:ns57="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns57:CREATEACCLASSTFR_IOPK_REQ"/>
</message>
<message name="CreateAcClassTfrIOResponse">
<part xmlns:ns58="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns58:CREATEACCLASSTFR_IOPK_RES"/>
</message>
<message name="CreateAutoDepInsFS">
<part xmlns:ns59="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns59:CREATEAUTODEPINS_FSFS_REQ"/>
</message>
<message name="CreateAutoDepInsFSResponse">
<part xmlns:ns60="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns60:CREATEAUTODEPINS_FSFS_RES"/>
</message>
<message name="CreateAutoDepInsIO">
<part xmlns:ns61="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns61:CREATEAUTODEPINS_IOPK_REQ"/>
</message>
<message name="CreateAutoDepInsIOResponse">
<part xmlns:ns62="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns62:CREATEAUTODEPINS_IOPK_RES"/>
</message>
<message name="CreateCbStmtFS">
<part xmlns:ns63="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns63:CREATECBSTMT_FSFS_REQ"/>
</message>
<message name="CreateCbStmtFSResponse">
<part xmlns:ns64="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns64:CREATECBSTMT_FSFS_RES"/>
</message>
<message name="CreateCbStmtIO">
<part xmlns:ns65="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns65:CREATECBSTMT_IOPK_REQ"/>
</message>
<message name="CreateCbStmtIOResponse">
<part xmlns:ns66="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns66:CREATECBSTMT_IOPK_RES"/>
</message>
<message name="CreateCheckBookFS">
<part xmlns:ns67="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns67:CREATECHECKBOOK_FSFS_REQ"/>
</message>
<message name="CreateCheckBookFSResponse">
<part xmlns:ns68="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns68:CREATECHECKBOOK_FSFS_RES"/>
</message>
<message name="CreateCheckBookIO">
<part xmlns:ns69="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns69:CREATECHECKBOOK_IOPK_REQ"/>
</message>
<message name="CreateCheckBookIOResponse">
<part xmlns:ns70="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns70:CREATECHECKBOOK_IOPK_RES"/>
</message>
<message name="CreateChqArchivalFS">
<part xmlns:ns71="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns71:CREATECHQARCHIVAL_FSFS_REQ"/>
</message>
<message name="CreateChqArchivalFSResponse">
<part xmlns:ns72="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns72:CREATECHQARCHIVAL_FSFS_RES"/>
</message>
<message name="CreateChqArchivalIO">
<part xmlns:ns73="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns73:CREATECHQARCHIVAL_IOPK_REQ"/>
</message>
<message name="CreateChqArchivalIOResponse">
<part xmlns:ns74="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns74:CREATECHQARCHIVAL_IOPK_RES"/>
</message>
<message name="CreateCustAccFS">
<part xmlns:ns75="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns75:CREATECUSTACC_FSFS_REQ"/>
</message>
<message name="CreateCustAccFSResponse">
<part xmlns:ns76="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns76:CREATECUSTACC_FSFS_RES"/>
</message>
<message name="CreateCustAccIO">
<part xmlns:ns77="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns77:CREATECUSTACC_IOPK_REQ"/>
</message>
<message name="CreateCustAccIOResponse">
<part xmlns:ns78="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns78:CREATECUSTACC_IOPK_RES"/>
</message>
<message name="CreateStopPaymentsFS">
<part xmlns:ns79="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns79:CREATESTOPPAYMENTS_FSFS_REQ"/>
</message>
<message name="CreateStopPaymentsFSResponse">
<part xmlns:ns80="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns80:CREATESTOPPAYMENTS_FSFS_RES"/>
</message>
<message name="CreateStopPaymentsIO">
<part xmlns:ns81="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns81:CREATESTOPPAYMENTS_IOPK_REQ"/>
</message>
<message name="CreateStopPaymentsIOResponse">
<part xmlns:ns82="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns82:CREATESTOPPAYMENTS_IOPK_RES"/>
</message>
<message name="CreateTDCustAccFS">
<part xmlns:ns83="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns83:CREATETDCUSTACC_FSFS_REQ"/>
</message>
<message name="CreateTDCustAccFSResponse">
<part xmlns:ns84="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns84:CREATETDCUSTACC_FSFS_RES"/>
</message>
<message name="CreateTDCustAccIO">
<part xmlns:ns85="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns85:CREATETDCUSTACC_IOPK_REQ"/>
</message>
<message name="CreateTDCustAccIOResponse">
<part xmlns:ns86="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns86:CREATETDCUSTACC_IOPK_RES"/>
</message>
<message name="CreateTDSimFS">
<part xmlns:ns87="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns87:CREATETDSIM_FSFS_REQ"/>
</message>
<message name="CreateTDSimFSResponse">
<part xmlns:ns88="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns88:CREATETDSIM_FSFS_RES"/>
</message>
<message name="CreateTDSimIO">
<part xmlns:ns89="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns89:CREATETDSIM_IOPK_REQ"/>
</message>
<message name="CreateTDSimIOResponse">
<part xmlns:ns90="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns90:CREATETDSIM_IOPK_RES"/>
</message>
<message name="CreateTDTopUpFS">
<part xmlns:ns91="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns91:CREATETDTOPUP_FSFS_REQ"/>
</message>
<message name="CreateTDTopUpFSResponse">
<part xmlns:ns92="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns92:CREATETDTOPUP_FSFS_RES"/>
</message>
<message name="CreateTDTopUpIO">
<part xmlns:ns93="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns93:CREATETDTOPUP_IOPK_REQ"/>
</message>
<message name="CreateTDTopUpIOResponse">
<part xmlns:ns94="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns94:CREATETDTOPUP_IOPK_RES"/>
</message>
<message name="DeleteAcClassTfrFS">
<part xmlns:ns95="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns95:DELETEACCLASSTFR_FSFS_REQ"/>
</message>
<message name="DeleteAcClassTfrFSResponse">
<part xmlns:ns96="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns96:DELETEACCLASSTFR_FSFS_RES"/>
</message>
<message name="DeleteAcClassTfrIO">
<part xmlns:ns97="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns97:DELETEACCLASSTFR_IOPK_REQ"/>
</message>
<message name="DeleteAcClassTfrIOResponse">
<part xmlns:ns98="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns98:DELETEACCLASSTFR_IOPK_RES"/>
</message>
<message name="DeleteAutoDepInsFS">
<part xmlns:ns99="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns99:DELETEAUTODEPINS_FSFS_REQ"/>
</message>
<message name="DeleteAutoDepInsFSResponse">
<part xmlns:ns100="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns100:DELETEAUTODEPINS_FSFS_RES"/>
</message>
<message name="DeleteAutoDepInsIO">
<part xmlns:ns101="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns101:DELETEAUTODEPINS_IOPK_REQ"/>
</message>
<message name="DeleteAutoDepInsIOResponse">
<part xmlns:ns102="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns102:DELETEAUTODEPINS_IOPK_RES"/>
</message>
<message name="AuthorizeTDTopUpIO">
<part xmlns:ns103="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns103:AUTHORIZETDTOPUP_IOPK_REQ"/>
</message>
<message name="AuthorizeTDTopUpIOResponse">
<part xmlns:ns104="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns104:AUTHORIZETDTOPUP_IOPK_RES"/>
</message>
<message name="AuthorizeTDCustAccFS">
<part xmlns:ns105="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns105:AUTHORIZETDCUSTACC_FSFS_REQ"/>
</message>
<message name="AuthorizeTDCustAccFSResponse">
<part xmlns:ns106="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns106:AUTHORIZETDCUSTACC_FSFS_RES"/>
</message>
<message name="AuthorizeTDCustAccIO">
<part xmlns:ns107="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns107:AUTHORIZETDCUSTACC_IOPK_REQ"/>
</message>
<message name="AuthorizeTDCustAccIOResponse">
<part xmlns:ns108="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns108:AUTHORIZETDCUSTACC_IOPK_RES"/>
</message>
<message name="AuthorizeTDTopUpFS">
<part xmlns:ns109="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns109:AUTHORIZETDTOPUP_FSFS_REQ"/>
</message>
<message name="AuthorizeTDTopUpFSResponse">
<part xmlns:ns110="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns110:AUTHORIZETDTOPUP_FSFS_RES"/>
</message>
<message name="CheckDetailsQueryIO">
<part xmlns:ns111="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns111:CHECKDETAILSQUERY_IOFS_REQ"/>
</message>
<message name="CheckDetailsQueryIOResponse">
<part xmlns:ns112="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns112:CHECKDETAILSQUERY_IOFS_RES"/>
</message>
<message name="DeleteCbStmtFS">
<part xmlns:ns113="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns113:DELETECBSTMT_FSFS_REQ"/>
</message>
<message name="DeleteCbStmtFSResponse">
<part xmlns:ns114="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns114:DELETECBSTMT_FSFS_RES"/>
</message>
<message name="DeleteCbStmtIO">
<part xmlns:ns115="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns115:DELETECBSTMT_IOPK_REQ"/>
</message>
<message name="DeleteCbStmtIOResponse">
<part xmlns:ns116="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns116:DELETECBSTMT_IOPK_RES"/>
</message>
<message name="DeleteCheckBookFS">
<part xmlns:ns117="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns117:DELETECHECKBOOK_FSFS_REQ"/>
</message>
<message name="DeleteCheckBookFSResponse">
<part xmlns:ns118="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns118:DELETECHECKBOOK_FSFS_RES"/>
</message>
<message name="DeleteCheckBookIO">
<part xmlns:ns119="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns119:DELETECHECKBOOK_IOPK_REQ"/>
</message>
<message name="DeleteCheckBookIOResponse">
<part xmlns:ns120="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns120:DELETECHECKBOOK_IOPK_RES"/>
</message>
<message name="DeleteChqArchivalFS">
<part xmlns:ns121="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns121:DELETECHQARCHIVAL_FSFS_REQ"/>
</message>
<message name="DeleteChqArchivalFSResponse">
<part xmlns:ns122="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns122:DELETECHQARCHIVAL_FSFS_RES"/>
</message>
<message name="DeleteChqArchivalIO">
<part xmlns:ns123="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns123:DELETECHQARCHIVAL_IOPK_REQ"/>
</message>
<message name="DeleteChqArchivalIOResponse">
<part xmlns:ns124="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns124:DELETECHQARCHIVAL_IOPK_RES"/>
</message>
<message name="DeleteCustAccFS">
<part xmlns:ns125="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns125:DELETECUSTACC_FSFS_REQ"/>
</message>
<message name="DeleteCustAccFSResponse">
<part xmlns:ns126="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns126:DELETECUSTACC_FSFS_RES"/>
</message>
<message name="DeleteCustAccIO">
<part xmlns:ns127="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns127:DELETECUSTACC_IOPK_REQ"/>
</message>
<message name="DeleteCustAccIOResponse">
<part xmlns:ns128="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns128:DELETECUSTACC_IOPK_RES"/>
</message>
<message name="DeleteStopPaymentsFS">
<part xmlns:ns129="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns129:DELETESTOPPAYMENTS_FSFS_REQ"/>
</message>
<message name="DeleteStopPaymentsFSResponse">
<part xmlns:ns130="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns130:DELETESTOPPAYMENTS_FSFS_RES"/>
</message>
<message name="DeleteStopPaymentsIO">
<part xmlns:ns131="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns131:DELETESTOPPAYMENTS_IOPK_REQ"/>
</message>
<message name="DeleteStopPaymentsIOResponse">
<part xmlns:ns132="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns132:DELETESTOPPAYMENTS_IOPK_RES"/>
</message>
<message name="DeleteTDCustAccFS">
<part xmlns:ns133="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns133:DELETETDCUSTACC_FSFS_REQ"/>
</message>
<message name="DeleteTDCustAccFSResponse">
<part xmlns:ns134="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns134:DELETETDCUSTACC_FSFS_RES"/>
</message>
<message name="DeleteTDCustAccIO">
<part xmlns:ns135="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns135:DELETETDCUSTACC_IOPK_REQ"/>
</message>
<message name="DeleteTDCustAccIOResponse">
<part xmlns:ns136="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns136:DELETETDCUSTACC_IOPK_RES"/>
</message>
<message name="DeleteTDTopUpFS">
<part xmlns:ns137="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns137:DELETETDTOPUP_FSFS_REQ"/>
</message>
<message name="DeleteTDTopUpFSResponse">
<part xmlns:ns138="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns138:DELETETDTOPUP_FSFS_RES"/>
</message>
<message name="DeleteTDTopUpIO">
<part xmlns:ns139="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns139:DELETETDTOPUP_IOPK_REQ"/>
</message>
<message name="DeleteTDTopUpIOResponse">
<part xmlns:ns140="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns140:DELETETDTOPUP_IOPK_RES"/>
</message>
<message name="ModifyAcClassTfrFS">
<part xmlns:ns141="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns141:MODIFYACCLASSTFR_FSFS_REQ"/>
</message>
<message name="ModifyAcClassTfrFSResponse">
<part xmlns:ns142="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns142:MODIFYACCLASSTFR_FSFS_RES"/>
</message>
<message name="ModifyAcClassTfrIO">
<part xmlns:ns143="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns143:MODIFYACCLASSTFR_IOPK_REQ"/>
</message>
<message name="ModifyAcClassTfrIOResponse">
<part xmlns:ns144="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns144:MODIFYACCLASSTFR_IOPK_RES"/>
</message>
<message name="ModifyAutoDepInsFS">
<part xmlns:ns145="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns145:MODIFYAUTODEPINS_FSFS_REQ"/>
</message>
<message name="ModifyAutoDepInsFSResponse">
<part xmlns:ns146="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns146:MODIFYAUTODEPINS_FSFS_RES"/>
</message>
<message name="ModifyAutoDepInsIO">
<part xmlns:ns147="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns147:MODIFYAUTODEPINS_IOPK_REQ"/>
</message>
<message name="ModifyAutoDepInsIOResponse">
<part xmlns:ns148="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns148:MODIFYAUTODEPINS_IOPK_RES"/>
</message>
<message name="ModifyCbStmtFS">
<part xmlns:ns149="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns149:MODIFYCBSTMT_FSFS_REQ"/>
</message>
<message name="ModifyCbStmtFSResponse">
<part xmlns:ns150="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns150:MODIFYCBSTMT_FSFS_RES"/>
</message>
<message name="ModifyCbStmtIO">
<part xmlns:ns151="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns151:MODIFYCBSTMT_IOPK_REQ"/>
</message>
<message name="ModifyCbStmtIOResponse">
<part xmlns:ns152="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns152:MODIFYCBSTMT_IOPK_RES"/>
</message>
<message name="ModifyCheckBookFS">
<part xmlns:ns153="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns153:MODIFYCHECKBOOK_FSFS_REQ"/>
</message>
<message name="ModifyCheckBookFSResponse">
<part xmlns:ns154="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns154:MODIFYCHECKBOOK_FSFS_RES"/>
</message>
<message name="ModifyCheckBookIO">
<part xmlns:ns155="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns155:MODIFYCHECKBOOK_IOPK_REQ"/>
</message>
<message name="ModifyCheckBookIOResponse">
<part xmlns:ns156="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns156:MODIFYCHECKBOOK_IOPK_RES"/>
</message>
<message name="ModifyCheckDetailsFS">
<part xmlns:ns157="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns157:MODIFYCHECKDETAILS_FSFS_REQ"/>
</message>
<message name="ModifyCheckDetailsFSResponse">
<part xmlns:ns158="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns158:MODIFYCHECKDETAILS_FSFS_RES"/>
</message>
<message name="ModifyCheckDetailsIO">
<part xmlns:ns159="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns159:MODIFYCHECKDETAILS_IOPK_REQ"/>
</message>
<message name="ModifyCheckDetailsIOResponse">
<part xmlns:ns160="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns160:MODIFYCHECKDETAILS_IOPK_RES"/>
</message>
<message name="ModifyChqArchivalFS">
<part xmlns:ns161="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns161:MODIFYCHQARCHIVAL_FSFS_REQ"/>
</message>
<message name="ModifyChqArchivalFSResponse">
<part xmlns:ns162="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns162:MODIFYCHQARCHIVAL_FSFS_RES"/>
</message>
<message name="ModifyChqArchivalIO">
<part xmlns:ns163="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns163:MODIFYCHQARCHIVAL_IOPK_REQ"/>
</message>
<message name="ModifyChqArchivalIOResponse">
<part xmlns:ns164="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns164:MODIFYCHQARCHIVAL_IOPK_RES"/>
</message>
<message name="ModifyCustAccFS">
<part xmlns:ns165="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns165:MODIFYCUSTACC_FSFS_REQ"/>
</message>
<message name="ModifyCustAccFSResponse">
<part xmlns:ns166="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns166:MODIFYCUSTACC_FSFS_RES"/>
</message>
<message name="ModifyCustAccIO">
<part xmlns:ns167="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns167:MODIFYCUSTACC_IOPK_REQ"/>
</message>
<message name="ModifyCustAccIOResponse">
<part xmlns:ns168="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns168:MODIFYCUSTACC_IOPK_RES"/>
</message>
<message name="ModifyStopPaymentsFS">
<part xmlns:ns169="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns169:MODIFYSTOPPAYMENTS_FSFS_REQ"/>
</message>
<message name="ModifyStopPaymentsFSResponse">
<part xmlns:ns170="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns170:MODIFYSTOPPAYMENTS_FSFS_RES"/>
</message>
<message name="ModifyStopPaymentsIO">
<part xmlns:ns171="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns171:MODIFYSTOPPAYMENTS_IOPK_REQ"/>
</message>
<message name="ModifyStopPaymentsIOResponse">
<part xmlns:ns172="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns172:MODIFYSTOPPAYMENTS_IOPK_RES"/>
</message>
<message name="ModifyTDCustAccFS">
<part xmlns:ns173="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns173:MODIFYTDCUSTACC_FSFS_REQ"/>
</message>
<message name="ModifyTDCustAccFSResponse">
<part xmlns:ns174="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns174:MODIFYTDCUSTACC_FSFS_RES"/>
</message>
<message name="ModifyTDCustAccIO">
<part xmlns:ns175="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns175:MODIFYTDCUSTACC_IOPK_REQ"/>
</message>
<message name="ModifyTDCustAccIOResponse">
<part xmlns:ns176="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns176:MODIFYTDCUSTACC_IOPK_RES"/>
</message>
<message name="ModifyTDTopUpFS">
<part xmlns:ns177="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns177:MODIFYTDTOPUP_FSFS_REQ"/>
</message>
<message name="ModifyTDTopUpFSResponse">
<part xmlns:ns178="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns178:MODIFYTDTOPUP_FSFS_RES"/>
</message>
<message name="ModifyTDTopUpIO">
<part xmlns:ns179="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns179:MODIFYTDTOPUP_IOPK_REQ"/>
</message>
<message name="ModifyTDTopUpIOResponse">
<part xmlns:ns180="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns180:MODIFYTDTOPUP_IOPK_RES"/>
</message>
<message name="QueryAcClassTfrIO">
<part xmlns:ns181="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns181:QUERYACCLASSTFR_IOFS_REQ"/>
</message>
<message name="QueryAcClassTfrIOResponse">
<part xmlns:ns182="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns182:QUERYACCLASSTFR_IOFS_RES"/>
</message>
<message name="QueryAccBalIO">
<part xmlns:ns183="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns183:QUERYACCBAL_IOFS_REQ"/>
</message>
<message name="QueryAccBalIOResponse">
<part xmlns:ns184="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns184:QUERYACCBAL_IOFS_RES"/>
</message>
<message name="QueryAccSummIO">
<part xmlns:ns185="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns185:QUERYACCSUMM_IOFS_REQ"/>
</message>
<message name="QueryAccSummIOResponse">
<part xmlns:ns186="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns186:QUERYACCSUMM_IOFS_RES"/>
</message>
<message name="QueryAutoDepInsIO">
<part xmlns:ns187="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns187:QUERYAUTODEPINS_IOFS_REQ"/>
</message>
<message name="QueryAutoDepInsIOResponse">
<part xmlns:ns188="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns188:QUERYAUTODEPINS_IOFS_RES"/>
</message>
<message name="QueryCbStmtIO">
<part xmlns:ns189="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns189:QUERYCBSTMT_IOFS_REQ"/>
</message>
<message name="QueryCbStmtIOResponse">
<part xmlns:ns190="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns190:QUERYCBSTMT_IOFS_RES"/>
</message>
<message name="QueryCheckBookIO">
<part xmlns:ns191="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns191:QUERYCHECKBOOK_IOFS_REQ"/>
</message>
<message name="QueryCheckBookIOResponse">
<part xmlns:ns192="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns192:QUERYCHECKBOOK_IOFS_RES"/>
</message>
<message name="QueryCheckDetailsIO">
<part xmlns:ns193="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns193:QUERYCHECKDETAILS_IOFS_REQ"/>
</message>
<message name="QueryCheckDetailsIOResponse">
<part xmlns:ns194="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns194:QUERYCHECKDETAILS_IOFS_RES"/>
</message>
<message name="QueryChqArchivalIO">
<part xmlns:ns195="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns195:QUERYCHQARCHIVAL_IOFS_REQ"/>
</message>
<message name="QueryChqArchivalIOResponse">
<part xmlns:ns196="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns196:QUERYCHQARCHIVAL_IOFS_RES"/>
</message>
<message name="QueryCustAccIO">
<part xmlns:ns197="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns197:QUERYCUSTACC_IOFS_REQ"/>
</message>
<message name="QueryCustAccIOResponse">
<part xmlns:ns198="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns198:QUERYCUSTACC_IOFS_RES"/>
</message>
<message name="QueryCustAccBalanceIO">
<part xmlns:ns199="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns199:QUERYCUSTACCBALANCE_IOFS_REQ"/>
</message>
<message name="QueryCustAccBalanceIOResponse">
<part xmlns:ns200="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns200:QUERYCUSTACCBALANCE_IOFS_RES"/>
</message>
<message name="QueryGenAdviceIO">
<part xmlns:ns201="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns201:QUERYGENADVICE_IOFS_REQ"/>
</message>
<message name="QueryGenAdviceIOResponse">
<part xmlns:ns202="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns202:QUERYGENADVICE_IOFS_RES"/>
</message>
<message name="QueryStopPaymentsIO">
<part xmlns:ns203="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns203:QUERYSTOPPAYMENTS_IOFS_REQ"/>
</message>
<message name="QueryStopPaymentsIOResponse">
<part xmlns:ns204="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns204:QUERYSTOPPAYMENTS_IOFS_RES"/>
</message>
<message name="QueryTDCustAccIO">
<part xmlns:ns205="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns205:QUERYTDCUSTACC_IOFS_REQ"/>
</message>
<message name="QueryTDCustAccIOResponse">
<part xmlns:ns206="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns206:QUERYTDCUSTACC_IOFS_RES"/>
</message>
<message name="QueryTDCustAccSimIO">
<part xmlns:ns207="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns207:QUERYTDCUSTACCSIM_IOFS_REQ"/>
</message>
<message name="QueryTDCustAccSimIOResponse">
<part xmlns:ns208="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns208:QUERYTDCUSTACCSIM_IOFS_RES"/>
</message>
<message name="QueryTDTopUpIO">
<part xmlns:ns209="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns209:QUERYTDTOPUP_IOFS_REQ"/>
</message>
<message name="QueryTDTopUpIOResponse">
<part xmlns:ns210="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns210:QUERYTDTOPUP_IOFS_RES"/>
</message>
<message name="QueryTopUpSimIO">
<part xmlns:ns211="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns211:QUERYTOPUPSIM_IOFS_REQ"/>
</message>
<message name="QueryTopUpSimIOResponse">
<part xmlns:ns212="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns212:QUERYTOPUPSIM_IOFS_RES"/>
</message>
<message name="ReopenCbStmtFS">
<part xmlns:ns213="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns213:REOPENCBSTMT_FSFS_REQ"/>
</message>
<message name="ReopenCbStmtFSResponse">
<part xmlns:ns214="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns214:REOPENCBSTMT_FSFS_RES"/>
</message>
<message name="ReopenCbStmtIO">
<part xmlns:ns215="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns215:REOPENCBSTMT_IOPK_REQ"/>
</message>
<message name="ReopenCbStmtIOResponse">
<part xmlns:ns216="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns216:REOPENCBSTMT_IOPK_RES"/>
</message>
<message name="ReopenCheckBookFS">
<part xmlns:ns217="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns217:REOPENCHECKBOOK_FSFS_REQ"/>
</message>
<message name="ReopenCheckBookFSResponse">
<part xmlns:ns218="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns218:REOPENCHECKBOOK_FSFS_RES"/>
</message>
<message name="ReopenCheckBookIO">
<part xmlns:ns219="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns219:REOPENCHECKBOOK_IOPK_REQ"/>
</message>
<message name="ReopenCheckBookIOResponse">
<part xmlns:ns220="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns220:REOPENCHECKBOOK_IOPK_RES"/>
</message>
<message name="ReopenCustAccFS">
<part xmlns:ns221="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns221:REOPENCUSTACC_FSFS_REQ"/>
</message>
<message name="ReopenCustAccFSResponse">
<part xmlns:ns222="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns222:REOPENCUSTACC_FSFS_RES"/>
</message>
<message name="ReopenCustAccIO">
<part xmlns:ns223="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns223:REOPENCUSTACC_IOPK_REQ"/>
</message>
<message name="ReopenCustAccIOResponse">
<part xmlns:ns224="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns224:REOPENCUSTACC_IOPK_RES"/>
</message>
<portType name="FCUBSAccServiceSEI">
<operation name="AuthorizeCheckDetailsIO">
<input message="tns:AuthorizeCheckDetailsIO"/>
<output message="tns:AuthorizeCheckDetailsIOResponse"/>
</operation>
<operation name="AuthorizeCheckDetailsFS">
<input message="tns:AuthorizeCheckDetailsFS"/>
<output message="tns:AuthorizeCheckDetailsFSResponse"/>
</operation>
<operation name="AuthorizeChqArchivalFS">
<input message="tns:AuthorizeChqArchivalFS"/>
<output message="tns:AuthorizeChqArchivalFSResponse"/>
</operation>
<operation name="AuthorizeChqArchivalIO">
<input message="tns:AuthorizeChqArchivalIO"/>
<output message="tns:AuthorizeChqArchivalIOResponse"/>
</operation>
<operation name="CreateAcClassTfrFS">
<input message="tns:CreateAcClassTfrFS"/>
<output message="tns:CreateAcClassTfrFSResponse"/>
</operation>
<operation name="CloseCbStmtFS">
<input message="tns:CloseCbStmtFS"/>
<output message="tns:CloseCbStmtFSResponse"/>
</operation>
<operation name="CloseCustAccFS">
<input message="tns:CloseCustAccFS"/>
<output message="tns:CloseCustAccFSResponse"/>
</operation>
<operation name="CloseCustAccIO">
<input message="tns:CloseCustAccIO"/>
<output message="tns:CloseCustAccIOResponse"/>
</operation>
<operation name="CloseCheckBookIO">
<input message="tns:CloseCheckBookIO"/>
<output message="tns:CloseCheckBookIOResponse"/>
</operation>
<operation name="CloseCheckBookFS">
<input message="tns:CloseCheckBookFS"/>
<output message="tns:CloseCheckBookFSResponse"/>
</operation>
<operation name="CloseCbStmtIO">
<input message="tns:CloseCbStmtIO"/>
<output message="tns:CloseCbStmtIOResponse"/>
</operation>
<operation name="CloseStopPaymentsFS">
<input message="tns:CloseStopPaymentsFS"/>
<output message="tns:CloseStopPaymentsFSResponse"/>
</operation>
<operation name="CloseStopPaymentsIO">
<input message="tns:CloseStopPaymentsIO"/>
<output message="tns:CloseStopPaymentsIOResponse"/>
</operation>
<operation name="CloseAutoDepInsFS">
<input message="tns:CloseAutoDepInsFS"/>
<output message="tns:CloseAutoDepInsFSResponse"/>
</operation>
<operation name="CloseAutoDepInsIO">
<input message="tns:CloseAutoDepInsIO"/>
<output message="tns:CloseAutoDepInsIOResponse"/>
</operation>
<operation name="AuthorizeStopPaymentsFS">
<input message="tns:AuthorizeStopPaymentsFS"/>
<output message="tns:AuthorizeStopPaymentsFSResponse"/>
</operation>
<operation name="AuthorizeStopPaymentsIO">
<input message="tns:AuthorizeStopPaymentsIO"/>
<output message="tns:AuthorizeStopPaymentsIOResponse"/>
</operation>
<operation name="QuerycustAccountDetailsIO">
<input message="tns:QuerycustAccountDetailsIO"/>
<output message="tns:QuerycustAccountDetailsIOResponse"/>
</operation>
<operation name="AuthorizeCheckBookFS">
<input message="tns:AuthorizeCheckBookFS"/>
<output message="tns:AuthorizeCheckBookFSResponse"/>
</operation>
<operation name="AuthorizeCustAccFS">
<input message="tns:AuthorizeCustAccFS"/>
<output message="tns:AuthorizeCustAccFSResponse"/>
</operation>
<operation name="AuthorizeAcClassTfrIO">
<input message="tns:AuthorizeAcClassTfrIO"/>
<output message="tns:AuthorizeAcClassTfrIOResponse"/>
</operation>
<operation name="AuthorizeAutoDepInsIO">
<input message="tns:AuthorizeAutoDepInsIO"/>
<output message="tns:AuthorizeAutoDepInsIOResponse"/>
</operation>
<operation name="AuthorizeAutoDepInsFS">
<input message="tns:AuthorizeAutoDepInsFS"/>
<output message="tns:AuthorizeAutoDepInsFSResponse"/>
</operation>
<operation name="AuthorizeCbStmtIO">
<input message="tns:AuthorizeCbStmtIO"/>
<output message="tns:AuthorizeCbStmtIOResponse"/>
</operation>
<operation name="AuthorizeCbStmtFS">
<input message="tns:AuthorizeCbStmtFS"/>
<output message="tns:AuthorizeCbStmtFSResponse"/>
</operation>
<operation name="AuthorizeCheckBookIO">
<input message="tns:AuthorizeCheckBookIO"/>
<output message="tns:AuthorizeCheckBookIOResponse"/>
</operation>
<operation name="AuthorizeCustAccIO">
<input message="tns:AuthorizeCustAccIO"/>
<output message="tns:AuthorizeCustAccIOResponse"/>
</operation>
<operation name="AuthorizeAcClassTfrFS">
<input message="tns:AuthorizeAcClassTfrFS"/>
<output message="tns:AuthorizeAcClassTfrFSResponse"/>
</operation>
<operation name="CreateAcClassTfrIO">
<input message="tns:CreateAcClassTfrIO"/>
<output message="tns:CreateAcClassTfrIOResponse"/>
</operation>
<operation name="CreateAutoDepInsFS">
<input message="tns:CreateAutoDepInsFS"/>
<output message="tns:CreateAutoDepInsFSResponse"/>
</operation>
<operation name="CreateAutoDepInsIO">
<input message="tns:CreateAutoDepInsIO"/>
<output message="tns:CreateAutoDepInsIOResponse"/>
</operation>
<operation name="CreateCbStmtFS">
<input message="tns:CreateCbStmtFS"/>
<output message="tns:CreateCbStmtFSResponse"/>
</operation>
<operation name="CreateCbStmtIO">
<input message="tns:CreateCbStmtIO"/>
<output message="tns:CreateCbStmtIOResponse"/>
</operation>
<operation name="CreateCheckBookFS">
<input message="tns:CreateCheckBookFS"/>
<output message="tns:CreateCheckBookFSResponse"/>
</operation>
<operation name="CreateCheckBookIO">
<input message="tns:CreateCheckBookIO"/>
<output message="tns:CreateCheckBookIOResponse"/>
</operation>
<operation name="CreateChqArchivalFS">
<input message="tns:CreateChqArchivalFS"/>
<output message="tns:CreateChqArchivalFSResponse"/>
</operation>
<operation name="CreateChqArchivalIO">
<input message="tns:CreateChqArchivalIO"/>
<output message="tns:CreateChqArchivalIOResponse"/>
</operation>
<operation name="CreateCustAccFS">
<input message="tns:CreateCustAccFS"/>
<output message="tns:CreateCustAccFSResponse"/>
</operation>
<operation name="CreateCustAccIO">
<input message="tns:CreateCustAccIO"/>
<output message="tns:CreateCustAccIOResponse"/>
</operation>
<operation name="CreateStopPaymentsFS">
<input message="tns:CreateStopPaymentsFS"/>
<output message="tns:CreateStopPaymentsFSResponse"/>
</operation>
<operation name="CreateStopPaymentsIO">
<input message="tns:CreateStopPaymentsIO"/>
<output message="tns:CreateStopPaymentsIOResponse"/>
</operation>
<operation name="CreateTDCustAccFS">
<input message="tns:CreateTDCustAccFS"/>
<output message="tns:CreateTDCustAccFSResponse"/>
</operation>
<operation name="CreateTDCustAccIO">
<input message="tns:CreateTDCustAccIO"/>
<output message="tns:CreateTDCustAccIOResponse"/>
</operation>
<operation name="CreateTDSimFS">
<input message="tns:CreateTDSimFS"/>
<output message="tns:CreateTDSimFSResponse"/>
</operation>
<operation name="CreateTDSimIO">
<input message="tns:CreateTDSimIO"/>
<output message="tns:CreateTDSimIOResponse"/>
</operation>
<operation name="CreateTDTopUpFS">
<input message="tns:CreateTDTopUpFS"/>
<output message="tns:CreateTDTopUpFSResponse"/>
</operation>
<operation name="CreateTDTopUpIO">
<input message="tns:CreateTDTopUpIO"/>
<output message="tns:CreateTDTopUpIOResponse"/>
</operation>
<operation name="DeleteAcClassTfrFS">
<input message="tns:DeleteAcClassTfrFS"/>
<output message="tns:DeleteAcClassTfrFSResponse"/>
</operation>
<operation name="DeleteAcClassTfrIO">
<input message="tns:DeleteAcClassTfrIO"/>
<output message="tns:DeleteAcClassTfrIOResponse"/>
</operation>
<operation name="DeleteAutoDepInsFS">
<input message="tns:DeleteAutoDepInsFS"/>
<output message="tns:DeleteAutoDepInsFSResponse"/>
</operation>
<operation name="DeleteAutoDepInsIO">
<input message="tns:DeleteAutoDepInsIO"/>
<output message="tns:DeleteAutoDepInsIOResponse"/>
</operation>
<operation name="AuthorizeTDTopUpIO">
<input message="tns:AuthorizeTDTopUpIO"/>
<output message="tns:AuthorizeTDTopUpIOResponse"/>
</operation>
<operation name="AuthorizeTDCustAccFS">
<input message="tns:AuthorizeTDCustAccFS"/>
<output message="tns:AuthorizeTDCustAccFSResponse"/>
</operation>
<operation name="AuthorizeTDCustAccIO">
<input message="tns:AuthorizeTDCustAccIO"/>
<output message="tns:AuthorizeTDCustAccIOResponse"/>
</operation>
<operation name="AuthorizeTDTopUpFS">
<input message="tns:AuthorizeTDTopUpFS"/>
<output message="tns:AuthorizeTDTopUpFSResponse"/>
</operation>
<operation name="CheckDetailsQueryIO">
<input message="tns:CheckDetailsQueryIO"/>
<output message="tns:CheckDetailsQueryIOResponse"/>
</operation>
<operation name="DeleteCbStmtFS">
<input message="tns:DeleteCbStmtFS"/>
<output message="tns:DeleteCbStmtFSResponse"/>
</operation>
<operation name="DeleteCbStmtIO">
<input message="tns:DeleteCbStmtIO"/>
<output message="tns:DeleteCbStmtIOResponse"/>
</operation>
<operation name="DeleteCheckBookFS">
<input message="tns:DeleteCheckBookFS"/>
<output message="tns:DeleteCheckBookFSResponse"/>
</operation>
<operation name="DeleteCheckBookIO">
<input message="tns:DeleteCheckBookIO"/>
<output message="tns:DeleteCheckBookIOResponse"/>
</operation>
<operation name="DeleteChqArchivalFS">
<input message="tns:DeleteChqArchivalFS"/>
<output message="tns:DeleteChqArchivalFSResponse"/>
</operation>
<operation name="DeleteChqArchivalIO">
<input message="tns:DeleteChqArchivalIO"/>
<output message="tns:DeleteChqArchivalIOResponse"/>
</operation>
<operation name="DeleteCustAccFS">
<input message="tns:DeleteCustAccFS"/>
<output message="tns:DeleteCustAccFSResponse"/>
</operation>
<operation name="DeleteCustAccIO">
<input message="tns:DeleteCustAccIO"/>
<output message="tns:DeleteCustAccIOResponse"/>
</operation>
<operation name="DeleteStopPaymentsFS">
<input message="tns:DeleteStopPaymentsFS"/>
<output message="tns:DeleteStopPaymentsFSResponse"/>
</operation>
<operation name="DeleteStopPaymentsIO">
<input message="tns:DeleteStopPaymentsIO"/>
<output message="tns:DeleteStopPaymentsIOResponse"/>
</operation>
<operation name="DeleteTDCustAccFS">
<input message="tns:DeleteTDCustAccFS"/>
<output message="tns:DeleteTDCustAccFSResponse"/>
</operation>
<operation name="DeleteTDCustAccIO">
<input message="tns:DeleteTDCustAccIO"/>
<output message="tns:DeleteTDCustAccIOResponse"/>
</operation>
<operation name="DeleteTDTopUpFS">
<input message="tns:DeleteTDTopUpFS"/>
<output message="tns:DeleteTDTopUpFSResponse"/>
</operation>
<operation name="DeleteTDTopUpIO">
<input message="tns:DeleteTDTopUpIO"/>
<output message="tns:DeleteTDTopUpIOResponse"/>
</operation>
<operation name="ModifyAcClassTfrFS">
<input message="tns:ModifyAcClassTfrFS"/>
<output message="tns:ModifyAcClassTfrFSResponse"/>
</operation>
<operation name="ModifyAcClassTfrIO">
<input message="tns:ModifyAcClassTfrIO"/>
<output message="tns:ModifyAcClassTfrIOResponse"/>
</operation>
<operation name="ModifyAutoDepInsFS">
<input message="tns:ModifyAutoDepInsFS"/>
<output message="tns:ModifyAutoDepInsFSResponse"/>
</operation>
<operation name="ModifyAutoDepInsIO">
<input message="tns:ModifyAutoDepInsIO"/>
<output message="tns:ModifyAutoDepInsIOResponse"/>
</operation>
<operation name="ModifyCbStmtFS">
<input message="tns:ModifyCbStmtFS"/>
<output message="tns:ModifyCbStmtFSResponse"/>
</operation>
<operation name="ModifyCbStmtIO">
<input message="tns:ModifyCbStmtIO"/>
<output message="tns:ModifyCbStmtIOResponse"/>
</operation>
<operation name="ModifyCheckBookFS">
<input message="tns:ModifyCheckBookFS"/>
<output message="tns:ModifyCheckBookFSResponse"/>
</operation>
<operation name="ModifyCheckBookIO">
<input message="tns:ModifyCheckBookIO"/>
<output message="tns:ModifyCheckBookIOResponse"/>
</operation>
<operation name="ModifyCheckDetailsFS">
<input message="tns:ModifyCheckDetailsFS"/>
<output message="tns:ModifyCheckDetailsFSResponse"/>
</operation>
<operation name="ModifyCheckDetailsIO">
<input message="tns:ModifyCheckDetailsIO"/>
<output message="tns:ModifyCheckDetailsIOResponse"/>
</operation>
<operation name="ModifyChqArchivalFS">
<input message="tns:ModifyChqArchivalFS"/>
<output message="tns:ModifyChqArchivalFSResponse"/>
</operation>
<operation name="ModifyChqArchivalIO">
<input message="tns:ModifyChqArchivalIO"/>
<output message="tns:ModifyChqArchivalIOResponse"/>
</operation>
<operation name="ModifyCustAccFS">
<input message="tns:ModifyCustAccFS"/>
<output message="tns:ModifyCustAccFSResponse"/>
</operation>
<operation name="ModifyCustAccIO">
<input message="tns:ModifyCustAccIO"/>
<output message="tns:ModifyCustAccIOResponse"/>
</operation>
<operation name="ModifyStopPaymentsFS">
<input message="tns:ModifyStopPaymentsFS"/>
<output message="tns:ModifyStopPaymentsFSResponse"/>
</operation>
<operation name="ModifyStopPaymentsIO">
<input message="tns:ModifyStopPaymentsIO"/>
<output message="tns:ModifyStopPaymentsIOResponse"/>
</operation>
<operation name="ModifyTDCustAccFS">
<input message="tns:ModifyTDCustAccFS"/>
<output message="tns:ModifyTDCustAccFSResponse"/>
</operation>
<operation name="ModifyTDCustAccIO">
<input message="tns:ModifyTDCustAccIO"/>
<output message="tns:ModifyTDCustAccIOResponse"/>
</operation>
<operation name="ModifyTDTopUpFS">
<input message="tns:ModifyTDTopUpFS"/>
<output message="tns:ModifyTDTopUpFSResponse"/>
</operation>
<operation name="ModifyTDTopUpIO">
<input message="tns:ModifyTDTopUpIO"/>
<output message="tns:ModifyTDTopUpIOResponse"/>
</operation>
<operation name="QueryAcClassTfrIO">
<input message="tns:QueryAcClassTfrIO"/>
<output message="tns:QueryAcClassTfrIOResponse"/>
</operation>
<operation name="QueryAccBalIO">
<input message="tns:QueryAccBalIO"/>
<output message="tns:QueryAccBalIOResponse"/>
</operation>
<operation name="QueryAccSummIO">
<input message="tns:QueryAccSummIO"/>
<output message="tns:QueryAccSummIOResponse"/>
</operation>
<operation name="QueryAutoDepInsIO">
<input message="tns:QueryAutoDepInsIO"/>
<output message="tns:QueryAutoDepInsIOResponse"/>
</operation>
<operation name="QueryCbStmtIO">
<input message="tns:QueryCbStmtIO"/>
<output message="tns:QueryCbStmtIOResponse"/>
</operation>
<operation name="QueryCheckBookIO">
<input message="tns:QueryCheckBookIO"/>
<output message="tns:QueryCheckBookIOResponse"/>
</operation>
<operation name="QueryCheckDetailsIO">
<input message="tns:QueryCheckDetailsIO"/>
<output message="tns:QueryCheckDetailsIOResponse"/>
</operation>
<operation name="QueryChqArchivalIO">
<input message="tns:QueryChqArchivalIO"/>
<output message="tns:QueryChqArchivalIOResponse"/>
</operation>
<operation name="QueryCustAccIO">
<input message="tns:QueryCustAccIO"/>
<output message="tns:QueryCustAccIOResponse"/>
</operation>
<operation name="QueryCustAccBalanceIO">
<input message="tns:QueryCustAccBalanceIO"/>
<output message="tns:QueryCustAccBalanceIOResponse"/>
</operation>
<operation name="QueryGenAdviceIO">
<input message="tns:QueryGenAdviceIO"/>
<output message="tns:QueryGenAdviceIOResponse"/>
</operation>
<operation name="QueryStopPaymentsIO">
<input message="tns:QueryStopPaymentsIO"/>
<output message="tns:QueryStopPaymentsIOResponse"/>
</operation>
<operation name="QueryTDCustAccIO">
<input message="tns:QueryTDCustAccIO"/>
<output message="tns:QueryTDCustAccIOResponse"/>
</operation>
<operation name="QueryTDCustAccSimIO">
<input message="tns:QueryTDCustAccSimIO"/>
<output message="tns:QueryTDCustAccSimIOResponse"/>
</operation>
<operation name="QueryTDTopUpIO">
<input message="tns:QueryTDTopUpIO"/>
<output message="tns:QueryTDTopUpIOResponse"/>
</operation>
<operation name="QueryTopUpSimIO">
<input message="tns:QueryTopUpSimIO"/>
<output message="tns:QueryTopUpSimIOResponse"/>
</operation>
<operation name="ReopenCbStmtFS">
<input message="tns:ReopenCbStmtFS"/>
<output message="tns:ReopenCbStmtFSResponse"/>
</operation>
<operation name="ReopenCbStmtIO">
<input message="tns:ReopenCbStmtIO"/>
<output message="tns:ReopenCbStmtIOResponse"/>
</operation>
<operation name="ReopenCheckBookFS">
<input message="tns:ReopenCheckBookFS"/>
<output message="tns:ReopenCheckBookFSResponse"/>
</operation>
<operation name="ReopenCheckBookIO">
<input message="tns:ReopenCheckBookIO"/>
<output message="tns:ReopenCheckBookIOResponse"/>
</operation>
<operation name="ReopenCustAccFS">
<input message="tns:ReopenCustAccFS"/>
<output message="tns:ReopenCustAccFSResponse"/>
</operation>
<operation name="ReopenCustAccIO">
<input message="tns:ReopenCustAccIO"/>
<output message="tns:ReopenCustAccIOResponse"/>
</operation>
</portType>
<binding name="FCUBSAccServiceSEIBinding" type="tns:FCUBSAccServiceSEI">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AuthorizeCheckDetailsIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeCheckDetailsFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeChqArchivalFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeChqArchivalIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateAcClassTfrFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseCbStmtFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseCustAccFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseCustAccIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseCheckBookIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseCheckBookFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseCbStmtIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseStopPaymentsFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseStopPaymentsIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseAutoDepInsFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseAutoDepInsIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeStopPaymentsFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeStopPaymentsIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QuerycustAccountDetailsIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeCheckBookFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeCustAccFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeAcClassTfrIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeAutoDepInsIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeAutoDepInsFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeCbStmtIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeCbStmtFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeCheckBookIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeCustAccIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeAcClassTfrFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateAcClassTfrIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateAutoDepInsFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateAutoDepInsIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateCbStmtFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateCbStmtIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateCheckBookFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateCheckBookIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateChqArchivalFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateChqArchivalIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateCustAccFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateCustAccIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateStopPaymentsFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateStopPaymentsIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateTDCustAccFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateTDCustAccIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateTDSimFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateTDSimIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateTDTopUpFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateTDTopUpIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteAcClassTfrFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteAcClassTfrIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteAutoDepInsFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteAutoDepInsIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeTDTopUpIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeTDCustAccFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeTDCustAccIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeTDTopUpFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CheckDetailsQueryIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteCbStmtFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteCbStmtIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteCheckBookFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteCheckBookIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteChqArchivalFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteChqArchivalIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteCustAccFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteCustAccIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteStopPaymentsFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteStopPaymentsIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteTDCustAccFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteTDCustAccIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteTDTopUpFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteTDTopUpIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyAcClassTfrFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyAcClassTfrIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyAutoDepInsFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyAutoDepInsIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyCbStmtFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyCbStmtIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyCheckBookFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyCheckBookIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyCheckDetailsFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyCheckDetailsIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyChqArchivalFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyChqArchivalIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyCustAccFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyCustAccIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyStopPaymentsFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyStopPaymentsIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyTDCustAccFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyTDCustAccIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyTDTopUpFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyTDTopUpIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryAcClassTfrIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryAccBalIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryAccSummIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryAutoDepInsIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryCbStmtIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryCheckBookIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryCheckDetailsIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryChqArchivalIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryCustAccIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryCustAccBalanceIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryGenAdviceIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryStopPaymentsIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryTDCustAccIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryTDCustAccSimIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryTDTopUpIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryTopUpSimIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReopenCbStmtFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReopenCbStmtIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReopenCheckBookFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReopenCheckBookIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReopenCustAccFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReopenCustAccIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FCUBSAccService">
<port name="FCUBSAccServiceSEI" binding="tns:FCUBSAccServiceSEIBinding">
<soap:address location="http://10.8.0.134:1112/FCUBSAccService/FCUBSAccService"/>
</port>
</service>
</definitions>