web/WEB-INF/wsdl/10.8.0.134_1112/FCUBSCustomerService/FCUBSCustomerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://types.ws.gw.fcubs.ofss.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://types.ws.gw.fcubs.ofss.com" name="FCUBSCustomerService">
<types>
<xsd:schema>
<xsd:import namespace="http://fcubs.ofss.com/service/FCUBSCustomerService" schemaLocation="http://10.8.0.134:1112/FCUBSCustomerService/FCUBSCustomerService?xsd=1"/>
</xsd:schema>
</types>
<message name="AmountBlocksAuthorizeIO">
<part xmlns:ns1="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns1:AMOUNTBLOCKSAUTHORIZE_IOPK_REQ"/>
</message>
<message name="AmountBlocksAuthorizeIOResponse">
<part xmlns:ns2="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns2:AMOUNTBLOCKSAUTHORIZE_IOPK_RES"/>
</message>
<message name="AmountBlocksAuthorizeFS">
<part xmlns:ns3="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns3:AMOUNTBLOCKSAUTHORIZE_FSFS_REQ"/>
</message>
<message name="AmountBlocksAuthorizeFSResponse">
<part xmlns:ns4="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns4:AMOUNTBLOCKSAUTHORIZE_FSFS_RES"/>
</message>
<message name="AuthorizeCustSegAssociationFS">
<part xmlns:ns5="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns5:AUTHORIZECUSTSEGASSOCIATION_FSFS_REQ"/>
</message>
<message name="AuthorizeCustSegAssociationFSResponse">
<part xmlns:ns6="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns6:AUTHORIZECUSTSEGASSOCIATION_FSFS_RES"/>
</message>
<message name="AuthorizeCustSegAssociationIO">
<part xmlns:ns7="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns7:AUTHORIZECUSTSEGASSOCIATION_IOPK_REQ"/>
</message>
<message name="AuthorizeCustSegAssociationIOResponse">
<part xmlns:ns8="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns8:AUTHORIZECUSTSEGASSOCIATION_IOPK_RES"/>
</message>
<message name="AuthorizeTDAmountBlockFS">
<part xmlns:ns9="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns9:AUTHORIZETDAMOUNTBLOCK_FSFS_REQ"/>
</message>
<message name="AuthorizeTDAmountBlockFSResponse">
<part xmlns:ns10="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns10:AUTHORIZETDAMOUNTBLOCK_FSFS_RES"/>
</message>
<message name="AuthorizeTDAmountBlockIO">
<part xmlns:ns11="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns11:AUTHORIZETDAMOUNTBLOCK_IOPK_REQ"/>
</message>
<message name="AuthorizeTDAmountBlockIOResponse">
<part xmlns:ns12="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns12:AUTHORIZETDAMOUNTBLOCK_IOPK_RES"/>
</message>
<message name="CloseCustSegAssociationFS">
<part xmlns:ns13="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns13:CLOSECUSTSEGASSOCIATION_FSFS_REQ"/>
</message>
<message name="CloseCustSegAssociationFSResponse">
<part xmlns:ns14="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns14:CLOSECUSTSEGASSOCIATION_FSFS_RES"/>
</message>
<message name="CloseCustSegAssociationIO">
<part xmlns:ns15="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns15:CLOSECUSTSEGASSOCIATION_IOPK_REQ"/>
</message>
<message name="CloseCustSegAssociationIOResponse">
<part xmlns:ns16="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns16:CLOSECUSTSEGASSOCIATION_IOPK_RES"/>
</message>
<message name="CreateAccountStructureFS">
<part xmlns:ns17="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns17:CREATEACCOUNTSTRUCTURE_FSFS_REQ"/>
</message>
<message name="CreateAccountStructureFSResponse">
<part xmlns:ns18="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns18:CREATEACCOUNTSTRUCTURE_FSFS_RES"/>
</message>
<message name="CreateAccountStructureIO">
<part xmlns:ns19="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns19:CREATEACCOUNTSTRUCTURE_IOPK_REQ"/>
</message>
<message name="CreateAccountStructureIOResponse">
<part xmlns:ns20="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns20:CREATEACCOUNTSTRUCTURE_IOPK_RES"/>
</message>
<message name="CreateCustSegAssociationFS">
<part xmlns:ns21="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns21:CREATECUSTSEGASSOCIATION_FSFS_REQ"/>
</message>
<message name="CreateCustSegAssociationFSResponse">
<part xmlns:ns22="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns22:CREATECUSTSEGASSOCIATION_FSFS_RES"/>
</message>
<message name="CreateCustSegAssociationIO">
<part xmlns:ns23="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns23:CREATECUSTSEGASSOCIATION_IOPK_REQ"/>
</message>
<message name="CreateCustSegAssociationIOResponse">
<part xmlns:ns24="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns24:CREATECUSTSEGASSOCIATION_IOPK_RES"/>
</message>
<message name="DeleteCustSegAssociationFS">
<part xmlns:ns25="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns25:DELETECUSTSEGASSOCIATION_FSFS_REQ"/>
</message>
<message name="DeleteCustSegAssociationFSResponse">
<part xmlns:ns26="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns26:DELETECUSTSEGASSOCIATION_FSFS_RES"/>
</message>
<message name="DeleteCustSegAssociationIO">
<part xmlns:ns27="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns27:DELETECUSTSEGASSOCIATION_IOPK_REQ"/>
</message>
<message name="DeleteCustSegAssociationIOResponse">
<part xmlns:ns28="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns28:DELETECUSTSEGASSOCIATION_IOPK_RES"/>
</message>
<message name="ModifyAccountStructureFS">
<part xmlns:ns29="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns29:MODIFYACCOUNTSTRUCTURE_FSFS_REQ"/>
</message>
<message name="ModifyAccountStructureFSResponse">
<part xmlns:ns30="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns30:MODIFYACCOUNTSTRUCTURE_FSFS_RES"/>
</message>
<message name="ModifyAccountStructureIO">
<part xmlns:ns31="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns31:MODIFYACCOUNTSTRUCTURE_IOPK_REQ"/>
</message>
<message name="ModifyAccountStructureIOResponse">
<part xmlns:ns32="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns32:MODIFYACCOUNTSTRUCTURE_IOPK_RES"/>
</message>
<message name="ModifyCustSegAssociationFS">
<part xmlns:ns33="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns33:MODIFYCUSTSEGASSOCIATION_FSFS_REQ"/>
</message>
<message name="ModifyCustSegAssociationFSResponse">
<part xmlns:ns34="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns34:MODIFYCUSTSEGASSOCIATION_FSFS_RES"/>
</message>
<message name="ModifyCustSegAssociationIO">
<part xmlns:ns35="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns35:MODIFYCUSTSEGASSOCIATION_IOPK_REQ"/>
</message>
<message name="ModifyCustSegAssociationIOResponse">
<part xmlns:ns36="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns36:MODIFYCUSTSEGASSOCIATION_IOPK_RES"/>
</message>
<message name="QueryAccountStructureIO">
<part xmlns:ns37="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns37:QUERYACCOUNTSTRUCTURE_IOFS_REQ"/>
</message>
<message name="QueryAccountStructureIOResponse">
<part xmlns:ns38="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns38:QUERYACCOUNTSTRUCTURE_IOFS_RES"/>
</message>
<message name="QueryCustSegAssociationIO">
<part xmlns:ns39="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns39:QUERYCUSTSEGASSOCIATION_IOFS_REQ"/>
</message>
<message name="QueryCustSegAssociationIOResponse">
<part xmlns:ns40="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns40:QUERYCUSTSEGASSOCIATION_IOFS_RES"/>
</message>
<message name="ReopenCustSegAssociationFS">
<part xmlns:ns41="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns41:REOPENCUSTSEGASSOCIATION_FSFS_REQ"/>
</message>
<message name="ReopenCustSegAssociationFSResponse">
<part xmlns:ns42="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns42:REOPENCUSTSEGASSOCIATION_FSFS_RES"/>
</message>
<message name="ReopenCustSegAssociationIO">
<part xmlns:ns43="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns43:REOPENCUSTSEGASSOCIATION_IOPK_REQ"/>
</message>
<message name="ReopenCustSegAssociationIOResponse">
<part xmlns:ns44="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns44:REOPENCUSTSEGASSOCIATION_IOPK_RES"/>
</message>
<message name="AmountBlocksCloseFS">
<part xmlns:ns45="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns45:AMOUNTBLOCKSCLOSE_FSFS_REQ"/>
</message>
<message name="AmountBlocksCloseFSResponse">
<part xmlns:ns46="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns46:AMOUNTBLOCKSCLOSE_FSFS_RES"/>
</message>
<message name="AmountBlocksCloseIO">
<part xmlns:ns47="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns47:AMOUNTBLOCKSCLOSE_IOPK_REQ"/>
</message>
<message name="AmountBlocksCloseIOResponse">
<part xmlns:ns48="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns48:AMOUNTBLOCKSCLOSE_IOPK_RES"/>
</message>
<message name="AmountBlocksDeleteFS">
<part xmlns:ns49="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns49:AMOUNTBLOCKSDELETE_FSFS_REQ"/>
</message>
<message name="AmountBlocksDeleteFSResponse">
<part xmlns:ns50="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns50:AMOUNTBLOCKSDELETE_FSFS_RES"/>
</message>
<message name="AmountBlocksDeleteIO">
<part xmlns:ns51="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns51:AMOUNTBLOCKSDELETE_IOPK_REQ"/>
</message>
<message name="AmountBlocksDeleteIOResponse">
<part xmlns:ns52="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns52:AMOUNTBLOCKSDELETE_IOPK_RES"/>
</message>
<message name="AmountBlocksModifyFS">
<part xmlns:ns53="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns53:AMOUNTBLOCKSMODIFY_FSFS_REQ"/>
</message>
<message name="AmountBlocksModifyFSResponse">
<part xmlns:ns54="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns54:AMOUNTBLOCKSMODIFY_FSFS_RES"/>
</message>
<message name="AmountBlocksModifyIO">
<part xmlns:ns55="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns55:AMOUNTBLOCKSMODIFY_IOPK_REQ"/>
</message>
<message name="AmountBlocksModifyIOResponse">
<part xmlns:ns56="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns56:AMOUNTBLOCKSMODIFY_IOPK_RES"/>
</message>
<message name="AmountBlocksNewFS">
<part xmlns:ns57="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns57:AMOUNTBLOCKSNEW_FSFS_REQ"/>
</message>
<message name="AmountBlocksNewFSResponse">
<part xmlns:ns58="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns58:AMOUNTBLOCKSNEW_FSFS_RES"/>
</message>
<message name="AmountBlocksNewIO">
<part xmlns:ns59="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns59:AMOUNTBLOCKSNEW_IOPK_REQ"/>
</message>
<message name="AmountBlocksNewIOResponse">
<part xmlns:ns60="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns60:AMOUNTBLOCKSNEW_IOPK_RES"/>
</message>
<message name="AmountBlocksQueryIO">
<part xmlns:ns61="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns61:AMOUNTBLOCKSQUERY_IOFS_REQ"/>
</message>
<message name="AmountBlocksQueryIOResponse">
<part xmlns:ns62="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns62:AMOUNTBLOCKSQUERY_IOFS_RES"/>
</message>
<message name="AmountBlocksReopenFS">
<part xmlns:ns63="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns63:AMOUNTBLOCKSREOPEN_FSFS_REQ"/>
</message>
<message name="AmountBlocksReopenFSResponse">
<part xmlns:ns64="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns64:AMOUNTBLOCKSREOPEN_FSFS_RES"/>
</message>
<message name="AmountBlocksReopenIO">
<part xmlns:ns65="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns65:AMOUNTBLOCKSREOPEN_IOPK_REQ"/>
</message>
<message name="AmountBlocksReopenIOResponse">
<part xmlns:ns66="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns66:AMOUNTBLOCKSREOPEN_IOPK_RES"/>
</message>
<message name="AuthorizeAmtBlkFS">
<part xmlns:ns67="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns67:AUTHORIZEAMTBLK_FSFS_REQ"/>
</message>
<message name="AuthorizeAmtBlkFSResponse">
<part xmlns:ns68="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns68:AUTHORIZEAMTBLK_FSFS_RES"/>
</message>
<message name="AuthorizeAmtBlkIO">
<part xmlns:ns69="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns69:AUTHORIZEAMTBLK_IOPK_REQ"/>
</message>
<message name="AuthorizeAmtBlkIOResponse">
<part xmlns:ns70="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns70:AUTHORIZEAMTBLK_IOPK_RES"/>
</message>
<message name="AuthorizeCustomerFS">
<part xmlns:ns71="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns71:AUTHORIZECUSTOMER_FSFS_REQ"/>
</message>
<message name="AuthorizeCustomerFSResponse">
<part xmlns:ns72="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns72:AUTHORIZECUSTOMER_FSFS_RES"/>
</message>
<message name="AuthorizeCustomerIO">
<part xmlns:ns73="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns73:AUTHORIZECUSTOMER_IOPK_REQ"/>
</message>
<message name="AuthorizeCustomerIOResponse">
<part xmlns:ns74="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns74:AUTHORIZECUSTOMER_IOPK_RES"/>
</message>
<message name="CloseAmtBlkFS">
<part xmlns:ns75="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns75:CLOSEAMTBLK_FSFS_REQ"/>
</message>
<message name="CloseAmtBlkFSResponse">
<part xmlns:ns76="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns76:CLOSEAMTBLK_FSFS_RES"/>
</message>
<message name="CloseAmtBlkIO">
<part xmlns:ns77="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns77:CLOSEAMTBLK_IOPK_REQ"/>
</message>
<message name="CloseAmtBlkIOResponse">
<part xmlns:ns78="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns78:CLOSEAMTBLK_IOPK_RES"/>
</message>
<message name="CloseCustomerFS">
<part xmlns:ns79="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns79:CLOSECUSTOMER_FSFS_REQ"/>
</message>
<message name="CloseCustomerFSResponse">
<part xmlns:ns80="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns80:CLOSECUSTOMER_FSFS_RES"/>
</message>
<message name="CloseCustomerIO">
<part xmlns:ns81="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns81:CLOSECUSTOMER_IOPK_REQ"/>
</message>
<message name="CloseCustomerIOResponse">
<part xmlns:ns82="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns82:CLOSECUSTOMER_IOPK_RES"/>
</message>
<message name="CloseTDAmountBlockFS">
<part xmlns:ns83="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns83:CLOSETDAMOUNTBLOCK_FSFS_REQ"/>
</message>
<message name="CloseTDAmountBlockFSResponse">
<part xmlns:ns84="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns84:CLOSETDAMOUNTBLOCK_FSFS_RES"/>
</message>
<message name="CloseTDAmountBlockIO">
<part xmlns:ns85="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns85:CLOSETDAMOUNTBLOCK_IOPK_REQ"/>
</message>
<message name="CloseTDAmountBlockIOResponse">
<part xmlns:ns86="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns86:CLOSETDAMOUNTBLOCK_IOPK_RES"/>
</message>
<message name="CreateAmtBlkFS">
<part xmlns:ns87="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns87:CREATEAMTBLK_FSFS_REQ"/>
</message>
<message name="CreateAmtBlkFSResponse">
<part xmlns:ns88="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns88:CREATEAMTBLK_FSFS_RES"/>
</message>
<message name="CreateAmtBlkIO">
<part xmlns:ns89="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns89:CREATEAMTBLK_IOPK_REQ"/>
</message>
<message name="CreateAmtBlkIOResponse">
<part xmlns:ns90="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns90:CREATEAMTBLK_IOPK_RES"/>
</message>
<message name="CreateCustomerFS">
<part xmlns:ns91="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns91:CREATECUSTOMER_FSFS_REQ"/>
</message>
<message name="CreateCustomerFSResponse">
<part xmlns:ns92="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns92:CREATECUSTOMER_FSFS_RES"/>
</message>
<message name="CreateCustomerIO">
<part xmlns:ns93="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns93:CREATECUSTOMER_IOPK_REQ"/>
</message>
<message name="CreateCustomerIOResponse">
<part xmlns:ns94="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns94:CREATECUSTOMER_IOPK_RES"/>
</message>
<message name="CreateNSFMutualFS">
<part xmlns:ns95="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns95:CREATENSFMUTUAL_FSFS_REQ"/>
</message>
<message name="CreateNSFMutualFSResponse">
<part xmlns:ns96="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns96:CREATENSFMUTUAL_FSFS_RES"/>
</message>
<message name="CreateNSFMutualIO">
<part xmlns:ns97="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns97:CREATENSFMUTUAL_IOPK_REQ"/>
</message>
<message name="CreateNSFMutualIOResponse">
<part xmlns:ns98="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns98:CREATENSFMUTUAL_IOPK_RES"/>
</message>
<message name="CreateTDAmountBlockFS">
<part xmlns:ns99="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns99:CREATETDAMOUNTBLOCK_FSFS_REQ"/>
</message>
<message name="CreateTDAmountBlockFSResponse">
<part xmlns:ns100="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns100:CREATETDAMOUNTBLOCK_FSFS_RES"/>
</message>
<message name="CreateTDAmountBlockIO">
<part xmlns:ns101="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns101:CREATETDAMOUNTBLOCK_IOPK_REQ"/>
</message>
<message name="CreateTDAmountBlockIOResponse">
<part xmlns:ns102="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns102:CREATETDAMOUNTBLOCK_IOPK_RES"/>
</message>
<message name="DeleteAmtBlkFS">
<part xmlns:ns103="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns103:DELETEAMTBLK_FSFS_REQ"/>
</message>
<message name="DeleteAmtBlkFSResponse">
<part xmlns:ns104="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns104:DELETEAMTBLK_FSFS_RES"/>
</message>
<message name="DeleteAmtBlkIO">
<part xmlns:ns105="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns105:DELETEAMTBLK_IOPK_REQ"/>
</message>
<message name="DeleteAmtBlkIOResponse">
<part xmlns:ns106="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns106:DELETEAMTBLK_IOPK_RES"/>
</message>
<message name="DeleteCustomerFS">
<part xmlns:ns107="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns107:DELETECUSTOMER_FSFS_REQ"/>
</message>
<message name="DeleteCustomerFSResponse">
<part xmlns:ns108="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns108:DELETECUSTOMER_FSFS_RES"/>
</message>
<message name="DeleteCustomerIO">
<part xmlns:ns109="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns109:DELETECUSTOMER_IOPK_REQ"/>
</message>
<message name="DeleteCustomerIOResponse">
<part xmlns:ns110="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns110:DELETECUSTOMER_IOPK_RES"/>
</message>
<message name="DeleteTDAmountBlockFS">
<part xmlns:ns111="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns111:DELETETDAMOUNTBLOCK_FSFS_REQ"/>
</message>
<message name="DeleteTDAmountBlockFSResponse">
<part xmlns:ns112="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns112:DELETETDAMOUNTBLOCK_FSFS_RES"/>
</message>
<message name="DeleteTDAmountBlockIO">
<part xmlns:ns113="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns113:DELETETDAMOUNTBLOCK_IOPK_REQ"/>
</message>
<message name="DeleteTDAmountBlockIOResponse">
<part xmlns:ns114="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns114:DELETETDAMOUNTBLOCK_IOPK_RES"/>
</message>
<message name="ModifyAmtBlkFS">
<part xmlns:ns115="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns115:MODIFYAMTBLK_FSFS_REQ"/>
</message>
<message name="ModifyAmtBlkFSResponse">
<part xmlns:ns116="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns116:MODIFYAMTBLK_FSFS_RES"/>
</message>
<message name="ModifyAmtBlkIO">
<part xmlns:ns117="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns117:MODIFYAMTBLK_IOPK_REQ"/>
</message>
<message name="ModifyAmtBlkIOResponse">
<part xmlns:ns118="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns118:MODIFYAMTBLK_IOPK_RES"/>
</message>
<message name="ModifyCustomerFS">
<part xmlns:ns119="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns119:MODIFYCUSTOMER_FSFS_REQ"/>
</message>
<message name="ModifyCustomerFSResponse">
<part xmlns:ns120="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns120:MODIFYCUSTOMER_FSFS_RES"/>
</message>
<message name="ModifyCustomerIO">
<part xmlns:ns121="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns121:MODIFYCUSTOMER_IOPK_REQ"/>
</message>
<message name="ModifyCustomerIOResponse">
<part xmlns:ns122="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns122:MODIFYCUSTOMER_IOPK_RES"/>
</message>
<message name="ModifyNSFMutualFS">
<part xmlns:ns123="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns123:MODIFYNSFMUTUAL_FSFS_REQ"/>
</message>
<message name="ModifyNSFMutualFSResponse">
<part xmlns:ns124="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns124:MODIFYNSFMUTUAL_FSFS_RES"/>
</message>
<message name="ModifyNSFMutualIO">
<part xmlns:ns125="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns125:MODIFYNSFMUTUAL_IOPK_REQ"/>
</message>
<message name="ModifyNSFMutualIOResponse">
<part xmlns:ns126="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns126:MODIFYNSFMUTUAL_IOPK_RES"/>
</message>
<message name="ModifyTDAmountBlockFS">
<part xmlns:ns127="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns127:MODIFYTDAMOUNTBLOCK_FSFS_REQ"/>
</message>
<message name="ModifyTDAmountBlockFSResponse">
<part xmlns:ns128="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns128:MODIFYTDAMOUNTBLOCK_FSFS_RES"/>
</message>
<message name="ModifyTDAmountBlockIO">
<part xmlns:ns129="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns129:MODIFYTDAMOUNTBLOCK_IOPK_REQ"/>
</message>
<message name="ModifyTDAmountBlockIOResponse">
<part xmlns:ns130="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns130:MODIFYTDAMOUNTBLOCK_IOPK_RES"/>
</message>
<message name="QueryAmtBlkIO">
<part xmlns:ns131="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns131:QUERYAMTBLK_IOFS_REQ"/>
</message>
<message name="QueryAmtBlkIOResponse">
<part xmlns:ns132="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns132:QUERYAMTBLK_IOFS_RES"/>
</message>
<message name="QueryCustomerIO">
<part xmlns:ns133="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns133:QUERYCUSTOMER_IOFS_REQ"/>
</message>
<message name="QueryCustomerIOResponse">
<part xmlns:ns134="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns134:QUERYCUSTOMER_IOFS_RES"/>
</message>
<message name="QueryNSFCBenqIO">
<part xmlns:ns135="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns135:QUERYNSFCBENQ_IOFS_REQ"/>
</message>
<message name="QueryNSFCBenqIOResponse">
<part xmlns:ns136="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns136:QUERYNSFCBENQ_IOFS_RES"/>
</message>
<message name="QueryNSFCheckIO">
<part xmlns:ns137="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns137:QUERYNSFCHECK_IOFS_REQ"/>
</message>
<message name="QueryNSFCheckIOResponse">
<part xmlns:ns138="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns138:QUERYNSFCHECK_IOFS_RES"/>
</message>
<message name="QueryNSFMutualIO">
<part xmlns:ns139="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns139:QUERYNSFMUTUAL_IOFS_REQ"/>
</message>
<message name="QueryNSFMutualIOResponse">
<part xmlns:ns140="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns140:QUERYNSFMUTUAL_IOFS_RES"/>
</message>
<message name="QueryTDAmountBlockIO">
<part xmlns:ns141="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns141:QUERYTDAMOUNTBLOCK_IOFS_REQ"/>
</message>
<message name="QueryTDAmountBlockIOResponse">
<part xmlns:ns142="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns142:QUERYTDAMOUNTBLOCK_IOFS_RES"/>
</message>
<message name="ReopenAmtBlkFS">
<part xmlns:ns143="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns143:REOPENAMTBLK_FSFS_REQ"/>
</message>
<message name="ReopenAmtBlkFSResponse">
<part xmlns:ns144="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns144:REOPENAMTBLK_FSFS_RES"/>
</message>
<message name="ReopenAmtBlkIO">
<part xmlns:ns145="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns145:REOPENAMTBLK_IOPK_REQ"/>
</message>
<message name="ReopenAmtBlkIOResponse">
<part xmlns:ns146="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns146:REOPENAMTBLK_IOPK_RES"/>
</message>
<message name="ReopenCustomerFS">
<part xmlns:ns147="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns147:REOPENCUSTOMER_FSFS_REQ"/>
</message>
<message name="ReopenCustomerFSResponse">
<part xmlns:ns148="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns148:REOPENCUSTOMER_FSFS_RES"/>
</message>
<message name="ReopenCustomerIO">
<part xmlns:ns149="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns149:REOPENCUSTOMER_IOPK_REQ"/>
</message>
<message name="ReopenCustomerIOResponse">
<part xmlns:ns150="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns150:REOPENCUSTOMER_IOPK_RES"/>
</message>
<message name="ReopenTDAmountBlockFS">
<part xmlns:ns151="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns151:REOPENTDAMOUNTBLOCK_FSFS_REQ"/>
</message>
<message name="ReopenTDAmountBlockFSResponse">
<part xmlns:ns152="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns152:REOPENTDAMOUNTBLOCK_FSFS_RES"/>
</message>
<message name="ReopenTDAmountBlockIO">
<part xmlns:ns153="http://fcubs.ofss.com/service/FCUBSCustomerService" name="RequestMsg" element="ns153:REOPENTDAMOUNTBLOCK_IOPK_REQ"/>
</message>
<message name="ReopenTDAmountBlockIOResponse">
<part xmlns:ns154="http://fcubs.ofss.com/service/FCUBSCustomerService" name="ResponseMsg" element="ns154:REOPENTDAMOUNTBLOCK_IOPK_RES"/>
</message>
<portType name="FCUBSCustomerServiceSEI">
<operation name="AmountBlocksAuthorizeIO">
<input message="tns:AmountBlocksAuthorizeIO"/>
<output message="tns:AmountBlocksAuthorizeIOResponse"/>
</operation>
<operation name="AmountBlocksAuthorizeFS">
<input message="tns:AmountBlocksAuthorizeFS"/>
<output message="tns:AmountBlocksAuthorizeFSResponse"/>
</operation>
<operation name="AuthorizeCustSegAssociationFS">
<input message="tns:AuthorizeCustSegAssociationFS"/>
<output message="tns:AuthorizeCustSegAssociationFSResponse"/>
</operation>
<operation name="AuthorizeCustSegAssociationIO">
<input message="tns:AuthorizeCustSegAssociationIO"/>
<output message="tns:AuthorizeCustSegAssociationIOResponse"/>
</operation>
<operation name="AuthorizeTDAmountBlockFS">
<input message="tns:AuthorizeTDAmountBlockFS"/>
<output message="tns:AuthorizeTDAmountBlockFSResponse"/>
</operation>
<operation name="AuthorizeTDAmountBlockIO">
<input message="tns:AuthorizeTDAmountBlockIO"/>
<output message="tns:AuthorizeTDAmountBlockIOResponse"/>
</operation>
<operation name="CloseCustSegAssociationFS">
<input message="tns:CloseCustSegAssociationFS"/>
<output message="tns:CloseCustSegAssociationFSResponse"/>
</operation>
<operation name="CloseCustSegAssociationIO">
<input message="tns:CloseCustSegAssociationIO"/>
<output message="tns:CloseCustSegAssociationIOResponse"/>
</operation>
<operation name="CreateAccountStructureFS">
<input message="tns:CreateAccountStructureFS"/>
<output message="tns:CreateAccountStructureFSResponse"/>
</operation>
<operation name="CreateAccountStructureIO">
<input message="tns:CreateAccountStructureIO"/>
<output message="tns:CreateAccountStructureIOResponse"/>
</operation>
<operation name="CreateCustSegAssociationFS">
<input message="tns:CreateCustSegAssociationFS"/>
<output message="tns:CreateCustSegAssociationFSResponse"/>
</operation>
<operation name="CreateCustSegAssociationIO">
<input message="tns:CreateCustSegAssociationIO"/>
<output message="tns:CreateCustSegAssociationIOResponse"/>
</operation>
<operation name="DeleteCustSegAssociationFS">
<input message="tns:DeleteCustSegAssociationFS"/>
<output message="tns:DeleteCustSegAssociationFSResponse"/>
</operation>
<operation name="DeleteCustSegAssociationIO">
<input message="tns:DeleteCustSegAssociationIO"/>
<output message="tns:DeleteCustSegAssociationIOResponse"/>
</operation>
<operation name="ModifyAccountStructureFS">
<input message="tns:ModifyAccountStructureFS"/>
<output message="tns:ModifyAccountStructureFSResponse"/>
</operation>
<operation name="ModifyAccountStructureIO">
<input message="tns:ModifyAccountStructureIO"/>
<output message="tns:ModifyAccountStructureIOResponse"/>
</operation>
<operation name="ModifyCustSegAssociationFS">
<input message="tns:ModifyCustSegAssociationFS"/>
<output message="tns:ModifyCustSegAssociationFSResponse"/>
</operation>
<operation name="ModifyCustSegAssociationIO">
<input message="tns:ModifyCustSegAssociationIO"/>
<output message="tns:ModifyCustSegAssociationIOResponse"/>
</operation>
<operation name="QueryAccountStructureIO">
<input message="tns:QueryAccountStructureIO"/>
<output message="tns:QueryAccountStructureIOResponse"/>
</operation>
<operation name="QueryCustSegAssociationIO">
<input message="tns:QueryCustSegAssociationIO"/>
<output message="tns:QueryCustSegAssociationIOResponse"/>
</operation>
<operation name="ReopenCustSegAssociationFS">
<input message="tns:ReopenCustSegAssociationFS"/>
<output message="tns:ReopenCustSegAssociationFSResponse"/>
</operation>
<operation name="ReopenCustSegAssociationIO">
<input message="tns:ReopenCustSegAssociationIO"/>
<output message="tns:ReopenCustSegAssociationIOResponse"/>
</operation>
<operation name="AmountBlocksCloseFS">
<input message="tns:AmountBlocksCloseFS"/>
<output message="tns:AmountBlocksCloseFSResponse"/>
</operation>
<operation name="AmountBlocksCloseIO">
<input message="tns:AmountBlocksCloseIO"/>
<output message="tns:AmountBlocksCloseIOResponse"/>
</operation>
<operation name="AmountBlocksDeleteFS">
<input message="tns:AmountBlocksDeleteFS"/>
<output message="tns:AmountBlocksDeleteFSResponse"/>
</operation>
<operation name="AmountBlocksDeleteIO">
<input message="tns:AmountBlocksDeleteIO"/>
<output message="tns:AmountBlocksDeleteIOResponse"/>
</operation>
<operation name="AmountBlocksModifyFS">
<input message="tns:AmountBlocksModifyFS"/>
<output message="tns:AmountBlocksModifyFSResponse"/>
</operation>
<operation name="AmountBlocksModifyIO">
<input message="tns:AmountBlocksModifyIO"/>
<output message="tns:AmountBlocksModifyIOResponse"/>
</operation>
<operation name="AmountBlocksNewFS">
<input message="tns:AmountBlocksNewFS"/>
<output message="tns:AmountBlocksNewFSResponse"/>
</operation>
<operation name="AmountBlocksNewIO">
<input message="tns:AmountBlocksNewIO"/>
<output message="tns:AmountBlocksNewIOResponse"/>
</operation>
<operation name="AmountBlocksQueryIO">
<input message="tns:AmountBlocksQueryIO"/>
<output message="tns:AmountBlocksQueryIOResponse"/>
</operation>
<operation name="AmountBlocksReopenFS">
<input message="tns:AmountBlocksReopenFS"/>
<output message="tns:AmountBlocksReopenFSResponse"/>
</operation>
<operation name="AmountBlocksReopenIO">
<input message="tns:AmountBlocksReopenIO"/>
<output message="tns:AmountBlocksReopenIOResponse"/>
</operation>
<operation name="AuthorizeAmtBlkFS">
<input message="tns:AuthorizeAmtBlkFS"/>
<output message="tns:AuthorizeAmtBlkFSResponse"/>
</operation>
<operation name="AuthorizeAmtBlkIO">
<input message="tns:AuthorizeAmtBlkIO"/>
<output message="tns:AuthorizeAmtBlkIOResponse"/>
</operation>
<operation name="AuthorizeCustomerFS">
<input message="tns:AuthorizeCustomerFS"/>
<output message="tns:AuthorizeCustomerFSResponse"/>
</operation>
<operation name="AuthorizeCustomerIO">
<input message="tns:AuthorizeCustomerIO"/>
<output message="tns:AuthorizeCustomerIOResponse"/>
</operation>
<operation name="CloseAmtBlkFS">
<input message="tns:CloseAmtBlkFS"/>
<output message="tns:CloseAmtBlkFSResponse"/>
</operation>
<operation name="CloseAmtBlkIO">
<input message="tns:CloseAmtBlkIO"/>
<output message="tns:CloseAmtBlkIOResponse"/>
</operation>
<operation name="CloseCustomerFS">
<input message="tns:CloseCustomerFS"/>
<output message="tns:CloseCustomerFSResponse"/>
</operation>
<operation name="CloseCustomerIO">
<input message="tns:CloseCustomerIO"/>
<output message="tns:CloseCustomerIOResponse"/>
</operation>
<operation name="CloseTDAmountBlockFS">
<input message="tns:CloseTDAmountBlockFS"/>
<output message="tns:CloseTDAmountBlockFSResponse"/>
</operation>
<operation name="CloseTDAmountBlockIO">
<input message="tns:CloseTDAmountBlockIO"/>
<output message="tns:CloseTDAmountBlockIOResponse"/>
</operation>
<operation name="CreateAmtBlkFS">
<input message="tns:CreateAmtBlkFS"/>
<output message="tns:CreateAmtBlkFSResponse"/>
</operation>
<operation name="CreateAmtBlkIO">
<input message="tns:CreateAmtBlkIO"/>
<output message="tns:CreateAmtBlkIOResponse"/>
</operation>
<operation name="CreateCustomerFS">
<input message="tns:CreateCustomerFS"/>
<output message="tns:CreateCustomerFSResponse"/>
</operation>
<operation name="CreateCustomerIO">
<input message="tns:CreateCustomerIO"/>
<output message="tns:CreateCustomerIOResponse"/>
</operation>
<operation name="CreateNSFMutualFS">
<input message="tns:CreateNSFMutualFS"/>
<output message="tns:CreateNSFMutualFSResponse"/>
</operation>
<operation name="CreateNSFMutualIO">
<input message="tns:CreateNSFMutualIO"/>
<output message="tns:CreateNSFMutualIOResponse"/>
</operation>
<operation name="CreateTDAmountBlockFS">
<input message="tns:CreateTDAmountBlockFS"/>
<output message="tns:CreateTDAmountBlockFSResponse"/>
</operation>
<operation name="CreateTDAmountBlockIO">
<input message="tns:CreateTDAmountBlockIO"/>
<output message="tns:CreateTDAmountBlockIOResponse"/>
</operation>
<operation name="DeleteAmtBlkFS">
<input message="tns:DeleteAmtBlkFS"/>
<output message="tns:DeleteAmtBlkFSResponse"/>
</operation>
<operation name="DeleteAmtBlkIO">
<input message="tns:DeleteAmtBlkIO"/>
<output message="tns:DeleteAmtBlkIOResponse"/>
</operation>
<operation name="DeleteCustomerFS">
<input message="tns:DeleteCustomerFS"/>
<output message="tns:DeleteCustomerFSResponse"/>
</operation>
<operation name="DeleteCustomerIO">
<input message="tns:DeleteCustomerIO"/>
<output message="tns:DeleteCustomerIOResponse"/>
</operation>
<operation name="DeleteTDAmountBlockFS">
<input message="tns:DeleteTDAmountBlockFS"/>
<output message="tns:DeleteTDAmountBlockFSResponse"/>
</operation>
<operation name="DeleteTDAmountBlockIO">
<input message="tns:DeleteTDAmountBlockIO"/>
<output message="tns:DeleteTDAmountBlockIOResponse"/>
</operation>
<operation name="ModifyAmtBlkFS">
<input message="tns:ModifyAmtBlkFS"/>
<output message="tns:ModifyAmtBlkFSResponse"/>
</operation>
<operation name="ModifyAmtBlkIO">
<input message="tns:ModifyAmtBlkIO"/>
<output message="tns:ModifyAmtBlkIOResponse"/>
</operation>
<operation name="ModifyCustomerFS">
<input message="tns:ModifyCustomerFS"/>
<output message="tns:ModifyCustomerFSResponse"/>
</operation>
<operation name="ModifyCustomerIO">
<input message="tns:ModifyCustomerIO"/>
<output message="tns:ModifyCustomerIOResponse"/>
</operation>
<operation name="ModifyNSFMutualFS">
<input message="tns:ModifyNSFMutualFS"/>
<output message="tns:ModifyNSFMutualFSResponse"/>
</operation>
<operation name="ModifyNSFMutualIO">
<input message="tns:ModifyNSFMutualIO"/>
<output message="tns:ModifyNSFMutualIOResponse"/>
</operation>
<operation name="ModifyTDAmountBlockFS">
<input message="tns:ModifyTDAmountBlockFS"/>
<output message="tns:ModifyTDAmountBlockFSResponse"/>
</operation>
<operation name="ModifyTDAmountBlockIO">
<input message="tns:ModifyTDAmountBlockIO"/>
<output message="tns:ModifyTDAmountBlockIOResponse"/>
</operation>
<operation name="QueryAmtBlkIO">
<input message="tns:QueryAmtBlkIO"/>
<output message="tns:QueryAmtBlkIOResponse"/>
</operation>
<operation name="QueryCustomerIO">
<input message="tns:QueryCustomerIO"/>
<output message="tns:QueryCustomerIOResponse"/>
</operation>
<operation name="QueryNSFCBenqIO">
<input message="tns:QueryNSFCBenqIO"/>
<output message="tns:QueryNSFCBenqIOResponse"/>
</operation>
<operation name="QueryNSFCheckIO">
<input message="tns:QueryNSFCheckIO"/>
<output message="tns:QueryNSFCheckIOResponse"/>
</operation>
<operation name="QueryNSFMutualIO">
<input message="tns:QueryNSFMutualIO"/>
<output message="tns:QueryNSFMutualIOResponse"/>
</operation>
<operation name="QueryTDAmountBlockIO">
<input message="tns:QueryTDAmountBlockIO"/>
<output message="tns:QueryTDAmountBlockIOResponse"/>
</operation>
<operation name="ReopenAmtBlkFS">
<input message="tns:ReopenAmtBlkFS"/>
<output message="tns:ReopenAmtBlkFSResponse"/>
</operation>
<operation name="ReopenAmtBlkIO">
<input message="tns:ReopenAmtBlkIO"/>
<output message="tns:ReopenAmtBlkIOResponse"/>
</operation>
<operation name="ReopenCustomerFS">
<input message="tns:ReopenCustomerFS"/>
<output message="tns:ReopenCustomerFSResponse"/>
</operation>
<operation name="ReopenCustomerIO">
<input message="tns:ReopenCustomerIO"/>
<output message="tns:ReopenCustomerIOResponse"/>
</operation>
<operation name="ReopenTDAmountBlockFS">
<input message="tns:ReopenTDAmountBlockFS"/>
<output message="tns:ReopenTDAmountBlockFSResponse"/>
</operation>
<operation name="ReopenTDAmountBlockIO">
<input message="tns:ReopenTDAmountBlockIO"/>
<output message="tns:ReopenTDAmountBlockIOResponse"/>
</operation>
</portType>
<binding name="FCUBSCustomerServiceSEIBinding" type="tns:FCUBSCustomerServiceSEI">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AmountBlocksAuthorizeIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AmountBlocksAuthorizeFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeCustSegAssociationFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeCustSegAssociationIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeTDAmountBlockFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeTDAmountBlockIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseCustSegAssociationFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseCustSegAssociationIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateAccountStructureFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateAccountStructureIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateCustSegAssociationFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateCustSegAssociationIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteCustSegAssociationFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteCustSegAssociationIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyAccountStructureFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyAccountStructureIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyCustSegAssociationFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyCustSegAssociationIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryAccountStructureIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryCustSegAssociationIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReopenCustSegAssociationFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReopenCustSegAssociationIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AmountBlocksCloseFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AmountBlocksCloseIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AmountBlocksDeleteFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AmountBlocksDeleteIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AmountBlocksModifyFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AmountBlocksModifyIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AmountBlocksNewFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AmountBlocksNewIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AmountBlocksQueryIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AmountBlocksReopenFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AmountBlocksReopenIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeAmtBlkFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeAmtBlkIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeCustomerFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeCustomerIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseAmtBlkFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseAmtBlkIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseCustomerFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseCustomerIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseTDAmountBlockFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseTDAmountBlockIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateAmtBlkFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateAmtBlkIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateCustomerFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateCustomerIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateNSFMutualFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateNSFMutualIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateTDAmountBlockFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateTDAmountBlockIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteAmtBlkFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteAmtBlkIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteCustomerFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteCustomerIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteTDAmountBlockFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteTDAmountBlockIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyAmtBlkFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyAmtBlkIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyCustomerFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyCustomerIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyNSFMutualFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyNSFMutualIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyTDAmountBlockFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyTDAmountBlockIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryAmtBlkIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryCustomerIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryNSFCBenqIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryNSFCheckIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryNSFMutualIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryTDAmountBlockIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReopenAmtBlkFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReopenAmtBlkIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReopenCustomerFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReopenCustomerIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReopenTDAmountBlockFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReopenTDAmountBlockIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FCUBSCustomerService">
<port name="FCUBSCustomerServiceSEI" binding="tns:FCUBSCustomerServiceSEIBinding">
<soap:address location="http://10.8.0.134:1112/FCUBSCustomerService/FCUBSCustomerService"/>
</port>
</service>
</definitions>