web/WEB-INF/wsdl/10.8.0.134_1112/FCUBSLDService/FCUBSLDService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://types.ws.gw.fcubs.ofss.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://types.ws.gw.fcubs.ofss.com" name="FCUBSLDService">
<types>
<xsd:schema>
<xsd:import namespace="http://fcubs.ofss.com/service/FCUBSLDService" schemaLocation="http://10.8.0.134:1112/FCUBSLDService/FCUBSLDService?xsd=1"/>
</xsd:schema>
</types>
<message name="AuthorizeProductFS">
<part xmlns:ns1="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns1:AUTHORIZEPRODUCT_FSFS_REQ"/>
</message>
<message name="AuthorizeProductFSResponse">
<part xmlns:ns2="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns2:AUTHORIZEPRODUCT_FSFS_RES"/>
</message>
<message name="AuthorizeProductIO">
<part xmlns:ns3="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns3:AUTHORIZEPRODUCT_IOPK_REQ"/>
</message>
<message name="AuthorizeProductIOResponse">
<part xmlns:ns4="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns4:AUTHORIZEPRODUCT_IOPK_RES"/>
</message>
<message name="CreateProductFS">
<part xmlns:ns5="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns5:CREATEPRODUCT_FSFS_REQ"/>
</message>
<message name="CreateProductFSResponse">
<part xmlns:ns6="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns6:CREATEPRODUCT_FSFS_RES"/>
</message>
<message name="CreateProductIO">
<part xmlns:ns7="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns7:CREATEPRODUCT_IOPK_REQ"/>
</message>
<message name="CreateProductIOResponse">
<part xmlns:ns8="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns8:CREATEPRODUCT_IOPK_RES"/>
</message>
<message name="DeleteProductFS">
<part xmlns:ns9="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns9:DELETEPRODUCT_FSFS_REQ"/>
</message>
<message name="DeleteProductFSResponse">
<part xmlns:ns10="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns10:DELETEPRODUCT_FSFS_RES"/>
</message>
<message name="DeleteProductIO">
<part xmlns:ns11="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns11:DELETEPRODUCT_IOPK_REQ"/>
</message>
<message name="DeleteProductIOResponse">
<part xmlns:ns12="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns12:DELETEPRODUCT_IOPK_RES"/>
</message>
<message name="ModifyProductFS">
<part xmlns:ns13="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns13:MODIFYPRODUCT_FSFS_REQ"/>
</message>
<message name="ModifyProductFSResponse">
<part xmlns:ns14="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns14:MODIFYPRODUCT_FSFS_RES"/>
</message>
<message name="ModifyProductIO">
<part xmlns:ns15="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns15:MODIFYPRODUCT_IOPK_REQ"/>
</message>
<message name="ModifyProductIOResponse">
<part xmlns:ns16="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns16:MODIFYPRODUCT_IOPK_RES"/>
</message>
<message name="QueryProductIO">
<part xmlns:ns17="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns17:QUERYPRODUCT_IOFS_REQ"/>
</message>
<message name="QueryProductIOResponse">
<part xmlns:ns18="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns18:QUERYPRODUCT_IOFS_RES"/>
</message>
<message name="AuthorizeLDContractIO">
<part xmlns:ns19="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns19:AUTHORIZELDCONTRACT_IOPK_REQ"/>
</message>
<message name="AuthorizeLDContractIOResponse">
<part xmlns:ns20="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns20:AUTHORIZELDCONTRACT_IOPK_RES"/>
</message>
<message name="AuthorizeLDContractFS">
<part xmlns:ns21="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns21:AUTHORIZELDCONTRACT_FSFS_REQ"/>
</message>
<message name="AuthorizeLDContractFSResponse">
<part xmlns:ns22="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns22:AUTHORIZELDCONTRACT_FSFS_RES"/>
</message>
<message name="AuthLDPaymentFS">
<part xmlns:ns23="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns23:AUTHLDPAYMENT_FSFS_REQ"/>
</message>
<message name="AuthLDPaymentFSResponse">
<part xmlns:ns24="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns24:AUTHLDPAYMENT_FSFS_RES"/>
</message>
<message name="CreateLDContractFS">
<part xmlns:ns25="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns25:CREATELDCONTRACT_FSFS_REQ"/>
</message>
<message name="CreateLDContractFSResponse">
<part xmlns:ns26="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns26:CREATELDCONTRACT_FSFS_RES"/>
</message>
<message name="CreateLDContractIO">
<part xmlns:ns27="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns27:CREATELDCONTRACT_IOPK_REQ"/>
</message>
<message name="CreateLDContractIOResponse">
<part xmlns:ns28="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns28:CREATELDCONTRACT_IOPK_RES"/>
</message>
<message name="CreateLDPaymentFS">
<part xmlns:ns29="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns29:CREATELDPAYMENT_FSFS_REQ"/>
</message>
<message name="CreateLDPaymentFSResponse">
<part xmlns:ns30="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns30:CREATELDPAYMENT_FSFS_RES"/>
</message>
<message name="CreateLDPaymentIO">
<part xmlns:ns31="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns31:CREATELDPAYMENT_IOPK_REQ"/>
</message>
<message name="CreateLDPaymentIOResponse">
<part xmlns:ns32="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns32:CREATELDPAYMENT_IOPK_RES"/>
</message>
<message name="CreateLDPaymentSimFS">
<part xmlns:ns33="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns33:CREATELDPAYMENTSIM_FSFS_REQ"/>
</message>
<message name="CreateLDPaymentSimFSResponse">
<part xmlns:ns34="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns34:CREATELDPAYMENTSIM_FSFS_RES"/>
</message>
<message name="CreateLDPaymentSimIO">
<part xmlns:ns35="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns35:CREATELDPAYMENTSIM_IOPK_REQ"/>
</message>
<message name="CreateLDPaymentSimIOResponse">
<part xmlns:ns36="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns36:CREATELDPAYMENTSIM_IOPK_RES"/>
</message>
<message name="DeleteLDContractFS">
<part xmlns:ns37="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns37:DELETELDCONTRACT_FSFS_REQ"/>
</message>
<message name="DeleteLDContractFSResponse">
<part xmlns:ns38="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns38:DELETELDCONTRACT_FSFS_RES"/>
</message>
<message name="DeleteLDContractIO">
<part xmlns:ns39="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns39:DELETELDCONTRACT_IOPK_REQ"/>
</message>
<message name="DeleteLDContractIOResponse">
<part xmlns:ns40="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns40:DELETELDCONTRACT_IOPK_RES"/>
</message>
<message name="DeleteLDPaymentFS">
<part xmlns:ns41="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns41:DELETELDPAYMENT_FSFS_REQ"/>
</message>
<message name="DeleteLDPaymentFSResponse">
<part xmlns:ns42="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns42:DELETELDPAYMENT_FSFS_RES"/>
</message>
<message name="DeleteLDPaymentIO">
<part xmlns:ns43="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns43:DELETELDPAYMENT_IOPK_REQ"/>
</message>
<message name="DeleteLDPaymentIOResponse">
<part xmlns:ns44="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns44:DELETELDPAYMENT_IOPK_RES"/>
</message>
<message name="DeleteLDPaymentSimFS">
<part xmlns:ns45="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns45:DELETELDPAYMENTSIM_FSFS_REQ"/>
</message>
<message name="DeleteLDPaymentSimFSResponse">
<part xmlns:ns46="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns46:DELETELDPAYMENTSIM_FSFS_RES"/>
</message>
<message name="DeleteLDPaymentSimIO">
<part xmlns:ns47="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns47:DELETELDPAYMENTSIM_IOPK_REQ"/>
</message>
<message name="DeleteLDPaymentSimIOResponse">
<part xmlns:ns48="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns48:DELETELDPAYMENTSIM_IOPK_RES"/>
</message>
<message name="DeleteLDSIMContractFS">
<part xmlns:ns49="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns49:DELETELDSIMCONTRACT_FSFS_REQ"/>
</message>
<message name="DeleteLDSIMContractFSResponse">
<part xmlns:ns50="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns50:DELETELDSIMCONTRACT_FSFS_RES"/>
</message>
<message name="DeleteLDSIMContractIO">
<part xmlns:ns51="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns51:DELETELDSIMCONTRACT_IOPK_REQ"/>
</message>
<message name="DeleteLDSIMContractIOResponse">
<part xmlns:ns52="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns52:DELETELDSIMCONTRACT_IOPK_RES"/>
</message>
<message name="LDActivateSimulateFS">
<part xmlns:ns53="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns53:LDACTIVATESIMULATE_FSFS_REQ"/>
</message>
<message name="LDActivateSimulateFSResponse">
<part xmlns:ns54="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns54:LDACTIVATESIMULATE_FSFS_RES"/>
</message>
<message name="LDActivateSimulateIO">
<part xmlns:ns55="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns55:LDACTIVATESIMULATE_IOPK_REQ"/>
</message>
<message name="LDActivateSimulateIOResponse">
<part xmlns:ns56="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns56:LDACTIVATESIMULATE_IOPK_RES"/>
</message>
<message name="LDDeleteVamiFS">
<part xmlns:ns57="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns57:LDDELETEVAMI_FSFS_REQ"/>
</message>
<message name="LDDeleteVamiFSResponse">
<part xmlns:ns58="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns58:LDDELETEVAMI_FSFS_RES"/>
</message>
<message name="LDDeleteVamiIO">
<part xmlns:ns59="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns59:LDDELETEVAMI_IOPK_REQ"/>
</message>
<message name="LDDeleteVamiIOResponse">
<part xmlns:ns60="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns60:LDDELETEVAMI_IOPK_RES"/>
</message>
<message name="LDVamiAuthorizeFS">
<part xmlns:ns61="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns61:LDVAMIAUTHORIZE_FSFS_REQ"/>
</message>
<message name="LDVamiAuthorizeFSResponse">
<part xmlns:ns62="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns62:LDVAMIAUTHORIZE_FSFS_RES"/>
</message>
<message name="LDVamiContractFS">
<part xmlns:ns63="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns63:LDVAMICONTRACT_FSFS_REQ"/>
</message>
<message name="LDVamiContractFSResponse">
<part xmlns:ns64="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns64:LDVAMICONTRACT_FSFS_RES"/>
</message>
<message name="LDVamiContractIO">
<part xmlns:ns65="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns65:LDVAMICONTRACT_IOPK_REQ"/>
</message>
<message name="LDVamiContractIOResponse">
<part xmlns:ns66="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns66:LDVAMICONTRACT_IOPK_RES"/>
</message>
<message name="LDVamiCreateSimFS">
<part xmlns:ns67="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns67:LDVAMICREATESIM_FSFS_REQ"/>
</message>
<message name="LDVamiCreateSimFSResponse">
<part xmlns:ns68="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns68:LDVAMICREATESIM_FSFS_RES"/>
</message>
<message name="LDVamiCreateSimIO">
<part xmlns:ns69="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns69:LDVAMICREATESIM_IOPK_REQ"/>
</message>
<message name="LDVamiCreateSimIOResponse">
<part xmlns:ns70="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns70:LDVAMICREATESIM_IOPK_RES"/>
</message>
<message name="LDVamiDeleteSimFS">
<part xmlns:ns71="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns71:LDVAMIDELETESIM_FSFS_REQ"/>
</message>
<message name="LDVamiDeleteSimFSResponse">
<part xmlns:ns72="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns72:LDVAMIDELETESIM_FSFS_RES"/>
</message>
<message name="LDVamiDeleteSimIO">
<part xmlns:ns73="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns73:LDVAMIDELETESIM_IOPK_REQ"/>
</message>
<message name="LDVamiDeleteSimIOResponse">
<part xmlns:ns74="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns74:LDVAMIDELETESIM_IOPK_RES"/>
</message>
<message name="LDVamiQuerySimIO">
<part xmlns:ns75="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns75:LDVAMIQUERYSIM_IOFS_REQ"/>
</message>
<message name="LDVamiQuerySimIOResponse">
<part xmlns:ns76="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns76:LDVAMIQUERYSIM_IOFS_RES"/>
</message>
<message name="ModifyLDContractFS">
<part xmlns:ns77="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns77:MODIFYLDCONTRACT_FSFS_REQ"/>
</message>
<message name="ModifyLDContractFSResponse">
<part xmlns:ns78="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns78:MODIFYLDCONTRACT_FSFS_RES"/>
</message>
<message name="ModifyLDContractIO">
<part xmlns:ns79="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns79:MODIFYLDCONTRACT_IOPK_REQ"/>
</message>
<message name="ModifyLDContractIOResponse">
<part xmlns:ns80="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns80:MODIFYLDCONTRACT_IOPK_RES"/>
</message>
<message name="QueryLDContractIO">
<part xmlns:ns81="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns81:QUERYLDCONTRACT_IOFS_REQ"/>
</message>
<message name="QueryLDContractIOResponse">
<part xmlns:ns82="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns82:QUERYLDCONTRACT_IOFS_RES"/>
</message>
<message name="QueryLDPaymentIO">
<part xmlns:ns83="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns83:QUERYLDPAYMENT_IOFS_REQ"/>
</message>
<message name="QueryLDPaymentIOResponse">
<part xmlns:ns84="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns84:QUERYLDPAYMENT_IOFS_RES"/>
</message>
<message name="QueryLDPaymentSimIO">
<part xmlns:ns85="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns85:QUERYLDPAYMENTSIM_IOFS_REQ"/>
</message>
<message name="QueryLDPaymentSimIOResponse">
<part xmlns:ns86="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns86:QUERYLDPAYMENTSIM_IOFS_RES"/>
</message>
<message name="QueryLDSIMContractIO">
<part xmlns:ns87="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns87:QUERYLDSIMCONTRACT_IOFS_REQ"/>
</message>
<message name="QueryLDSIMContractIOResponse">
<part xmlns:ns88="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns88:QUERYLDSIMCONTRACT_IOFS_RES"/>
</message>
<message name="ReassignLDContractFS">
<part xmlns:ns89="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns89:REASSIGNLDCONTRACT_FSFS_REQ"/>
</message>
<message name="ReassignLDContractFSResponse">
<part xmlns:ns90="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns90:REASSIGNLDCONTRACT_FSFS_RES"/>
</message>
<message name="ReassignLDContractIO">
<part xmlns:ns91="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns91:REASSIGNLDCONTRACT_IOPK_REQ"/>
</message>
<message name="ReassignLDContractIOResponse">
<part xmlns:ns92="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns92:REASSIGNLDCONTRACT_IOPK_RES"/>
</message>
<message name="ReverseLDContractFS">
<part xmlns:ns93="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns93:REVERSELDCONTRACT_FSFS_REQ"/>
</message>
<message name="ReverseLDContractFSResponse">
<part xmlns:ns94="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns94:REVERSELDCONTRACT_FSFS_RES"/>
</message>
<message name="ReverseLDContractIO">
<part xmlns:ns95="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns95:REVERSELDCONTRACT_IOPK_REQ"/>
</message>
<message name="ReverseLDContractIOResponse">
<part xmlns:ns96="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns96:REVERSELDCONTRACT_IOPK_RES"/>
</message>
<message name="ReverseLDPaymentFS">
<part xmlns:ns97="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns97:REVERSELDPAYMENT_FSFS_REQ"/>
</message>
<message name="ReverseLDPaymentFSResponse">
<part xmlns:ns98="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns98:REVERSELDPAYMENT_FSFS_RES"/>
</message>
<message name="AuthorizeBrnPrmFS">
<part xmlns:ns99="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns99:AUTHORIZEBRNPRM_FSFS_REQ"/>
</message>
<message name="AuthorizeBrnPrmFSResponse">
<part xmlns:ns100="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns100:AUTHORIZEBRNPRM_FSFS_RES"/>
</message>
<message name="AuthorizeBrnPrmIO">
<part xmlns:ns101="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns101:AUTHORIZEBRNPRM_IOPK_REQ"/>
</message>
<message name="AuthorizeBrnPrmIOResponse">
<part xmlns:ns102="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns102:AUTHORIZEBRNPRM_IOPK_RES"/>
</message>
<message name="CreateBrnPrmFS">
<part xmlns:ns103="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns103:CREATEBRNPRM_FSFS_REQ"/>
</message>
<message name="CreateBrnPrmFSResponse">
<part xmlns:ns104="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns104:CREATEBRNPRM_FSFS_RES"/>
</message>
<message name="CreateBrnPrmIO">
<part xmlns:ns105="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns105:CREATEBRNPRM_IOPK_REQ"/>
</message>
<message name="CreateBrnPrmIOResponse">
<part xmlns:ns106="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns106:CREATEBRNPRM_IOPK_RES"/>
</message>
<message name="DeleteBrnPrmFS">
<part xmlns:ns107="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns107:DELETEBRNPRM_FSFS_REQ"/>
</message>
<message name="DeleteBrnPrmFSResponse">
<part xmlns:ns108="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns108:DELETEBRNPRM_FSFS_RES"/>
</message>
<message name="DeleteBrnPrmIO">
<part xmlns:ns109="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns109:DELETEBRNPRM_IOPK_REQ"/>
</message>
<message name="DeleteBrnPrmIOResponse">
<part xmlns:ns110="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns110:DELETEBRNPRM_IOPK_RES"/>
</message>
<message name="ModifyBrnPrmFS">
<part xmlns:ns111="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns111:MODIFYBRNPRM_FSFS_REQ"/>
</message>
<message name="ModifyBrnPrmFSResponse">
<part xmlns:ns112="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns112:MODIFYBRNPRM_FSFS_RES"/>
</message>
<message name="ModifyBrnPrmIO">
<part xmlns:ns113="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns113:MODIFYBRNPRM_IOPK_REQ"/>
</message>
<message name="ModifyBrnPrmIOResponse">
<part xmlns:ns114="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns114:MODIFYBRNPRM_IOPK_RES"/>
</message>
<message name="QueryBrnPrmIO">
<part xmlns:ns115="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns115:QUERYBRNPRM_IOFS_REQ"/>
</message>
<message name="QueryBrnPrmIOResponse">
<part xmlns:ns116="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns116:QUERYBRNPRM_IOFS_RES"/>
</message>
<message name="ReverseLDPaymentIO">
<part xmlns:ns117="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns117:REVERSELDPAYMENT_IOPK_REQ"/>
</message>
<message name="ReverseLDPaymentIOResponse">
<part xmlns:ns118="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns118:REVERSELDPAYMENT_IOPK_RES"/>
</message>
<message name="RolloverLDContractFS">
<part xmlns:ns119="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns119:ROLLOVERLDCONTRACT_FSFS_REQ"/>
</message>
<message name="RolloverLDContractFSResponse">
<part xmlns:ns120="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns120:ROLLOVERLDCONTRACT_FSFS_RES"/>
</message>
<message name="RolloverLDContractIO">
<part xmlns:ns121="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns121:ROLLOVERLDCONTRACT_IOPK_REQ"/>
</message>
<message name="RolloverLDContractIOResponse">
<part xmlns:ns122="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns122:ROLLOVERLDCONTRACT_IOPK_RES"/>
</message>
<message name="AuthProvisionLDContractFS">
<part xmlns:ns123="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns123:AUTHPROVISIONLDCONTRACT_FSFS_REQ"/>
</message>
<message name="AuthProvisionLDContractFSResponse">
<part xmlns:ns124="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns124:AUTHPROVISIONLDCONTRACT_FSFS_RES"/>
</message>
<message name="AuthFeeAccrualLDContractFS">
<part xmlns:ns125="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns125:AUTHFEEACCRUALLDCONTRACT_FSFS_REQ"/>
</message>
<message name="AuthFeeAccrualLDContractFSResponse">
<part xmlns:ns126="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns126:AUTHFEEACCRUALLDCONTRACT_FSFS_RES"/>
</message>
<message name="CreateFeeAccrualLDContractFS">
<part xmlns:ns127="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns127:CREATEFEEACCRUALLDCONTRACT_FSFS_REQ"/>
</message>
<message name="CreateFeeAccrualLDContractFSResponse">
<part xmlns:ns128="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns128:CREATEFEEACCRUALLDCONTRACT_FSFS_RES"/>
</message>
<message name="CreateFeeAccrualLDContractIO">
<part xmlns:ns129="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns129:CREATEFEEACCRUALLDCONTRACT_IOPK_REQ"/>
</message>
<message name="CreateFeeAccrualLDContractIOResponse">
<part xmlns:ns130="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns130:CREATEFEEACCRUALLDCONTRACT_IOPK_RES"/>
</message>
<message name="CreateProvisionLDContractFS">
<part xmlns:ns131="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns131:CREATEPROVISIONLDCONTRACT_FSFS_REQ"/>
</message>
<message name="CreateProvisionLDContractFSResponse">
<part xmlns:ns132="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns132:CREATEPROVISIONLDCONTRACT_FSFS_RES"/>
</message>
<message name="CreateProvisionLDContractIO">
<part xmlns:ns133="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns133:CREATEPROVISIONLDCONTRACT_IOPK_REQ"/>
</message>
<message name="CreateProvisionLDContractIOResponse">
<part xmlns:ns134="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns134:CREATEPROVISIONLDCONTRACT_IOPK_RES"/>
</message>
<message name="DeleteFeeAccrualLDContractFS">
<part xmlns:ns135="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns135:DELETEFEEACCRUALLDCONTRACT_FSFS_REQ"/>
</message>
<message name="DeleteFeeAccrualLDContractFSResponse">
<part xmlns:ns136="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns136:DELETEFEEACCRUALLDCONTRACT_FSFS_RES"/>
</message>
<message name="DeleteFeeAccrualLDContractIO">
<part xmlns:ns137="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns137:DELETEFEEACCRUALLDCONTRACT_IOPK_REQ"/>
</message>
<message name="DeleteFeeAccrualLDContractIOResponse">
<part xmlns:ns138="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns138:DELETEFEEACCRUALLDCONTRACT_IOPK_RES"/>
</message>
<message name="LDInactivateSimulateFS">
<part xmlns:ns139="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns139:LDINACTIVATESIMULATE_FSFS_REQ"/>
</message>
<message name="LDInactivateSimulateFSResponse">
<part xmlns:ns140="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns140:LDINACTIVATESIMULATE_FSFS_RES"/>
</message>
<message name="LDInactivateSimulateIO">
<part xmlns:ns141="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns141:LDINACTIVATESIMULATE_IOPK_REQ"/>
</message>
<message name="LDInactivateSimulateIOResponse">
<part xmlns:ns142="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns142:LDINACTIVATESIMULATE_IOPK_RES"/>
</message>
<message name="ModifyFeeAccrualLDContractFS">
<part xmlns:ns143="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns143:MODIFYFEEACCRUALLDCONTRACT_FSFS_REQ"/>
</message>
<message name="ModifyFeeAccrualLDContractFSResponse">
<part xmlns:ns144="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns144:MODIFYFEEACCRUALLDCONTRACT_FSFS_RES"/>
</message>
<message name="ModifyFeeAccrualLDContractIO">
<part xmlns:ns145="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns145:MODIFYFEEACCRUALLDCONTRACT_IOPK_REQ"/>
</message>
<message name="ModifyFeeAccrualLDContractIOResponse">
<part xmlns:ns146="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns146:MODIFYFEEACCRUALLDCONTRACT_IOPK_RES"/>
</message>
<message name="ModifyProvisionLDContractFS">
<part xmlns:ns147="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns147:MODIFYPROVISIONLDCONTRACT_FSFS_REQ"/>
</message>
<message name="ModifyProvisionLDContractFSResponse">
<part xmlns:ns148="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns148:MODIFYPROVISIONLDCONTRACT_FSFS_RES"/>
</message>
<message name="ModifyProvisionLDContractIO">
<part xmlns:ns149="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns149:MODIFYPROVISIONLDCONTRACT_IOPK_REQ"/>
</message>
<message name="ModifyProvisionLDContractIOResponse">
<part xmlns:ns150="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns150:MODIFYPROVISIONLDCONTRACT_IOPK_RES"/>
</message>
<message name="QueryFeeAccrualLDContractIO">
<part xmlns:ns151="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns151:QUERYFEEACCRUALLDCONTRACT_IOFS_REQ"/>
</message>
<message name="QueryFeeAccrualLDContractIOResponse">
<part xmlns:ns152="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns152:QUERYFEEACCRUALLDCONTRACT_IOFS_RES"/>
</message>
<message name="QueryProvisionLDContractIO">
<part xmlns:ns153="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns153:QUERYPROVISIONLDCONTRACT_IOFS_REQ"/>
</message>
<message name="QueryProvisionLDContractIOResponse">
<part xmlns:ns154="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns154:QUERYPROVISIONLDCONTRACT_IOFS_RES"/>
</message>
<message name="ReverseFeeAccrualLDContractFS">
<part xmlns:ns155="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns155:REVERSEFEEACCRUALLDCONTRACT_FSFS_REQ"/>
</message>
<message name="ReverseFeeAccrualLDContractFSResponse">
<part xmlns:ns156="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns156:REVERSEFEEACCRUALLDCONTRACT_FSFS_RES"/>
</message>
<message name="ReverseFeeAccrualLDContractIO">
<part xmlns:ns157="http://fcubs.ofss.com/service/FCUBSLDService" name="RequestMsg" element="ns157:REVERSEFEEACCRUALLDCONTRACT_IOPK_REQ"/>
</message>
<message name="ReverseFeeAccrualLDContractIOResponse">
<part xmlns:ns158="http://fcubs.ofss.com/service/FCUBSLDService" name="ResponseMsg" element="ns158:REVERSEFEEACCRUALLDCONTRACT_IOPK_RES"/>
</message>
<portType name="FCUBSLDServiceSEI">
<operation name="AuthorizeProductFS">
<input message="tns:AuthorizeProductFS"/>
<output message="tns:AuthorizeProductFSResponse"/>
</operation>
<operation name="AuthorizeProductIO">
<input message="tns:AuthorizeProductIO"/>
<output message="tns:AuthorizeProductIOResponse"/>
</operation>
<operation name="CreateProductFS">
<input message="tns:CreateProductFS"/>
<output message="tns:CreateProductFSResponse"/>
</operation>
<operation name="CreateProductIO">
<input message="tns:CreateProductIO"/>
<output message="tns:CreateProductIOResponse"/>
</operation>
<operation name="DeleteProductFS">
<input message="tns:DeleteProductFS"/>
<output message="tns:DeleteProductFSResponse"/>
</operation>
<operation name="DeleteProductIO">
<input message="tns:DeleteProductIO"/>
<output message="tns:DeleteProductIOResponse"/>
</operation>
<operation name="ModifyProductFS">
<input message="tns:ModifyProductFS"/>
<output message="tns:ModifyProductFSResponse"/>
</operation>
<operation name="ModifyProductIO">
<input message="tns:ModifyProductIO"/>
<output message="tns:ModifyProductIOResponse"/>
</operation>
<operation name="QueryProductIO">
<input message="tns:QueryProductIO"/>
<output message="tns:QueryProductIOResponse"/>
</operation>
<operation name="AuthorizeLDContractIO">
<input message="tns:AuthorizeLDContractIO"/>
<output message="tns:AuthorizeLDContractIOResponse"/>
</operation>
<operation name="AuthorizeLDContractFS">
<input message="tns:AuthorizeLDContractFS"/>
<output message="tns:AuthorizeLDContractFSResponse"/>
</operation>
<operation name="AuthLDPaymentFS">
<input message="tns:AuthLDPaymentFS"/>
<output message="tns:AuthLDPaymentFSResponse"/>
</operation>
<operation name="CreateLDContractFS">
<input message="tns:CreateLDContractFS"/>
<output message="tns:CreateLDContractFSResponse"/>
</operation>
<operation name="CreateLDContractIO">
<input message="tns:CreateLDContractIO"/>
<output message="tns:CreateLDContractIOResponse"/>
</operation>
<operation name="CreateLDPaymentFS">
<input message="tns:CreateLDPaymentFS"/>
<output message="tns:CreateLDPaymentFSResponse"/>
</operation>
<operation name="CreateLDPaymentIO">
<input message="tns:CreateLDPaymentIO"/>
<output message="tns:CreateLDPaymentIOResponse"/>
</operation>
<operation name="CreateLDPaymentSimFS">
<input message="tns:CreateLDPaymentSimFS"/>
<output message="tns:CreateLDPaymentSimFSResponse"/>
</operation>
<operation name="CreateLDPaymentSimIO">
<input message="tns:CreateLDPaymentSimIO"/>
<output message="tns:CreateLDPaymentSimIOResponse"/>
</operation>
<operation name="DeleteLDContractFS">
<input message="tns:DeleteLDContractFS"/>
<output message="tns:DeleteLDContractFSResponse"/>
</operation>
<operation name="DeleteLDContractIO">
<input message="tns:DeleteLDContractIO"/>
<output message="tns:DeleteLDContractIOResponse"/>
</operation>
<operation name="DeleteLDPaymentFS">
<input message="tns:DeleteLDPaymentFS"/>
<output message="tns:DeleteLDPaymentFSResponse"/>
</operation>
<operation name="DeleteLDPaymentIO">
<input message="tns:DeleteLDPaymentIO"/>
<output message="tns:DeleteLDPaymentIOResponse"/>
</operation>
<operation name="DeleteLDPaymentSimFS">
<input message="tns:DeleteLDPaymentSimFS"/>
<output message="tns:DeleteLDPaymentSimFSResponse"/>
</operation>
<operation name="DeleteLDPaymentSimIO">
<input message="tns:DeleteLDPaymentSimIO"/>
<output message="tns:DeleteLDPaymentSimIOResponse"/>
</operation>
<operation name="DeleteLDSIMContractFS">
<input message="tns:DeleteLDSIMContractFS"/>
<output message="tns:DeleteLDSIMContractFSResponse"/>
</operation>
<operation name="DeleteLDSIMContractIO">
<input message="tns:DeleteLDSIMContractIO"/>
<output message="tns:DeleteLDSIMContractIOResponse"/>
</operation>
<operation name="LDActivateSimulateFS">
<input message="tns:LDActivateSimulateFS"/>
<output message="tns:LDActivateSimulateFSResponse"/>
</operation>
<operation name="LDActivateSimulateIO">
<input message="tns:LDActivateSimulateIO"/>
<output message="tns:LDActivateSimulateIOResponse"/>
</operation>
<operation name="LDDeleteVamiFS">
<input message="tns:LDDeleteVamiFS"/>
<output message="tns:LDDeleteVamiFSResponse"/>
</operation>
<operation name="LDDeleteVamiIO">
<input message="tns:LDDeleteVamiIO"/>
<output message="tns:LDDeleteVamiIOResponse"/>
</operation>
<operation name="LDVamiAuthorizeFS">
<input message="tns:LDVamiAuthorizeFS"/>
<output message="tns:LDVamiAuthorizeFSResponse"/>
</operation>
<operation name="LDVamiContractFS">
<input message="tns:LDVamiContractFS"/>
<output message="tns:LDVamiContractFSResponse"/>
</operation>
<operation name="LDVamiContractIO">
<input message="tns:LDVamiContractIO"/>
<output message="tns:LDVamiContractIOResponse"/>
</operation>
<operation name="LDVamiCreateSimFS">
<input message="tns:LDVamiCreateSimFS"/>
<output message="tns:LDVamiCreateSimFSResponse"/>
</operation>
<operation name="LDVamiCreateSimIO">
<input message="tns:LDVamiCreateSimIO"/>
<output message="tns:LDVamiCreateSimIOResponse"/>
</operation>
<operation name="LDVamiDeleteSimFS">
<input message="tns:LDVamiDeleteSimFS"/>
<output message="tns:LDVamiDeleteSimFSResponse"/>
</operation>
<operation name="LDVamiDeleteSimIO">
<input message="tns:LDVamiDeleteSimIO"/>
<output message="tns:LDVamiDeleteSimIOResponse"/>
</operation>
<operation name="LDVamiQuerySimIO">
<input message="tns:LDVamiQuerySimIO"/>
<output message="tns:LDVamiQuerySimIOResponse"/>
</operation>
<operation name="ModifyLDContractFS">
<input message="tns:ModifyLDContractFS"/>
<output message="tns:ModifyLDContractFSResponse"/>
</operation>
<operation name="ModifyLDContractIO">
<input message="tns:ModifyLDContractIO"/>
<output message="tns:ModifyLDContractIOResponse"/>
</operation>
<operation name="QueryLDContractIO">
<input message="tns:QueryLDContractIO"/>
<output message="tns:QueryLDContractIOResponse"/>
</operation>
<operation name="QueryLDPaymentIO">
<input message="tns:QueryLDPaymentIO"/>
<output message="tns:QueryLDPaymentIOResponse"/>
</operation>
<operation name="QueryLDPaymentSimIO">
<input message="tns:QueryLDPaymentSimIO"/>
<output message="tns:QueryLDPaymentSimIOResponse"/>
</operation>
<operation name="QueryLDSIMContractIO">
<input message="tns:QueryLDSIMContractIO"/>
<output message="tns:QueryLDSIMContractIOResponse"/>
</operation>
<operation name="ReassignLDContractFS">
<input message="tns:ReassignLDContractFS"/>
<output message="tns:ReassignLDContractFSResponse"/>
</operation>
<operation name="ReassignLDContractIO">
<input message="tns:ReassignLDContractIO"/>
<output message="tns:ReassignLDContractIOResponse"/>
</operation>
<operation name="ReverseLDContractFS">
<input message="tns:ReverseLDContractFS"/>
<output message="tns:ReverseLDContractFSResponse"/>
</operation>
<operation name="ReverseLDContractIO">
<input message="tns:ReverseLDContractIO"/>
<output message="tns:ReverseLDContractIOResponse"/>
</operation>
<operation name="ReverseLDPaymentFS">
<input message="tns:ReverseLDPaymentFS"/>
<output message="tns:ReverseLDPaymentFSResponse"/>
</operation>
<operation name="AuthorizeBrnPrmFS">
<input message="tns:AuthorizeBrnPrmFS"/>
<output message="tns:AuthorizeBrnPrmFSResponse"/>
</operation>
<operation name="AuthorizeBrnPrmIO">
<input message="tns:AuthorizeBrnPrmIO"/>
<output message="tns:AuthorizeBrnPrmIOResponse"/>
</operation>
<operation name="CreateBrnPrmFS">
<input message="tns:CreateBrnPrmFS"/>
<output message="tns:CreateBrnPrmFSResponse"/>
</operation>
<operation name="CreateBrnPrmIO">
<input message="tns:CreateBrnPrmIO"/>
<output message="tns:CreateBrnPrmIOResponse"/>
</operation>
<operation name="DeleteBrnPrmFS">
<input message="tns:DeleteBrnPrmFS"/>
<output message="tns:DeleteBrnPrmFSResponse"/>
</operation>
<operation name="DeleteBrnPrmIO">
<input message="tns:DeleteBrnPrmIO"/>
<output message="tns:DeleteBrnPrmIOResponse"/>
</operation>
<operation name="ModifyBrnPrmFS">
<input message="tns:ModifyBrnPrmFS"/>
<output message="tns:ModifyBrnPrmFSResponse"/>
</operation>
<operation name="ModifyBrnPrmIO">
<input message="tns:ModifyBrnPrmIO"/>
<output message="tns:ModifyBrnPrmIOResponse"/>
</operation>
<operation name="QueryBrnPrmIO">
<input message="tns:QueryBrnPrmIO"/>
<output message="tns:QueryBrnPrmIOResponse"/>
</operation>
<operation name="ReverseLDPaymentIO">
<input message="tns:ReverseLDPaymentIO"/>
<output message="tns:ReverseLDPaymentIOResponse"/>
</operation>
<operation name="RolloverLDContractFS">
<input message="tns:RolloverLDContractFS"/>
<output message="tns:RolloverLDContractFSResponse"/>
</operation>
<operation name="RolloverLDContractIO">
<input message="tns:RolloverLDContractIO"/>
<output message="tns:RolloverLDContractIOResponse"/>
</operation>
<operation name="AuthProvisionLDContractFS">
<input message="tns:AuthProvisionLDContractFS"/>
<output message="tns:AuthProvisionLDContractFSResponse"/>
</operation>
<operation name="AuthFeeAccrualLDContractFS">
<input message="tns:AuthFeeAccrualLDContractFS"/>
<output message="tns:AuthFeeAccrualLDContractFSResponse"/>
</operation>
<operation name="CreateFeeAccrualLDContractFS">
<input message="tns:CreateFeeAccrualLDContractFS"/>
<output message="tns:CreateFeeAccrualLDContractFSResponse"/>
</operation>
<operation name="CreateFeeAccrualLDContractIO">
<input message="tns:CreateFeeAccrualLDContractIO"/>
<output message="tns:CreateFeeAccrualLDContractIOResponse"/>
</operation>
<operation name="CreateProvisionLDContractFS">
<input message="tns:CreateProvisionLDContractFS"/>
<output message="tns:CreateProvisionLDContractFSResponse"/>
</operation>
<operation name="CreateProvisionLDContractIO">
<input message="tns:CreateProvisionLDContractIO"/>
<output message="tns:CreateProvisionLDContractIOResponse"/>
</operation>
<operation name="DeleteFeeAccrualLDContractFS">
<input message="tns:DeleteFeeAccrualLDContractFS"/>
<output message="tns:DeleteFeeAccrualLDContractFSResponse"/>
</operation>
<operation name="DeleteFeeAccrualLDContractIO">
<input message="tns:DeleteFeeAccrualLDContractIO"/>
<output message="tns:DeleteFeeAccrualLDContractIOResponse"/>
</operation>
<operation name="LDInactivateSimulateFS">
<input message="tns:LDInactivateSimulateFS"/>
<output message="tns:LDInactivateSimulateFSResponse"/>
</operation>
<operation name="LDInactivateSimulateIO">
<input message="tns:LDInactivateSimulateIO"/>
<output message="tns:LDInactivateSimulateIOResponse"/>
</operation>
<operation name="ModifyFeeAccrualLDContractFS">
<input message="tns:ModifyFeeAccrualLDContractFS"/>
<output message="tns:ModifyFeeAccrualLDContractFSResponse"/>
</operation>
<operation name="ModifyFeeAccrualLDContractIO">
<input message="tns:ModifyFeeAccrualLDContractIO"/>
<output message="tns:ModifyFeeAccrualLDContractIOResponse"/>
</operation>
<operation name="ModifyProvisionLDContractFS">
<input message="tns:ModifyProvisionLDContractFS"/>
<output message="tns:ModifyProvisionLDContractFSResponse"/>
</operation>
<operation name="ModifyProvisionLDContractIO">
<input message="tns:ModifyProvisionLDContractIO"/>
<output message="tns:ModifyProvisionLDContractIOResponse"/>
</operation>
<operation name="QueryFeeAccrualLDContractIO">
<input message="tns:QueryFeeAccrualLDContractIO"/>
<output message="tns:QueryFeeAccrualLDContractIOResponse"/>
</operation>
<operation name="QueryProvisionLDContractIO">
<input message="tns:QueryProvisionLDContractIO"/>
<output message="tns:QueryProvisionLDContractIOResponse"/>
</operation>
<operation name="ReverseFeeAccrualLDContractFS">
<input message="tns:ReverseFeeAccrualLDContractFS"/>
<output message="tns:ReverseFeeAccrualLDContractFSResponse"/>
</operation>
<operation name="ReverseFeeAccrualLDContractIO">
<input message="tns:ReverseFeeAccrualLDContractIO"/>
<output message="tns:ReverseFeeAccrualLDContractIOResponse"/>
</operation>
</portType>
<binding name="FCUBSLDServiceSEIBinding" type="tns:FCUBSLDServiceSEI">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AuthorizeProductFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeProductIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateProductFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateProductIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteProductFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteProductIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyProductFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyProductIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryProductIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeLDContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeLDContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthLDPaymentFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateLDContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateLDContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateLDPaymentFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateLDPaymentIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateLDPaymentSimFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateLDPaymentSimIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteLDContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteLDContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteLDPaymentFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteLDPaymentIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteLDPaymentSimFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteLDPaymentSimIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteLDSIMContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteLDSIMContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LDActivateSimulateFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LDActivateSimulateIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LDDeleteVamiFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LDDeleteVamiIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LDVamiAuthorizeFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LDVamiContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LDVamiContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LDVamiCreateSimFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LDVamiCreateSimIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LDVamiDeleteSimFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LDVamiDeleteSimIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LDVamiQuerySimIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyLDContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyLDContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryLDContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryLDPaymentIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryLDPaymentSimIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryLDSIMContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReassignLDContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReassignLDContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReverseLDContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReverseLDContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReverseLDPaymentFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeBrnPrmFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeBrnPrmIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateBrnPrmFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateBrnPrmIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteBrnPrmFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteBrnPrmIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyBrnPrmFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyBrnPrmIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryBrnPrmIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReverseLDPaymentIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RolloverLDContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RolloverLDContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthProvisionLDContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthFeeAccrualLDContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateFeeAccrualLDContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateFeeAccrualLDContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateProvisionLDContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateProvisionLDContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteFeeAccrualLDContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteFeeAccrualLDContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LDInactivateSimulateFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LDInactivateSimulateIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyFeeAccrualLDContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyFeeAccrualLDContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyProvisionLDContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyProvisionLDContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryFeeAccrualLDContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryProvisionLDContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReverseFeeAccrualLDContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReverseFeeAccrualLDContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FCUBSLDService">
<port name="FCUBSLDServiceSEI" binding="tns:FCUBSLDServiceSEIBinding">
<soap:address location="http://10.8.0.134:1112/FCUBSLDService/FCUBSLDService"/>
</port>
</service>
</definitions>