web/WEB-INF/wsdl/10.8.0.134_1112/FCUBSSIService/FCUBSSIService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://types.ws.gw.fcubs.ofss.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://types.ws.gw.fcubs.ofss.com" name="FCUBSSIService">
<types>
<xsd:schema>
<xsd:import namespace="http://fcubs.ofss.com/service/FCUBSSIService" schemaLocation="http://10.8.0.134:1112/FCUBSSIService/FCUBSSIService?xsd=1"/>
</xsd:schema>
</types>
<message name="AuthorizeProductFS">
<part xmlns:ns1="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns1:AUTHORIZEPRODUCT_FSFS_REQ"/>
</message>
<message name="AuthorizeProductFSResponse">
<part xmlns:ns2="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns2:AUTHORIZEPRODUCT_FSFS_RES"/>
</message>
<message name="AuthorizeProductIO">
<part xmlns:ns3="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns3:AUTHORIZEPRODUCT_IOPK_REQ"/>
</message>
<message name="AuthorizeProductIOResponse">
<part xmlns:ns4="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns4:AUTHORIZEPRODUCT_IOPK_RES"/>
</message>
<message name="CreateProductFS">
<part xmlns:ns5="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns5:CREATEPRODUCT_FSFS_REQ"/>
</message>
<message name="CreateProductFSResponse">
<part xmlns:ns6="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns6:CREATEPRODUCT_FSFS_RES"/>
</message>
<message name="CreateProductIO">
<part xmlns:ns7="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns7:CREATEPRODUCT_IOPK_REQ"/>
</message>
<message name="CreateProductIOResponse">
<part xmlns:ns8="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns8:CREATEPRODUCT_IOPK_RES"/>
</message>
<message name="DeleteProductFS">
<part xmlns:ns9="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns9:DELETEPRODUCT_FSFS_REQ"/>
</message>
<message name="DeleteProductFSResponse">
<part xmlns:ns10="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns10:DELETEPRODUCT_FSFS_RES"/>
</message>
<message name="DeleteProductIO">
<part xmlns:ns11="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns11:DELETEPRODUCT_IOPK_REQ"/>
</message>
<message name="DeleteProductIOResponse">
<part xmlns:ns12="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns12:DELETEPRODUCT_IOPK_RES"/>
</message>
<message name="ModifyProductFS">
<part xmlns:ns13="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns13:MODIFYPRODUCT_FSFS_REQ"/>
</message>
<message name="ModifyProductFSResponse">
<part xmlns:ns14="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns14:MODIFYPRODUCT_FSFS_RES"/>
</message>
<message name="ModifyProductIO">
<part xmlns:ns15="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns15:MODIFYPRODUCT_IOPK_REQ"/>
</message>
<message name="ModifyProductIOResponse">
<part xmlns:ns16="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns16:MODIFYPRODUCT_IOPK_RES"/>
</message>
<message name="QueryProductIO">
<part xmlns:ns17="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns17:QUERYPRODUCT_IOFS_REQ"/>
</message>
<message name="QueryProductIOResponse">
<part xmlns:ns18="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns18:QUERYPRODUCT_IOFS_RES"/>
</message>
<message name="AuthorizeContractFS">
<part xmlns:ns19="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns19:AUTHORIZECONTRACT_FSFS_REQ"/>
</message>
<message name="AuthorizeContractFSResponse">
<part xmlns:ns20="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns20:AUTHORIZECONTRACT_FSFS_RES"/>
</message>
<message name="AuthorizeContractIO">
<part xmlns:ns21="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns21:AUTHORIZECONTRACT_IOPK_REQ"/>
</message>
<message name="AuthorizeContractIOResponse">
<part xmlns:ns22="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns22:AUTHORIZECONTRACT_IOPK_RES"/>
</message>
<message name="CreateContractFS">
<part xmlns:ns23="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns23:CREATECONTRACT_FSFS_REQ"/>
</message>
<message name="CreateContractFSResponse">
<part xmlns:ns24="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns24:CREATECONTRACT_FSFS_RES"/>
</message>
<message name="CreateContractIO">
<part xmlns:ns25="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns25:CREATECONTRACT_IOPK_REQ"/>
</message>
<message name="CreateContractIOResponse">
<part xmlns:ns26="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns26:CREATECONTRACT_IOPK_RES"/>
</message>
<message name="DeleteContractFS">
<part xmlns:ns27="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns27:DELETECONTRACT_FSFS_REQ"/>
</message>
<message name="DeleteContractFSResponse">
<part xmlns:ns28="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns28:DELETECONTRACT_FSFS_RES"/>
</message>
<message name="DeleteContractIO">
<part xmlns:ns29="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns29:DELETECONTRACT_IOPK_REQ"/>
</message>
<message name="DeleteContractIOResponse">
<part xmlns:ns30="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns30:DELETECONTRACT_IOPK_RES"/>
</message>
<message name="ModifyContractFS">
<part xmlns:ns31="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns31:MODIFYCONTRACT_FSFS_REQ"/>
</message>
<message name="ModifyContractFSResponse">
<part xmlns:ns32="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns32:MODIFYCONTRACT_FSFS_RES"/>
</message>
<message name="ModifyContractIO">
<part xmlns:ns33="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns33:MODIFYCONTRACT_IOPK_REQ"/>
</message>
<message name="ModifyContractIOResponse">
<part xmlns:ns34="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns34:MODIFYCONTRACT_IOPK_RES"/>
</message>
<message name="QueryContractIO">
<part xmlns:ns35="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns35:QUERYCONTRACT_IOFS_REQ"/>
</message>
<message name="QueryContractIOResponse">
<part xmlns:ns36="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns36:QUERYCONTRACT_IOFS_RES"/>
</message>
<message name="AmendSIContractIO">
<part xmlns:ns37="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns37:AMENDSICONTRACT_IOPK_REQ"/>
</message>
<message name="AmendSIContractIOResponse">
<part xmlns:ns38="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns38:AMENDSICONTRACT_IOPK_RES"/>
</message>
<message name="AmendSIContractFS">
<part xmlns:ns39="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns39:AMENDSICONTRACT_FSFS_REQ"/>
</message>
<message name="AmendSIContractFSResponse">
<part xmlns:ns40="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns40:AMENDSICONTRACT_FSFS_RES"/>
</message>
<message name="AmendSICycleFS">
<part xmlns:ns41="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns41:AMENDSICYCLE_FSFS_REQ"/>
</message>
<message name="AmendSICycleFSResponse">
<part xmlns:ns42="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns42:AMENDSICYCLE_FSFS_RES"/>
</message>
<message name="AmendSICycleIO">
<part xmlns:ns43="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns43:AMENDSICYCLE_IOPK_REQ"/>
</message>
<message name="AmendSICycleIOResponse">
<part xmlns:ns44="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns44:AMENDSICYCLE_IOPK_RES"/>
</message>
<message name="AuthorizeSIContractFS">
<part xmlns:ns45="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns45:AUTHORIZESICONTRACT_FSFS_REQ"/>
</message>
<message name="AuthorizeSIContractFSResponse">
<part xmlns:ns46="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns46:AUTHORIZESICONTRACT_FSFS_RES"/>
</message>
<message name="AuthorizeSIContractIO">
<part xmlns:ns47="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns47:AUTHORIZESICONTRACT_IOPK_REQ"/>
</message>
<message name="AuthorizeSIContractIOResponse">
<part xmlns:ns48="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns48:AUTHORIZESICONTRACT_IOPK_RES"/>
</message>
<message name="AuthorizeSICycleFS">
<part xmlns:ns49="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns49:AUTHORIZESICYCLE_FSFS_REQ"/>
</message>
<message name="AuthorizeSICycleFSResponse">
<part xmlns:ns50="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns50:AUTHORIZESICYCLE_FSFS_RES"/>
</message>
<message name="AuthorizeSICycleIO">
<part xmlns:ns51="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns51:AUTHORIZESICYCLE_IOPK_REQ"/>
</message>
<message name="AuthorizeSICycleIOResponse">
<part xmlns:ns52="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns52:AUTHORIZESICYCLE_IOPK_RES"/>
</message>
<message name="CloseContractFS">
<part xmlns:ns53="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns53:CLOSECONTRACT_FSFS_REQ"/>
</message>
<message name="CloseContractFSResponse">
<part xmlns:ns54="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns54:CLOSECONTRACT_FSFS_RES"/>
</message>
<message name="CloseContractIO">
<part xmlns:ns55="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns55:CLOSECONTRACT_IOPK_REQ"/>
</message>
<message name="CloseContractIOResponse">
<part xmlns:ns56="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns56:CLOSECONTRACT_IOPK_RES"/>
</message>
<message name="CloseSIContractFS">
<part xmlns:ns57="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns57:CLOSESICONTRACT_FSFS_REQ"/>
</message>
<message name="CloseSIContractFSResponse">
<part xmlns:ns58="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns58:CLOSESICONTRACT_FSFS_RES"/>
</message>
<message name="CloseSIContractIO">
<part xmlns:ns59="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns59:CLOSESICONTRACT_IOPK_REQ"/>
</message>
<message name="CloseSIContractIOResponse">
<part xmlns:ns60="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns60:CLOSESICONTRACT_IOPK_RES"/>
</message>
<message name="CreateSIContractFS">
<part xmlns:ns61="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns61:CREATESICONTRACT_FSFS_REQ"/>
</message>
<message name="CreateSIContractFSResponse">
<part xmlns:ns62="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns62:CREATESICONTRACT_FSFS_RES"/>
</message>
<message name="CreateSIContractIO">
<part xmlns:ns63="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns63:CREATESICONTRACT_IOPK_REQ"/>
</message>
<message name="CreateSIContractIOResponse">
<part xmlns:ns64="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns64:CREATESICONTRACT_IOPK_RES"/>
</message>
<message name="DeleteSIContractFS">
<part xmlns:ns65="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns65:DELETESICONTRACT_FSFS_REQ"/>
</message>
<message name="DeleteSIContractFSResponse">
<part xmlns:ns66="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns66:DELETESICONTRACT_FSFS_RES"/>
</message>
<message name="DeleteSIContractIO">
<part xmlns:ns67="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns67:DELETESICONTRACT_IOPK_REQ"/>
</message>
<message name="DeleteSIContractIOResponse">
<part xmlns:ns68="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns68:DELETESICONTRACT_IOPK_RES"/>
</message>
<message name="QuerySIContractIO">
<part xmlns:ns69="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns69:QUERYSICONTRACT_IOFS_REQ"/>
</message>
<message name="QuerySIContractIOResponse">
<part xmlns:ns70="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns70:QUERYSICONTRACT_IOFS_RES"/>
</message>
<message name="QuerySICycleIO">
<part xmlns:ns71="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns71:QUERYSICYCLE_IOFS_REQ"/>
</message>
<message name="QuerySICycleIOResponse">
<part xmlns:ns72="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns72:QUERYSICYCLE_IOFS_RES"/>
</message>
<message name="ReopenContractFS">
<part xmlns:ns73="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns73:REOPENCONTRACT_FSFS_REQ"/>
</message>
<message name="ReopenContractFSResponse">
<part xmlns:ns74="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns74:REOPENCONTRACT_FSFS_RES"/>
</message>
<message name="ReopenContractIO">
<part xmlns:ns75="http://fcubs.ofss.com/service/FCUBSSIService" name="RequestMsg" element="ns75:REOPENCONTRACT_IOPK_REQ"/>
</message>
<message name="ReopenContractIOResponse">
<part xmlns:ns76="http://fcubs.ofss.com/service/FCUBSSIService" name="ResponseMsg" element="ns76:REOPENCONTRACT_IOPK_RES"/>
</message>
<portType name="FCUBSSIServiceSEI">
<operation name="AuthorizeProductFS">
<input message="tns:AuthorizeProductFS"/>
<output message="tns:AuthorizeProductFSResponse"/>
</operation>
<operation name="AuthorizeProductIO">
<input message="tns:AuthorizeProductIO"/>
<output message="tns:AuthorizeProductIOResponse"/>
</operation>
<operation name="CreateProductFS">
<input message="tns:CreateProductFS"/>
<output message="tns:CreateProductFSResponse"/>
</operation>
<operation name="CreateProductIO">
<input message="tns:CreateProductIO"/>
<output message="tns:CreateProductIOResponse"/>
</operation>
<operation name="DeleteProductFS">
<input message="tns:DeleteProductFS"/>
<output message="tns:DeleteProductFSResponse"/>
</operation>
<operation name="DeleteProductIO">
<input message="tns:DeleteProductIO"/>
<output message="tns:DeleteProductIOResponse"/>
</operation>
<operation name="ModifyProductFS">
<input message="tns:ModifyProductFS"/>
<output message="tns:ModifyProductFSResponse"/>
</operation>
<operation name="ModifyProductIO">
<input message="tns:ModifyProductIO"/>
<output message="tns:ModifyProductIOResponse"/>
</operation>
<operation name="QueryProductIO">
<input message="tns:QueryProductIO"/>
<output message="tns:QueryProductIOResponse"/>
</operation>
<operation name="AuthorizeContractFS">
<input message="tns:AuthorizeContractFS"/>
<output message="tns:AuthorizeContractFSResponse"/>
</operation>
<operation name="AuthorizeContractIO">
<input message="tns:AuthorizeContractIO"/>
<output message="tns:AuthorizeContractIOResponse"/>
</operation>
<operation name="CreateContractFS">
<input message="tns:CreateContractFS"/>
<output message="tns:CreateContractFSResponse"/>
</operation>
<operation name="CreateContractIO">
<input message="tns:CreateContractIO"/>
<output message="tns:CreateContractIOResponse"/>
</operation>
<operation name="DeleteContractFS">
<input message="tns:DeleteContractFS"/>
<output message="tns:DeleteContractFSResponse"/>
</operation>
<operation name="DeleteContractIO">
<input message="tns:DeleteContractIO"/>
<output message="tns:DeleteContractIOResponse"/>
</operation>
<operation name="ModifyContractFS">
<input message="tns:ModifyContractFS"/>
<output message="tns:ModifyContractFSResponse"/>
</operation>
<operation name="ModifyContractIO">
<input message="tns:ModifyContractIO"/>
<output message="tns:ModifyContractIOResponse"/>
</operation>
<operation name="QueryContractIO">
<input message="tns:QueryContractIO"/>
<output message="tns:QueryContractIOResponse"/>
</operation>
<operation name="AmendSIContractIO">
<input message="tns:AmendSIContractIO"/>
<output message="tns:AmendSIContractIOResponse"/>
</operation>
<operation name="AmendSIContractFS">
<input message="tns:AmendSIContractFS"/>
<output message="tns:AmendSIContractFSResponse"/>
</operation>
<operation name="AmendSICycleFS">
<input message="tns:AmendSICycleFS"/>
<output message="tns:AmendSICycleFSResponse"/>
</operation>
<operation name="AmendSICycleIO">
<input message="tns:AmendSICycleIO"/>
<output message="tns:AmendSICycleIOResponse"/>
</operation>
<operation name="AuthorizeSIContractFS">
<input message="tns:AuthorizeSIContractFS"/>
<output message="tns:AuthorizeSIContractFSResponse"/>
</operation>
<operation name="AuthorizeSIContractIO">
<input message="tns:AuthorizeSIContractIO"/>
<output message="tns:AuthorizeSIContractIOResponse"/>
</operation>
<operation name="AuthorizeSICycleFS">
<input message="tns:AuthorizeSICycleFS"/>
<output message="tns:AuthorizeSICycleFSResponse"/>
</operation>
<operation name="AuthorizeSICycleIO">
<input message="tns:AuthorizeSICycleIO"/>
<output message="tns:AuthorizeSICycleIOResponse"/>
</operation>
<operation name="CloseContractFS">
<input message="tns:CloseContractFS"/>
<output message="tns:CloseContractFSResponse"/>
</operation>
<operation name="CloseContractIO">
<input message="tns:CloseContractIO"/>
<output message="tns:CloseContractIOResponse"/>
</operation>
<operation name="CloseSIContractFS">
<input message="tns:CloseSIContractFS"/>
<output message="tns:CloseSIContractFSResponse"/>
</operation>
<operation name="CloseSIContractIO">
<input message="tns:CloseSIContractIO"/>
<output message="tns:CloseSIContractIOResponse"/>
</operation>
<operation name="CreateSIContractFS">
<input message="tns:CreateSIContractFS"/>
<output message="tns:CreateSIContractFSResponse"/>
</operation>
<operation name="CreateSIContractIO">
<input message="tns:CreateSIContractIO"/>
<output message="tns:CreateSIContractIOResponse"/>
</operation>
<operation name="DeleteSIContractFS">
<input message="tns:DeleteSIContractFS"/>
<output message="tns:DeleteSIContractFSResponse"/>
</operation>
<operation name="DeleteSIContractIO">
<input message="tns:DeleteSIContractIO"/>
<output message="tns:DeleteSIContractIOResponse"/>
</operation>
<operation name="QuerySIContractIO">
<input message="tns:QuerySIContractIO"/>
<output message="tns:QuerySIContractIOResponse"/>
</operation>
<operation name="QuerySICycleIO">
<input message="tns:QuerySICycleIO"/>
<output message="tns:QuerySICycleIOResponse"/>
</operation>
<operation name="ReopenContractFS">
<input message="tns:ReopenContractFS"/>
<output message="tns:ReopenContractFSResponse"/>
</operation>
<operation name="ReopenContractIO">
<input message="tns:ReopenContractIO"/>
<output message="tns:ReopenContractIOResponse"/>
</operation>
</portType>
<binding name="FCUBSSIServiceSEIBinding" type="tns:FCUBSSIServiceSEI">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AuthorizeProductFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeProductIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateProductFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateProductIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteProductFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteProductIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyProductFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyProductIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryProductIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AmendSIContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AmendSIContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AmendSICycleFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AmendSICycleIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeSIContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeSIContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeSICycleFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeSICycleIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseSIContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseSIContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateSIContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateSIContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteSIContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteSIContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QuerySIContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QuerySICycleIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReopenContractFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReopenContractIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FCUBSSIService">
<port name="FCUBSSIServiceSEI" binding="tns:FCUBSSIServiceSEIBinding">
<soap:address location="http://10.8.0.134:1112/FCUBSSIService/FCUBSSIService"/>
</port>
</service>
</definitions>