web/WEB-INF/wsdl/10.8.0.134_1112/FCUBSSMService/FCUBSSMService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="http://fcubs.ofss.com/service/FCUBSSMService" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://fcubs.ofss.com/service/FCUBSSMService">

<xs:element name="AUTHORIZEUSERMAINT_FSFS_REQ">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="USR-Full" type="tns:UserMaint-Full-Type"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="AUTHORIZEUSERMAINT_FSFS_RES">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="USR-Full" type="tns:UserMaint-Full-Type"/>
<xs:element name="FCUBS_ERROR_RESP" type="tns:ERRORType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="FCUBS_WARNING_RESP" type="tns:WARNINGType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="AUTHORIZEUSERMAINT_IOPK_REQ">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="USR-IO" type="tns:UserMaint-Authorize-IO-Type"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="AUTHORIZEUSERMAINT_IOPK_RES">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="USR-PK" type="tns:UserMaint-PK-Type" minOccurs="0"/>
<xs:element name="USR-IO" type="tns:UserMaint-Authorize-IO-Type" minOccurs="0"/>
<xs:element name="FCUBS_ERROR_RESP" type="tns:ERRORType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="FCUBS_WARNING_RESP" type="tns:WARNINGType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="CLOSEUSERMAINT_FSFS_REQ">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="USR-Full" type="tns:UserMaint-Full-Type"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="CLOSEUSERMAINT_FSFS_RES">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="USR-Full" type="tns:UserMaint-Full-Type"/>
<xs:element name="FCUBS_ERROR_RESP" type="tns:ERRORType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="FCUBS_WARNING_RESP" type="tns:WARNINGType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="CLOSEUSERMAINT_IOPK_REQ">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="USR-IO" type="tns:UserMaint-Close-IO-Type"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="CLOSEUSERMAINT_IOPK_RES">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="USR-PK" type="tns:UserMaint-PK-Type" minOccurs="0"/>
<xs:element name="USR-IO" type="tns:UserMaint-Close-IO-Type" minOccurs="0"/>
<xs:element name="FCUBS_ERROR_RESP" type="tns:ERRORType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="FCUBS_WARNING_RESP" type="tns:WARNINGType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="CREATEUSERMAINT_FSFS_REQ">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="USR-Full" type="tns:UserMaint-Full-Type"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="CREATEUSERMAINT_FSFS_RES">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="USR-Full" type="tns:UserMaint-Full-Type"/>
<xs:element name="FCUBS_ERROR_RESP" type="tns:ERRORType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="FCUBS_WARNING_RESP" type="tns:WARNINGType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="CREATEUSERMAINT_IOPK_REQ">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="USR-IO" type="tns:UserMaint-Create-IO-Type"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="CREATEUSERMAINT_IOPK_RES">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="USR-PK" type="tns:UserMaint-PK-Type" minOccurs="0"/>
<xs:element name="USR-IO" type="tns:UserMaint-Create-IO-Type" minOccurs="0"/>
<xs:element name="FCUBS_ERROR_RESP" type="tns:ERRORType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="FCUBS_WARNING_RESP" type="tns:WARNINGType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="DELETEUSERMAINT_FSFS_REQ">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="USR-Full" type="tns:UserMaint-Full-Type"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="DELETEUSERMAINT_FSFS_RES">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="USR-Full" type="tns:UserMaint-Full-Type"/>
<xs:element name="FCUBS_ERROR_RESP" type="tns:ERRORType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="FCUBS_WARNING_RESP" type="tns:WARNINGType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="DELETEUSERMAINT_IOPK_REQ">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="USR-IO" type="tns:UserMaint-Delete-IO-Type"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="DELETEUSERMAINT_IOPK_RES">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="USR-PK" type="tns:UserMaint-PK-Type" minOccurs="0"/>
<xs:element name="USR-IO" type="tns:UserMaint-Delete-IO-Type" minOccurs="0"/>
<xs:element name="FCUBS_ERROR_RESP" type="tns:ERRORType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="FCUBS_WARNING_RESP" type="tns:WARNINGType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="MODIFYUSERMAINT_FSFS_REQ">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="USR-Full" type="tns:UserMaint-Full-Type"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="MODIFYUSERMAINT_FSFS_RES">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="USR-Full" type="tns:UserMaint-Full-Type"/>
<xs:element name="FCUBS_ERROR_RESP" type="tns:ERRORType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="FCUBS_WARNING_RESP" type="tns:WARNINGType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="MODIFYUSERMAINT_IOPK_REQ">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="USR-IO" type="tns:UserMaint-Modify-IO-Type"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="MODIFYUSERMAINT_IOPK_RES">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="USR-PK" type="tns:UserMaint-PK-Type" minOccurs="0"/>
<xs:element name="USR-IO" type="tns:UserMaint-Modify-IO-Type" minOccurs="0"/>
<xs:element name="FCUBS_ERROR_RESP" type="tns:ERRORType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="FCUBS_WARNING_RESP" type="tns:WARNINGType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="QUERYSMDBANKP_IOFS_REQ">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="Smtbs-Parameters-IO" type="tns:SMDBANKP-Query-IO-Type"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="QUERYSMDBANKP_IOFS_RES">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="Smtbs-Parameters-IO" type="tns:SMDBANKP-Query-IO-Type" minOccurs="0"/>
<xs:element name="Smtbs-Parameters-Full" type="tns:SMDBANKP-Full-Type" minOccurs="0"/>
<xs:element name="FCUBS_ERROR_RESP" type="tns:ERRORType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="FCUBS_WARNING_RESP" type="tns:WARNINGType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="QUERYSMDRLMNE_IOFS_REQ">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="Smtbs-Role-Limit-IO" type="tns:SMDRLMNE-Query-IO-Type"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="QUERYSMDRLMNE_IOFS_RES">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="Smtbs-Role-Limit-IO" type="tns:SMDRLMNE-Query-IO-Type" minOccurs="0"/>
<xs:element name="Smtbs-Role-Limit-Full" type="tns:SMDRLMNE-Full-Type" minOccurs="0"/>
<xs:element name="FCUBS_ERROR_RESP" type="tns:ERRORType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="FCUBS_WARNING_RESP" type="tns:WARNINGType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="QUERYSMROLE_IOFS_REQ">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="ROLEMASTER-IO" type="tns:SMRole-Query-IO-Type"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="QUERYSMROLE_IOFS_RES">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="ROLEMASTER-IO" type="tns:SMRole-Query-IO-Type" minOccurs="0"/>
<xs:element name="ROLEMASTER-Full" type="tns:SMRole-Full-Type" minOccurs="0"/>
<xs:element name="FCUBS_ERROR_RESP" type="tns:ERRORType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="FCUBS_WARNING_RESP" type="tns:WARNINGType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="QUERYUSERMAINT_IOFS_REQ">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="USR-IO" type="tns:UserMaint-Query-IO-Type"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="QUERYUSERMAINT_IOFS_RES">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="USR-IO" type="tns:UserMaint-Query-IO-Type" minOccurs="0"/>
<xs:element name="USR-Full" type="tns:UserMaint-Full-Type" minOccurs="0"/>
<xs:element name="FCUBS_ERROR_RESP" type="tns:ERRORType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="FCUBS_WARNING_RESP" type="tns:WARNINGType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="REOPENUSERMAINT_FSFS_REQ">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="USR-Full" type="tns:UserMaint-Full-Type"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="REOPENUSERMAINT_FSFS_RES">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="USR-Full" type="tns:UserMaint-Full-Type"/>
<xs:element name="FCUBS_ERROR_RESP" type="tns:ERRORType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="FCUBS_WARNING_RESP" type="tns:WARNINGType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="REOPENUSERMAINT_IOPK_REQ">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="USR-IO" type="tns:UserMaint-Reopen-IO-Type"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="REOPENUSERMAINT_IOPK_RES">
<xs:complexType>
<xs:sequence>
<xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType"/>
<xs:element name="FCUBS_BODY">
<xs:complexType>
<xs:sequence>
<xs:element name="USR-PK" type="tns:UserMaint-PK-Type" minOccurs="0"/>
<xs:element name="USR-IO" type="tns:UserMaint-Reopen-IO-Type" minOccurs="0"/>
<xs:element name="FCUBS_ERROR_RESP" type="tns:ERRORType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="FCUBS_WARNING_RESP" type="tns:WARNINGType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:complexType name="UDFDETAILSType2">
<xs:sequence>
<xs:element name="FLDNAM" type="xs:string"/>
<xs:element name="FLDVAL" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ERRORDETAILSType">
<xs:sequence>
<xs:element name="ECODE" type="xs:string"/>
<xs:element name="EDESC" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FCUBS_NotifHeaderType">
<xs:sequence>
<xs:element name="SOURCE" type="xs:string" minOccurs="0"/>
<xs:element name="MSGID" type="xs:string"/>
<xs:element name="NOTIF_REF_NO" type="xs:string"/>
<xs:element name="BRANCH" type="xs:string"/>
<xs:element name="NOTIF_CODE" type="xs:string"/>
<xs:element name="DESTINATION" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WARNINGDETAILSType">
<xs:sequence>
<xs:element name="WCODE" type="xs:string"/>
<xs:element name="WDESC" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FCUBS_HEADERType">
<xs:sequence>
<xs:element name="SOURCE" type="xs:string"/>
<xs:element name="UBSCOMP" type="tns:UBSCOMPType"/>
<xs:element name="MSGID" type="xs:string" minOccurs="0"/>
<xs:element name="CORRELID" type="xs:string" minOccurs="0"/>
<xs:element name="USERID" type="xs:string"/>
<xs:element name="BRANCH" type="xs:string"/>
<xs:element name="MODULEID" type="xs:string" minOccurs="0"/>
<xs:element name="SERVICE" type="xs:string" nillable="true"/>
<xs:element name="OPERATION" type="xs:string" nillable="true"/>
<xs:element name="SOURCE_OPERATION" type="xs:string" minOccurs="0"/>
<xs:element name="SOURCE_USERID" type="xs:string" minOccurs="0"/>
<xs:element name="DESTINATION" type="xs:string" minOccurs="0"/>
<xs:element name="MULTITRIPID" type="xs:string" minOccurs="0"/>
<xs:element name="FUNCTIONID" type="xs:string" minOccurs="0"/>
<xs:element name="ACTION" type="xs:string" minOccurs="0"/>
<xs:element name="MSGSTAT" type="tns:MsgStatType" minOccurs="0"/>
<xs:element name="PASSWORD" type="xs:string" minOccurs="0"/>
<xs:element name="ADDL" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="PARAM" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="NAME" type="xs:string"/>
<xs:element name="VALUE" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WARNINGType">
<xs:sequence>
<xs:element name="WARNING" type="tns:WARNINGDETAILSType" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ERRORType">
<xs:sequence>
<xs:element name="ERROR" type="tns:ERRORDETAILSType" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UserMaint-Full-Type">
<xs:sequence>
<xs:element name="STRTDATE" type="xs:date"/>
<xs:element name="USRNAME" type="xs:string"/>
<xs:element name="USRPWD" type="xs:string" minOccurs="0"/>
<xs:element name="ENDDT" type="xs:date" minOccurs="0"/>
<xs:element name="USRLANG" type="xs:string"/>
<xs:element name="HOMEBRN" type="xs:string"/>
<xs:element name="CUSTNO" type="xs:string" minOccurs="0"/>
<xs:element name="LDAPUSR" type="xs:string" minOccurs="0"/>
<xs:element name="TIMELEVEL" type="xs:decimal"/>
<xs:element name="AUTOAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="USRSTAT" type="xs:string" minOccurs="0"/>
<xs:element name="USRID" type="xs:string"/>
<xs:element name="EXTUSRREF" type="xs:string" minOccurs="0"/>
<xs:element name="USRCATEG" type="xs:string" minOccurs="0"/>
<xs:element name="TILLALLOW" type="xs:string" minOccurs="0"/>
<xs:element name="ACCCLSALLOW" type="xs:string" minOccurs="0"/>
<xs:element name="GLALLOW" type="xs:string" minOccurs="0"/>
<xs:element name="USRTXNLMT" type="xs:string" minOccurs="0"/>
<xs:element name="LMTSCCY" type="xs:string" minOccurs="0"/>
<xs:element name="MAXTXNAMT" type="xs:decimal" minOccurs="0"/>
<xs:element name="MAXAUTHAMT" type="xs:decimal" minOccurs="0"/>
<xs:element name="BRNSALLOW" type="xs:string" minOccurs="0"/>
<xs:element name="PRDSALLOW" type="xs:string" minOccurs="0"/>
<xs:element name="PRDSACCESALLOW" type="xs:string" minOccurs="0"/>
<xs:element name="TAX_IDENTIFIER" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNT_FORMAT" type="xs:string" minOccurs="0"/>
<xs:element name="DATE_FORMAT" type="xs:string" minOccurs="0"/>
<xs:element name="STAFFACCRESTR" type="xs:string" minOccurs="0"/>
<xs:element name="DEPT_CODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPT_DESC" type="xs:string" minOccurs="0"/>
<xs:element name="USRML" type="xs:string" minOccurs="0"/>
<xs:element name="ELCMUSER" type="xs:string" minOccurs="0"/>
<xs:element name="GROUP_CODE" type="xs:string" minOccurs="0"/>
<xs:element name="MULTIBRN_ACCESS" type="xs:string" minOccurs="0"/>
<xs:element name="OTH_RM_CUST_ACC_ALLOW" type="xs:string" minOccurs="0"/>
<xs:element name="SUPERVISOR_ID" type="xs:string" minOccurs="0"/>
<xs:element name="SUPERVISOR_NAME" type="xs:string" minOccurs="0"/>
<xs:element name="DASHBOARD_REQD" type="xs:string" minOccurs="0"/>
<xs:element name="ALERTS_ON_HOME" type="xs:string" minOccurs="0"/>
<xs:element name="REFERENCE_NO" type="xs:string" minOccurs="0"/>
<xs:element name="NO_CUMULATIVE_LOGINS" type="xs:decimal" minOccurs="0"/>
<xs:element name="NO_SUCCESSIVE_LOGINS" type="xs:decimal" minOccurs="0"/>
<xs:element name="SCREENSAVERTIMEOUTINSECONDS" type="xs:decimal" minOccurs="0"/>
<xs:element name="MFI_USER" type="xs:string" minOccurs="0"/>
<xs:element name="MAKER" type="xs:string" minOccurs="0"/>
<xs:element name="MAKERSTAMP" type="xs:string" minOccurs="0"/>
<xs:element name="CHECKER" type="xs:string" minOccurs="0"/>
<xs:element name="CHECKERSTAMP" type="xs:string" minOccurs="0"/>
<xs:element name="MODNO" type="xs:decimal" minOccurs="0"/>
<xs:element name="TXNSTAT" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHSTAT" type="xs:string" minOccurs="0"/>
<xs:element name="RESTR_PWD" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="PWD" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="MSGSRIGHTS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="GEN" type="xs:string" minOccurs="0"/>
<xs:element name="HLD" type="xs:string" minOccurs="0"/>
<xs:element name="CNL" type="xs:string" minOccurs="0"/>
<xs:element name="TSTINP" type="xs:string" minOccurs="0"/>
<xs:element name="CHGNODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHGADDR" type="xs:string" minOccurs="0"/>
<xs:element name="REL" type="xs:string" minOccurs="0"/>
<xs:element name="REINS" type="xs:string" minOccurs="0"/>
<xs:element name="CHGMEDIA" type="xs:string" minOccurs="0"/>
<xs:element name="CHGPRIOR" type="xs:string" minOccurs="0"/>
<xs:element name="BRNMOV" type="xs:string" minOccurs="0"/>
<xs:element name="PRNT" type="xs:string" minOccurs="0"/>
<xs:element name="TSTCHK" type="xs:string" minOccurs="0"/>
<xs:element name="HLDAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CNLAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="TSTINPAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGNODEAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGADDRAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="RELAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="REINSAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGMEDIAAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="BRNMOVAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGPRIORAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="FTUPL" type="xs:string" minOccurs="0"/>
<xs:element name="LNKCONT" type="xs:string" minOccurs="0"/>
<xs:element name="MOVQ" type="xs:string" minOccurs="0"/>
<xs:element name="CHGBRNIN" type="xs:string" minOccurs="0"/>
<xs:element name="CHGADDRIN" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHRGHTS" type="xs:string" minOccurs="0"/>
<xs:element name="CHGMSG" type="xs:string" minOccurs="0"/>
<xs:element name="CHGMSGAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGFORCCOVMATCH" type="xs:string" minOccurs="0"/>
<xs:element name="CHANGE_FORCE_RELEASE_FUND" type="xs:string" minOccurs="0"/>
<xs:element name="SUPPRESS" type="xs:string" minOccurs="0"/>
<xs:element name="DELMSG" type="xs:string" minOccurs="0"/>
<xs:element name="QUEUERIGHTS" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="QUEUE" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERTILLS" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="TILLID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERACCCLASS" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ACCCLS" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERGLREST" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="NODEGL" type="xs:string"/>
<xs:element name="USERGLEXCEPT" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="EXCEPLEAFGL" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERLIMITSROLE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LMTBRN" type="xs:string"/>
<xs:element name="LMTSROLE" type="xs:string" minOccurs="0"/>
<xs:element name="QLMTCCY" type="xs:string" minOccurs="0"/>
<xs:element name="QINPLMT" type="xs:decimal" minOccurs="0"/>
<xs:element name="QAUTHLMT" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERBRANCHES" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="BRNSBRN" type="xs:string"/>
<xs:element name="BRNNAME" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERPRODUCTS" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="PRDPRDCD" type="xs:string"/>
<xs:element name="PRDDESC" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERACCESSPRODUCTS" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="PRDACCESSPRDCD" type="xs:string"/>
<xs:element name="PRDDESC" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERFUNCDISALLOW" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="FUNCDISALLOWFUNCID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERROLE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ROLEBRNCD" type="xs:string"/>
<xs:element name="USRROLEID" type="xs:string"/>
<xs:element name="MASTERROLEDESC" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERSFUNCTIONS" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="USERFUNCBRNCD" type="xs:string"/>
<xs:element name="USERFUNCFUNCID" type="xs:string"/>
<xs:element name="CONTROL1" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL2" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL3" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL4" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL5" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL6" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL7" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL8" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL9" type="xs:decimal" minOccurs="0"/>
<xs:element name="USERFUNCSCTRL10" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL11" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL12" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL13" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL14" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL15" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL16" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Grp-Restriction" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="GROUP_CODE" type="xs:string"/>
<xs:element name="GROUP_DESC" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Centralisation" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="USRROLEID" type="xs:string"/>
<xs:element name="ROLDESC" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Dshmst" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="USRID" type="xs:string" minOccurs="0"/>
<xs:element name="USRNAME" type="xs:string" minOccurs="0"/>
<xs:element name="Dshdet" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="FUNCTIONID" type="xs:string" minOccurs="0"/>
<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
<xs:element name="SEQUENCE_NO" type="xs:decimal"/>
<xs:element name="DBWHERECLAUSE" type="xs:string"/>
<xs:element name="SHOW_IN_DASHBOARD" type="xs:string" minOccurs="0"/>
<xs:element name="Where-Master" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="COLUMN_NAME" type="xs:string" minOccurs="0"/>
<xs:element name="WHERE_CL" type="xs:string" minOccurs="0"/>
<xs:element name="CONDITION" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="UDFDETAILS" type="tns:UDFDETAILSType2" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UserMaint-Authorize-IO-Type">
<xs:sequence>
<xs:element name="USRID" type="xs:string"/>
<xs:element name="CHECKER" type="xs:string" minOccurs="0"/>
<xs:element name="CHECKERSTAMP" type="xs:string" minOccurs="0"/>
<xs:element name="MODNO" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UserMaint-PK-Type">
<xs:sequence>
<xs:element name="USRID" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SMRole-Full-Type">
<xs:sequence>
<xs:element name="ROLEIDENTIFICATION" type="xs:string"/>
<xs:element name="MASTERROLEDESC" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHORISERROLE" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHVLTROLE" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCH_RES" type="xs:string" minOccurs="0"/>
<xs:element name="ACCCLASSALLOWED" type="xs:string" minOccurs="0"/>
<xs:element name="CENTRALISATIONROLE" type="xs:string" minOccurs="0"/>
<xs:element name="MAKER" type="xs:string" minOccurs="0"/>
<xs:element name="MAKERSTAMP" type="xs:string" minOccurs="0"/>
<xs:element name="CHECKER" type="xs:string" minOccurs="0"/>
<xs:element name="CHECKERSTAMP" type="xs:string" minOccurs="0"/>
<xs:element name="MODNO" type="xs:decimal" minOccurs="0"/>
<xs:element name="TXNSTAT" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHSTAT" type="xs:string" minOccurs="0"/>
<xs:element name="ROLEDETAIL" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ROLEFUN" type="xs:string"/>
<xs:element name="CONTROL1" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL2" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL3" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL4" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL5" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL6" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL7" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL8" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL9" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL10" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL11" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL12" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL13" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL14" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL15" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL16" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ROLEDETAILB" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ROLEFUN" type="xs:string"/>
<xs:element name="CONT1" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT2" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT3" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT4" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT5" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT6" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL7" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT8" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT9" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT10" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT11" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT12" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT13" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT14" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT15" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL16" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ROLEDETAILC" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ROLEFUN" type="xs:string"/>
<xs:element name="CNTRL1" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL2" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL3" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL4" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL5" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL6" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL7" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL8" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL9" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL10" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL11" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL12" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL13" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL14" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL15" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL16" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ROLEDETAILD" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ROLEFUN" type="xs:string"/>
<xs:element name="CONTROL1" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL2" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL3" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL4" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL5" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL6" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL7" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL8" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL9" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL10" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL11" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL12" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL13" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL14" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL15" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL16" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ROLEBRANCHES" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="BRANCH" type="xs:string"/>
<xs:element name="BRNNAME" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ROLEACCCLASS" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ACCCLS" type="xs:string"/>
<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="MSGCRIGHTS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="CNL" type="xs:string" minOccurs="0"/>
<xs:element name="CHGNODE" type="xs:string" minOccurs="0"/>
<xs:element name="REL" type="xs:string" minOccurs="0"/>
<xs:element name="CHGMEDIA" type="xs:string" minOccurs="0"/>
<xs:element name="BRNMOV" type="xs:string" minOccurs="0"/>
<xs:element name="HLD" type="xs:string" minOccurs="0"/>
<xs:element name="TSTINP" type="xs:string" minOccurs="0"/>
<xs:element name="CHGADDR" type="xs:string" minOccurs="0"/>
<xs:element name="REINS" type="xs:string" minOccurs="0"/>
<xs:element name="CHGPRIOR" type="xs:string" minOccurs="0"/>
<xs:element name="CNLAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGNODEAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="RELAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGMEDIAAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="BRNMOVAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="HLDAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="TSTINPAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGADDRAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="REINSAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGPRIORAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="GEN" type="xs:string" minOccurs="0"/>
<xs:element name="TSTCHK" type="xs:string" minOccurs="0"/>
<xs:element name="LNKCONT" type="xs:string" minOccurs="0"/>
<xs:element name="CHGBRNIN" type="xs:string" minOccurs="0"/>
<xs:element name="CHGMSG" type="xs:string" minOccurs="0"/>
<xs:element name="CHGFORCRELFUND" type="xs:string" minOccurs="0"/>
<xs:element name="SUPPRESS" type="xs:string" minOccurs="0"/>
<xs:element name="DELMSG" type="xs:string" minOccurs="0"/>
<xs:element name="PRNT" type="xs:string" minOccurs="0"/>
<xs:element name="FTUPL" type="xs:string" minOccurs="0"/>
<xs:element name="MOVQ" type="xs:string" minOccurs="0"/>
<xs:element name="CHGADDRIN" type="xs:string" minOccurs="0"/>
<xs:element name="CHGMSGAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHRGHTS" type="xs:string" minOccurs="0"/>
<xs:element name="CHGFORCCOVMATCH" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="QUEUERIGHTS" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="QUEUE" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="RESTRICTIVEPASSWD" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="PWD" type="xs:string"/>
<xs:element name="PWDID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ROLEBRANCHLIMITS" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LMTCCY" type="xs:string"/>
<xs:element name="BRHUSERLMT" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Roledetaile" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ROLEFUN" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHCODE" type="xs:string" minOccurs="0"/>
<xs:element name="EDITABLE" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRLSTR" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Roledetailf" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ROLEID" type="xs:string" minOccurs="0"/>
<xs:element name="ROLEFUN" type="xs:string" minOccurs="0"/>
<xs:element name="CNTRLSTR" type="xs:string" minOccurs="0"/>
<xs:element name="CNTRL1" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL10" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL11" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL12" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL13" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL14" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL15" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL16" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL2" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL3" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL4" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL5" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL6" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL7" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL8" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL9" type="xs:decimal" minOccurs="0"/>
<xs:element name="ATHSTAT" type="xs:string" minOccurs="0"/>
<xs:element name="BRNCHCODE" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="UDFDETAILS" type="tns:UDFDETAILSType2" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SMDRLMNE-PK-Type">
<xs:sequence>
<xs:element name="ROLEID2" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SMDBANKP-PK-Type">
<xs:sequence>
<xs:element name="SITE_CODE" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SMRole-PK-Type">
<xs:sequence>
<xs:element name="ROLEIDENTIFICATION" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SMRole-Authorize-IO-Type">
<xs:sequence>
<xs:element name="ROLEIDENTIFICATION" type="xs:string"/>
<xs:element name="CHECKER" type="xs:string" minOccurs="0"/>
<xs:element name="CHECKERSTAMP" type="xs:string" minOccurs="0"/>
<xs:element name="MODNO" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SMDRLMNE-Full-Type">
<xs:sequence>
<xs:element name="ROLEID2" type="xs:string"/>
<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
<xs:element name="LIMIT_CCY" type="xs:string"/>
<xs:element name="INPUT_LIMIT" type="xs:decimal"/>
<xs:element name="AUTHORIZATION_LIMIT" type="xs:decimal"/>
<xs:element name="MAKER" type="xs:string" minOccurs="0"/>
<xs:element name="MAKERSTAMP" type="xs:string" minOccurs="0"/>
<xs:element name="CHECKER" type="xs:string" minOccurs="0"/>
<xs:element name="CHECKERSTAMP" type="xs:string" minOccurs="0"/>
<xs:element name="MODNO" type="xs:decimal" minOccurs="0"/>
<xs:element name="TXNSTAT" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHSTAT" type="xs:string" minOccurs="0"/>
<xs:element name="UDFDETAILS" type="tns:UDFDETAILSType2" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UserMaint-Create-IO-Type">
<xs:sequence>
<xs:element name="STRTDATE" type="xs:date"/>
<xs:element name="USRNAME" type="xs:string"/>
<xs:element name="USRPWD" type="xs:string" minOccurs="0"/>
<xs:element name="ENDDT" type="xs:date" minOccurs="0"/>
<xs:element name="USRLANG" type="xs:string"/>
<xs:element name="HOMEBRN" type="xs:string"/>
<xs:element name="CUSTNO" type="xs:string" minOccurs="0"/>
<xs:element name="LDAPUSR" type="xs:string" minOccurs="0"/>
<xs:element name="TIMELEVEL" type="xs:decimal"/>
<xs:element name="AUTOAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="USRSTAT" type="xs:string" minOccurs="0"/>
<xs:element name="USRID" type="xs:string"/>
<xs:element name="EXTUSRREF" type="xs:string" minOccurs="0"/>
<xs:element name="USRCATEG" type="xs:string" minOccurs="0"/>
<xs:element name="TILLALLOW" type="xs:string" minOccurs="0"/>
<xs:element name="ACCCLSALLOW" type="xs:string" minOccurs="0"/>
<xs:element name="GLALLOW" type="xs:string" minOccurs="0"/>
<xs:element name="USRTXNLMT" type="xs:string" minOccurs="0"/>
<xs:element name="LMTSCCY" type="xs:string" minOccurs="0"/>
<xs:element name="MAXTXNAMT" type="xs:decimal" minOccurs="0"/>
<xs:element name="MAXAUTHAMT" type="xs:decimal" minOccurs="0"/>
<xs:element name="BRNSALLOW" type="xs:string" minOccurs="0"/>
<xs:element name="PRDSALLOW" type="xs:string" minOccurs="0"/>
<xs:element name="PRDSACCESALLOW" type="xs:string" minOccurs="0"/>
<xs:element name="TAX_IDENTIFIER" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNT_FORMAT" type="xs:string" minOccurs="0"/>
<xs:element name="DATE_FORMAT" type="xs:string" minOccurs="0"/>
<xs:element name="STAFFACCRESTR" type="xs:string" minOccurs="0"/>
<xs:element name="DEPT_CODE" type="xs:string" minOccurs="0"/>
<xs:element name="USRML" type="xs:string" minOccurs="0"/>
<xs:element name="ELCMUSER" type="xs:string" minOccurs="0"/>
<xs:element name="GROUP_CODE" type="xs:string" minOccurs="0"/>
<xs:element name="MULTIBRN_ACCESS" type="xs:string" minOccurs="0"/>
<xs:element name="OTH_RM_CUST_ACC_ALLOW" type="xs:string" minOccurs="0"/>
<xs:element name="SUPERVISOR_ID" type="xs:string" minOccurs="0"/>
<xs:element name="DASHBOARD_REQD" type="xs:string" minOccurs="0"/>
<xs:element name="ALERTS_ON_HOME" type="xs:string" minOccurs="0"/>
<xs:element name="NO_CUMULATIVE_LOGINS" type="xs:decimal" minOccurs="0"/>
<xs:element name="NO_SUCCESSIVE_LOGINS" type="xs:decimal" minOccurs="0"/>
<xs:element name="SCREENSAVERTIMEOUTINSECONDS" type="xs:decimal" minOccurs="0"/>
<xs:element name="MFI_USER" type="xs:string" minOccurs="0"/>
<xs:element name="RESTR_PWD" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="PWD" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="MSGSRIGHTS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="GEN" type="xs:string" minOccurs="0"/>
<xs:element name="HLD" type="xs:string" minOccurs="0"/>
<xs:element name="CNL" type="xs:string" minOccurs="0"/>
<xs:element name="TSTINP" type="xs:string" minOccurs="0"/>
<xs:element name="CHGNODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHGADDR" type="xs:string" minOccurs="0"/>
<xs:element name="REL" type="xs:string" minOccurs="0"/>
<xs:element name="REINS" type="xs:string" minOccurs="0"/>
<xs:element name="CHGMEDIA" type="xs:string" minOccurs="0"/>
<xs:element name="CHGPRIOR" type="xs:string" minOccurs="0"/>
<xs:element name="BRNMOV" type="xs:string" minOccurs="0"/>
<xs:element name="PRNT" type="xs:string" minOccurs="0"/>
<xs:element name="TSTCHK" type="xs:string" minOccurs="0"/>
<xs:element name="HLDAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CNLAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="TSTINPAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGNODEAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGADDRAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="RELAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="REINSAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGMEDIAAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="BRNMOVAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGPRIORAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="FTUPL" type="xs:string" minOccurs="0"/>
<xs:element name="LNKCONT" type="xs:string" minOccurs="0"/>
<xs:element name="MOVQ" type="xs:string" minOccurs="0"/>
<xs:element name="CHGBRNIN" type="xs:string" minOccurs="0"/>
<xs:element name="CHGADDRIN" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHRGHTS" type="xs:string" minOccurs="0"/>
<xs:element name="CHGMSG" type="xs:string" minOccurs="0"/>
<xs:element name="CHGMSGAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGFORCCOVMATCH" type="xs:string" minOccurs="0"/>
<xs:element name="CHANGE_FORCE_RELEASE_FUND" type="xs:string" minOccurs="0"/>
<xs:element name="SUPPRESS" type="xs:string" minOccurs="0"/>
<xs:element name="DELMSG" type="xs:string" minOccurs="0"/>
<xs:element name="QUEUERIGHTS" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="QUEUE" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERTILLS" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="TILLID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERACCCLASS" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ACCCLS" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERGLREST" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="NODEGL" type="xs:string"/>
<xs:element name="USERGLEXCEPT" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="EXCEPLEAFGL" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERLIMITSROLE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LMTBRN" type="xs:string"/>
<xs:element name="LMTSROLE" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERBRANCHES" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="BRNSBRN" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERPRODUCTS" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="PRDPRDCD" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERACCESSPRODUCTS" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="PRDACCESSPRDCD" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERFUNCDISALLOW" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="FUNCDISALLOWFUNCID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERROLE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ROLEBRNCD" type="xs:string"/>
<xs:element name="USRROLEID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERSFUNCTIONS" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="USERFUNCBRNCD" type="xs:string"/>
<xs:element name="USERFUNCFUNCID" type="xs:string"/>
<xs:element name="CONTROL1" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL2" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL3" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL4" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL5" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL6" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL7" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL8" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL9" type="xs:decimal" minOccurs="0"/>
<xs:element name="USERFUNCSCTRL10" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL11" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL12" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL13" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL14" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL15" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL16" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Grp-Restriction" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="GROUP_CODE" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Centralisation" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="USRROLEID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Dshdet" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="SEQUENCE_NO" type="xs:decimal"/>
<xs:element name="DBWHERECLAUSE" type="xs:string"/>
<xs:element name="SHOW_IN_DASHBOARD" type="xs:string" minOccurs="0"/>
<xs:element name="Where-Master" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="COLUMN_NAME" type="xs:string" minOccurs="0"/>
<xs:element name="WHERE_CL" type="xs:string" minOccurs="0"/>
<xs:element name="CONDITION" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="UDFDETAILS" type="tns:UDFDETAILSType2" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UserMaint-Reopen-IO-Type">
<xs:sequence>
<xs:element name="USRID" type="xs:string"/>
<xs:element name="MAKER" type="xs:string" minOccurs="0"/>
<xs:element name="MAKERSTAMP" type="xs:string" minOccurs="0"/>
<xs:element name="MODNO" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SMRole-Query-IO-Type">
<xs:sequence>
<xs:element name="ROLEIDENTIFICATION" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SMDRLMNE-Query-IO-Type">
<xs:sequence>
<xs:element name="ROLEID2" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UserMaint-Query-IO-Type">
<xs:sequence>
<xs:element name="USRID" type="xs:string"/>
<xs:element name="DASHBOARD_REQD" type="xs:string" minOccurs="0"/>
<xs:element name="ALERTS_ON_HOME" type="xs:string" minOccurs="0"/>
<xs:element name="Grp-Restriction" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SMDRLMNE-Modify-IO-Type">
<xs:sequence>
<xs:element name="ROLEID2" type="xs:string"/>
<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
<xs:element name="LIMIT_CCY" type="xs:string" minOccurs="0"/>
<xs:element name="INPUT_LIMIT" type="xs:decimal" minOccurs="0"/>
<xs:element name="AUTHORIZATION_LIMIT" type="xs:decimal" minOccurs="0"/>
<xs:element name="MAKER" type="xs:string" minOccurs="0"/>
<xs:element name="MAKERSTAMP" type="xs:string" minOccurs="0"/>
<xs:element name="UDFDETAILS" type="tns:UDFDETAILSType2" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SMDBANKP-Close-IO-Type">
<xs:sequence>
<xs:element name="SITE_CODE" type="xs:string"/>
<xs:element name="MAKER" type="xs:string" minOccurs="0"/>
<xs:element name="MAKERSTAMP" type="xs:string" minOccurs="0"/>
<xs:element name="MODNO" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UserMaint-Delete-IO-Type">
<xs:sequence>
<xs:element name="USRID" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SMDBANKP-Modify-IO-Type">
<xs:sequence>
<xs:element name="SITE_CODE" type="xs:string"/>
<xs:element name="INVALID_LOGINS_CUM" type="xs:decimal" minOccurs="0"/>
<xs:element name="INVALID_LOGINS_SUC" type="xs:decimal" minOccurs="0"/>
<xs:element name="PWD_PREVENT_REUSE" type="xs:decimal" minOccurs="0"/>
<xs:element name="PWD_CHANGE_AFTER" type="xs:decimal" minOccurs="0"/>
<xs:element name="MAXIMUM" type="xs:decimal" minOccurs="0"/>
<xs:element name="MINIMUM" type="xs:decimal" minOccurs="0"/>
<xs:element name="PWD_EXPIRY_MSG_DAYS" type="xs:decimal" minOccurs="0"/>
<xs:element name="ARCHIVAL_PERIOD" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONCHAR_PWD_NUM" type="xs:decimal" minOccurs="0"/>
<xs:element name="FREQ_PWD_CHG" type="xs:decimal" minOccurs="0"/>
<xs:element name="MIN_PWD_NUMERIC_LENGTH" type="xs:decimal" minOccurs="0"/>
<xs:element name="LEGAL_NOTICE" type="xs:string" minOccurs="0"/>
<xs:element name="DORMANCY_DAYS" type="xs:decimal" minOccurs="0"/>
<xs:element name="DISPLAY_LEGAL_NOTICE" type="xs:string" minOccurs="0"/>
<xs:element name="MIN_SPECIALCHAR_LENGTH" type="xs:decimal" minOccurs="0"/>
<xs:element name="MIN_LOWERCASE_CHAR" type="xs:decimal" minOccurs="0"/>
<xs:element name="MIN_UPPERCASE_CHAR" type="xs:decimal" minOccurs="0"/>
<xs:element name="SCREENSAVERREQUIRED" type="xs:string" minOccurs="0"/>
<xs:element name="SCREENSAVERTIMEOUTINSECONDS" type="xs:decimal" minOccurs="0"/>
<xs:element name="SCREENSAVERMODIFIABLEBYUSER" type="xs:string" minOccurs="0"/>
<xs:element name="PASSWORDEXTERNAL" type="xs:string" minOccurs="0"/>
<xs:element name="MAKER" type="xs:string" minOccurs="0"/>
<xs:element name="MAKERSTAMP" type="xs:string" minOccurs="0"/>
<xs:element name="Smtbs-Branch-Restr" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="RESTR_TYPE" type="xs:string" minOccurs="0"/>
<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Smtbs-Restrictive-Passwd" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="PASSWORD" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="UDFDETAILS" type="tns:UDFDETAILSType2" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SMRole-Modify-IO-Type">
<xs:sequence>
<xs:element name="ROLEIDENTIFICATION" type="xs:string"/>
<xs:element name="MASTERROLEDESC" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHROLE" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHROLELEVEL" type="xs:decimal" minOccurs="0"/>
<xs:element name="BRANCHPWDRESETFREQ" type="xs:decimal" minOccurs="0"/>
<xs:element name="AUTHORISERROLE" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHVLTROLE" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCH_RES" type="xs:string" minOccurs="0"/>
<xs:element name="ACCCLASSALLOWED" type="xs:string" minOccurs="0"/>
<xs:element name="MAKER" type="xs:string" minOccurs="0"/>
<xs:element name="MAKERSTAMP" type="xs:string" minOccurs="0"/>
<xs:element name="ROLEDETAIL" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CONTROLSTRING" type="xs:string" minOccurs="0"/>
<xs:element name="ROLEFUN" type="xs:string"/>
<xs:element name="CONTROL1" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL2" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL3" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL4" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL5" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL6" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL7" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL8" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL9" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL10" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL11" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL12" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL13" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL14" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL15" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL16" type="xs:decimal" minOccurs="0"/>
<xs:element name="ATHSTAT" type="xs:string" minOccurs="0"/>
<xs:element name="BRNCHCODE" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ROLEDETAILB" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CNTRLSTR" type="xs:string" minOccurs="0"/>
<xs:element name="ROLEFUN" type="xs:string"/>
<xs:element name="CONT1" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT2" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT3" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT4" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT5" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT6" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL7" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT8" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT9" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT10" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT11" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT12" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT13" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT14" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT15" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL16" type="xs:decimal" minOccurs="0"/>
<xs:element name="ATHATAT" type="xs:string" minOccurs="0"/>
<xs:element name="BRHCODE" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ROLEDETAILC" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CNTRLSTR" type="xs:string" minOccurs="0"/>
<xs:element name="ROLEFUN" type="xs:string"/>
<xs:element name="CNTRL1" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL2" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL3" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL4" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL5" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL6" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL7" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL8" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL9" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL10" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL11" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL12" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL13" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL14" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL15" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL16" type="xs:decimal" minOccurs="0"/>
<xs:element name="ATHSTAT" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ROLEDETAILD" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CNTRLSTRING" type="xs:string" minOccurs="0"/>
<xs:element name="ROLEFUN" type="xs:string"/>
<xs:element name="CONTROL1" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL2" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL3" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL4" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL5" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL6" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL7" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL8" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL9" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL10" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL11" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL12" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL13" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL14" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL15" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL16" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ROLEBRANCHES" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="BRANCH" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ROLEACCCLASS" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ACCCLS" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="MSGCRIGHTS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="CNL" type="xs:string" minOccurs="0"/>
<xs:element name="CHGNODE" type="xs:string" minOccurs="0"/>
<xs:element name="REL" type="xs:string" minOccurs="0"/>
<xs:element name="CHGMEDIA" type="xs:string" minOccurs="0"/>
<xs:element name="BRNMOV" type="xs:string" minOccurs="0"/>
<xs:element name="HLD" type="xs:string" minOccurs="0"/>
<xs:element name="TSTINP" type="xs:string" minOccurs="0"/>
<xs:element name="CHGADDR" type="xs:string" minOccurs="0"/>
<xs:element name="REINS" type="xs:string" minOccurs="0"/>
<xs:element name="CHGPRIOR" type="xs:string" minOccurs="0"/>
<xs:element name="CNLAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGNODEAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="RELAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGMEDIAAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="BRNMOVAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="HLDAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="TSTINPAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGADDRAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="REINSAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGPRIORAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="GEN" type="xs:string" minOccurs="0"/>
<xs:element name="TSTCHK" type="xs:string" minOccurs="0"/>
<xs:element name="LNKCONT" type="xs:string" minOccurs="0"/>
<xs:element name="CHGBRNIN" type="xs:string" minOccurs="0"/>
<xs:element name="CHGMSG" type="xs:string" minOccurs="0"/>
<xs:element name="CHGFORCRELFUND" type="xs:string" minOccurs="0"/>
<xs:element name="SUPPRESS" type="xs:string" minOccurs="0"/>
<xs:element name="DELMSG" type="xs:string" minOccurs="0"/>
<xs:element name="PRNT" type="xs:string" minOccurs="0"/>
<xs:element name="FTUPL" type="xs:string" minOccurs="0"/>
<xs:element name="MOVQ" type="xs:string" minOccurs="0"/>
<xs:element name="CHGADDRIN" type="xs:string" minOccurs="0"/>
<xs:element name="CHGMSGAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHRGHTS" type="xs:string" minOccurs="0"/>
<xs:element name="CHGFORCCOVMATCH" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="QUEUERIGHTS" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="QUEUE" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="RESTRICTIVEPASSWD" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="PWD" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ROLEBRANCHLIMITS" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LMTCCY" type="xs:string"/>
<xs:element name="EXRATE" type="xs:decimal" minOccurs="0"/>
<xs:element name="BRHLOWERLMT" type="xs:decimal" minOccurs="0"/>
<xs:element name="BRHUPPRLMT" type="xs:decimal" minOccurs="0"/>
<xs:element name="BRHUSERLMT" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Roledetaile" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ROLEFUN" type="xs:string" minOccurs="0"/>
<xs:element name="EDITABLE" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRLSTR" type="xs:string" minOccurs="0"/>
<xs:element name="CONTROL_1" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL_10" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL_11" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL_12" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL_13" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL_14" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL_15" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL_16" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL_2" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL_3" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL_4" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL_6" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL_7" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL_8" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL_9" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Roledetailf" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ROLEFUN" type="xs:string" minOccurs="0"/>
<xs:element name="CNTRLSTR" type="xs:string" minOccurs="0"/>
<xs:element name="CNTRL1" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL10" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL11" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL12" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL13" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL14" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL15" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL16" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL2" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL3" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL4" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL5" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL6" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL7" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL8" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL9" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="UDFDETAILS" type="tns:UDFDETAILSType2" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SMDBANKP-Query-IO-Type">
<xs:sequence>
<xs:element name="SITE_CODE" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SMDBANKP-Full-Type">
<xs:sequence>
<xs:element name="HEAD_OFFICE" type="xs:string" minOccurs="0"/>
<xs:element name="SITE_CODE" type="xs:string"/>
<xs:element name="ACTIVATION_KEY" type="xs:string" minOccurs="0"/>
<xs:element name="INVALID_LOGINS_CUM" type="xs:decimal" minOccurs="0"/>
<xs:element name="INVALID_LOGINS_SUC" type="xs:decimal" minOccurs="0"/>
<xs:element name="PWD_PREVENT_REUSE" type="xs:decimal" minOccurs="0"/>
<xs:element name="PWD_CHANGE_AFTER" type="xs:decimal" minOccurs="0"/>
<xs:element name="MAXIMUM" type="xs:decimal" minOccurs="0"/>
<xs:element name="MINIMUM" type="xs:decimal" minOccurs="0"/>
<xs:element name="PWD_EXPIRY_MSG_DAYS" type="xs:decimal" minOccurs="0"/>
<xs:element name="ARCHIVAL_PERIOD" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONCHAR_PWD_NUM" type="xs:decimal" minOccurs="0"/>
<xs:element name="FREQ_PWD_CHG" type="xs:decimal" minOccurs="0"/>
<xs:element name="MIN_PWD_NUMERIC_LENGTH" type="xs:decimal" minOccurs="0"/>
<xs:element name="LEGAL_NOTICE" type="xs:string" minOccurs="0"/>
<xs:element name="DORMANCY_DAYS" type="xs:decimal" minOccurs="0"/>
<xs:element name="DISPLAY_LEGAL_NOTICE" type="xs:string" minOccurs="0"/>
<xs:element name="MIN_SPECIALCHAR_LENGTH" type="xs:decimal" minOccurs="0"/>
<xs:element name="MIN_LOWERCASE_CHAR" type="xs:decimal" minOccurs="0"/>
<xs:element name="MIN_UPPERCASE_CHAR" type="xs:decimal" minOccurs="0"/>
<xs:element name="SCREENSAVERREQUIRED" type="xs:string" minOccurs="0"/>
<xs:element name="SCREENSAVERTIMEOUTINSECONDS" type="xs:decimal" minOccurs="0"/>
<xs:element name="SCREENSAVERMODIFIABLEBYUSER" type="xs:string" minOccurs="0"/>
<xs:element name="PASSWORDEXTERNAL" type="xs:string" minOccurs="0"/>
<xs:element name="MAKER" type="xs:string" minOccurs="0"/>
<xs:element name="MAKERSTAMP" type="xs:string" minOccurs="0"/>
<xs:element name="CHECKER" type="xs:string" minOccurs="0"/>
<xs:element name="CHECKERSTAMP" type="xs:string" minOccurs="0"/>
<xs:element name="MODNO" type="xs:decimal" minOccurs="0"/>
<xs:element name="TXNSTAT" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHSTAT" type="xs:string" minOccurs="0"/>
<xs:element name="Smtbs-Branch-Restr" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="RESTR_TYPE" type="xs:string" minOccurs="0"/>
<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Smtbs-Restrictive-Passwd" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="PASSWORD" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="UDFDETAILS" type="tns:UDFDETAILSType2" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UserMaint-Close-IO-Type">
<xs:sequence>
<xs:element name="USRID" type="xs:string"/>
<xs:element name="MAKER" type="xs:string" minOccurs="0"/>
<xs:element name="MAKERSTAMP" type="xs:string" minOccurs="0"/>
<xs:element name="MODNO" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SMDRLMNE-Authorize-IO-Type">
<xs:sequence>
<xs:element name="ROLEID2" type="xs:string"/>
<xs:element name="CHECKER" type="xs:string" minOccurs="0"/>
<xs:element name="CHECKERSTAMP" type="xs:string" minOccurs="0"/>
<xs:element name="MODNO" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SMRole-Delete-IO-Type">
<xs:sequence>
<xs:element name="ROLEIDENTIFICATION" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SMDRLMNE-Create-IO-Type">
<xs:sequence>
<xs:element name="ROLEID2" type="xs:string"/>
<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
<xs:element name="LIMIT_CCY" type="xs:string"/>
<xs:element name="INPUT_LIMIT" type="xs:decimal"/>
<xs:element name="AUTHORIZATION_LIMIT" type="xs:decimal"/>
<xs:element name="UDFDETAILS" type="tns:UDFDETAILSType2" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UserMaint-Modify-IO-Type">
<xs:sequence>
<xs:element name="STRTDATE" type="xs:date" minOccurs="0"/>
<xs:element name="USRNAME" type="xs:string" minOccurs="0"/>
<xs:element name="USRPWD" type="xs:string" minOccurs="0"/>
<xs:element name="ENDDT" type="xs:date" minOccurs="0"/>
<xs:element name="USRLANG" type="xs:string" minOccurs="0"/>
<xs:element name="HOMEBRN" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTNO" type="xs:string" minOccurs="0"/>
<xs:element name="LDAPUSR" type="xs:string" minOccurs="0"/>
<xs:element name="TIMELEVEL" type="xs:decimal" minOccurs="0"/>
<xs:element name="AUTOAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="USRSTAT" type="xs:string" minOccurs="0"/>
<xs:element name="USRID" type="xs:string"/>
<xs:element name="FORCPWDCHG" type="xs:decimal" minOccurs="0"/>
<xs:element name="USRCATEG" type="xs:string" minOccurs="0"/>
<xs:element name="TILLALLOW" type="xs:string" minOccurs="0"/>
<xs:element name="ACCCLSALLOW" type="xs:string" minOccurs="0"/>
<xs:element name="GLALLOW" type="xs:string" minOccurs="0"/>
<xs:element name="USRTXNLMT" type="xs:string" minOccurs="0"/>
<xs:element name="LMTSCCY" type="xs:string" minOccurs="0"/>
<xs:element name="MAXTXNAMT" type="xs:decimal" minOccurs="0"/>
<xs:element name="MAXAUTHAMT" type="xs:decimal" minOccurs="0"/>
<xs:element name="BRNSALLOW" type="xs:string" minOccurs="0"/>
<xs:element name="PRDSALLOW" type="xs:string" minOccurs="0"/>
<xs:element name="PRDSACCESALLOW" type="xs:string" minOccurs="0"/>
<xs:element name="TAX_IDENTIFIER" type="xs:string" minOccurs="0"/>
<xs:element name="STAFFACCRESTR" type="xs:string" minOccurs="0"/>
<xs:element name="DEPT_CODE" type="xs:string" minOccurs="0"/>
<xs:element name="USRML" type="xs:string" minOccurs="0"/>
<xs:element name="ELCMUSER" type="xs:string" minOccurs="0"/>
<xs:element name="GROUP_CODE" type="xs:string" minOccurs="0"/>
<xs:element name="MULTIBRN_ACCESS" type="xs:string" minOccurs="0"/>
<xs:element name="OTH_RM_CUST_ACC_ALLOW" type="xs:string" minOccurs="0"/>
<xs:element name="SUPERVISOR_ID" type="xs:string" minOccurs="0"/>
<xs:element name="SUPERVISOR_NAME" type="xs:string" minOccurs="0"/>
<xs:element name="DASHBOARD_REQD" type="xs:string" minOccurs="0"/>
<xs:element name="ALERTS_ON_HOME" type="xs:string" minOccurs="0"/>
<xs:element name="MFI_USER" type="xs:string" minOccurs="0"/>
<xs:element name="MAKER" type="xs:string" minOccurs="0"/>
<xs:element name="MAKERSTAMP" type="xs:string" minOccurs="0"/>
<xs:element name="RESTR_PWD" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="PWD" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="MSGSRIGHTS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="GEN" type="xs:string" minOccurs="0"/>
<xs:element name="HLD" type="xs:string" minOccurs="0"/>
<xs:element name="CNL" type="xs:string" minOccurs="0"/>
<xs:element name="TSTINP" type="xs:string" minOccurs="0"/>
<xs:element name="CHGNODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHGADDR" type="xs:string" minOccurs="0"/>
<xs:element name="REL" type="xs:string" minOccurs="0"/>
<xs:element name="REINS" type="xs:string" minOccurs="0"/>
<xs:element name="CHGMEDIA" type="xs:string" minOccurs="0"/>
<xs:element name="CHGPRIOR" type="xs:string" minOccurs="0"/>
<xs:element name="BRNMOV" type="xs:string" minOccurs="0"/>
<xs:element name="PRNT" type="xs:string" minOccurs="0"/>
<xs:element name="TSTCHK" type="xs:string" minOccurs="0"/>
<xs:element name="HLDAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CNLAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="TSTINPAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGNODEAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGADDRAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="RELAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="REINSAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGMEDIAAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="BRNMOVAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGPRIORAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="FTUPL" type="xs:string" minOccurs="0"/>
<xs:element name="LNKCONT" type="xs:string" minOccurs="0"/>
<xs:element name="MOVQ" type="xs:string" minOccurs="0"/>
<xs:element name="CHGBRNIN" type="xs:string" minOccurs="0"/>
<xs:element name="CHGADDRIN" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHRGHTS" type="xs:string" minOccurs="0"/>
<xs:element name="CHGMSG" type="xs:string" minOccurs="0"/>
<xs:element name="CHGMSGAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGFORCCOVMATCH" type="xs:string" minOccurs="0"/>
<xs:element name="CHANGE_FORCE_RELEASE_FUND" type="xs:string" minOccurs="0"/>
<xs:element name="SUPPRESS" type="xs:string" minOccurs="0"/>
<xs:element name="DELMSG" type="xs:string" minOccurs="0"/>
<xs:element name="QUEUERIGHTS" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="QUEUE" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERTILLS" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="TILLID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERACCCLASS" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ACCCLS" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERGLREST" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="NODEGL" type="xs:string"/>
<xs:element name="USERGLEXCEPT" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="EXPNODEGL" type="xs:string"/>
<xs:element name="EXCEPLEAFGL" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERLIMITSROLE" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LMTBRN" type="xs:string"/>
<xs:element name="LMTSROLE" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERBRANCHES" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="BRNSBRN" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERPRODUCTS" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="PRDPRDCD" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERACCESSPRODUCTS" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="PRDACCESSPRDCD" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERFUNCDISALLOW" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="FUNCDISALLOWFUNCID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERROLE" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ROLEBRNCD" type="xs:string"/>
<xs:element name="USRROLEID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="USERSFUNCTIONS" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="USERFUNCBRNCD" type="xs:string"/>
<xs:element name="USERFUNCFUNCID" type="xs:string"/>
<xs:element name="CONTROL1" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL2" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL3" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL4" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL5" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL6" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL7" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL8" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL9" type="xs:decimal" minOccurs="0"/>
<xs:element name="USERFUNCSCTRL10" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL11" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL12" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL13" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL14" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL15" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL16" type="xs:decimal" minOccurs="0"/>
<xs:element name="USERFUNCSCTRSTR" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Grp-Restriction" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="GROUP_CODE" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Centralisation" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="USRROLEID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Dshdet" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence/>
</xs:complexType>
</xs:element>
<xs:element name="UDFDETAILS" type="tns:UDFDETAILSType2" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SMDBANKP-Reopen-IO-Type">
<xs:sequence>
<xs:element name="SITE_CODE" type="xs:string"/>
<xs:element name="MAKER" type="xs:string" minOccurs="0"/>
<xs:element name="MAKERSTAMP" type="xs:string" minOccurs="0"/>
<xs:element name="MODNO" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SMDRLMNE-Close-IO-Type">
<xs:sequence>
<xs:element name="ROLEID2" type="xs:string"/>
<xs:element name="MAKER" type="xs:string" minOccurs="0"/>
<xs:element name="MAKERSTAMP" type="xs:string" minOccurs="0"/>
<xs:element name="MODNO" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SMDBANKP-Authorize-IO-Type">
<xs:sequence>
<xs:element name="SITE_CODE" type="xs:string"/>
<xs:element name="CHECKER" type="xs:string" minOccurs="0"/>
<xs:element name="CHECKERSTAMP" type="xs:string" minOccurs="0"/>
<xs:element name="MODNO" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SMDBANKP-Delete-IO-Type">
<xs:sequence>
<xs:element name="SITE_CODE" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SMDBANKP-Create-IO-Type">
<xs:sequence>
<xs:element name="HEAD_OFFICE" type="xs:string" minOccurs="0"/>
<xs:element name="SITE_CODE" type="xs:string"/>
<xs:element name="ACTIVATION_KEY" type="xs:string" minOccurs="0"/>
<xs:element name="INVALID_LOGINS_CUM" type="xs:decimal" minOccurs="0"/>
<xs:element name="INVALID_LOGINS_SUC" type="xs:decimal" minOccurs="0"/>
<xs:element name="PWD_PREVENT_REUSE" type="xs:decimal" minOccurs="0"/>
<xs:element name="PWD_CHANGE_AFTER" type="xs:decimal" minOccurs="0"/>
<xs:element name="MAXIMUM" type="xs:decimal" minOccurs="0"/>
<xs:element name="MINIMUM" type="xs:decimal" minOccurs="0"/>
<xs:element name="PWD_EXPIRY_MSG_DAYS" type="xs:decimal" minOccurs="0"/>
<xs:element name="ARCHIVAL_PERIOD" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONCHAR_PWD_NUM" type="xs:decimal" minOccurs="0"/>
<xs:element name="FREQ_PWD_CHG" type="xs:decimal" minOccurs="0"/>
<xs:element name="MIN_PWD_NUMERIC_LENGTH" type="xs:decimal" minOccurs="0"/>
<xs:element name="LEGAL_NOTICE" type="xs:string" minOccurs="0"/>
<xs:element name="DORMANCY_DAYS" type="xs:decimal" minOccurs="0"/>
<xs:element name="DISPLAY_LEGAL_NOTICE" type="xs:string" minOccurs="0"/>
<xs:element name="MIN_SPECIALCHAR_LENGTH" type="xs:decimal" minOccurs="0"/>
<xs:element name="MIN_LOWERCASE_CHAR" type="xs:decimal" minOccurs="0"/>
<xs:element name="MIN_UPPERCASE_CHAR" type="xs:decimal" minOccurs="0"/>
<xs:element name="SCREENSAVERREQUIRED" type="xs:string" minOccurs="0"/>
<xs:element name="SCREENSAVERTIMEOUTINSECONDS" type="xs:decimal" minOccurs="0"/>
<xs:element name="SCREENSAVERMODIFIABLEBYUSER" type="xs:string" minOccurs="0"/>
<xs:element name="Smtbs-Branch-Restr" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="RESTR_TYPE" type="xs:string" minOccurs="0"/>
<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Smtbs-Restrictive-Passwd" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="PASSWORD" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="UDFDETAILS" type="tns:UDFDETAILSType2" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SMRole-Create-IO-Type">
<xs:sequence>
<xs:element name="ROLEIDENTIFICATION" type="xs:string"/>
<xs:element name="MASTERROLEDESC" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHORISERROLE" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHVLTROLE" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCH_RES" type="xs:string" minOccurs="0"/>
<xs:element name="ACCCLASSALLOWED" type="xs:string" minOccurs="0"/>
<xs:element name="CENTRALISATIONROLE" type="xs:string" minOccurs="0"/>
<xs:element name="ROLEDETAIL" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ROLEFUN" type="xs:string"/>
<xs:element name="CONTROL1" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL2" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL3" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL4" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL5" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL6" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL7" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL8" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL9" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL10" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL11" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL12" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL13" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL14" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL15" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL16" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ROLEDETAILB" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ROLEFUN" type="xs:string"/>
<xs:element name="CONT1" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT2" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT3" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT4" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT5" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT6" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL7" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT8" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT9" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT10" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT11" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT12" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT13" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT14" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONT15" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL16" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ROLEDETAILC" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ROLEFUN" type="xs:string"/>
<xs:element name="CNTRL1" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL2" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL3" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL4" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL5" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL6" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL7" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL8" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL9" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL10" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL11" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL12" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL13" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL14" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL15" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL16" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ROLEDETAILD" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ROLEFUN" type="xs:string"/>
<xs:element name="CONTROL1" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL2" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL3" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL4" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL5" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL6" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL7" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL8" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL9" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL10" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL11" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL12" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL13" type="xs:decimal" minOccurs="0"/>
<xs:element name="CONTROL14" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ROLEBRANCHES" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="BRANCH" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ROLEACCCLASS" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ACCCLS" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="MSGCRIGHTS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="CNL" type="xs:string" minOccurs="0"/>
<xs:element name="CHGNODE" type="xs:string" minOccurs="0"/>
<xs:element name="REL" type="xs:string" minOccurs="0"/>
<xs:element name="CHGMEDIA" type="xs:string" minOccurs="0"/>
<xs:element name="BRNMOV" type="xs:string" minOccurs="0"/>
<xs:element name="HLD" type="xs:string" minOccurs="0"/>
<xs:element name="TSTINP" type="xs:string" minOccurs="0"/>
<xs:element name="CHGADDR" type="xs:string" minOccurs="0"/>
<xs:element name="REINS" type="xs:string" minOccurs="0"/>
<xs:element name="CHGPRIOR" type="xs:string" minOccurs="0"/>
<xs:element name="CNLAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGNODEAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="RELAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGMEDIAAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="BRNMOVAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="HLDAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="TSTINPAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGADDRAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="REINSAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="CHGPRIORAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="GEN" type="xs:string" minOccurs="0"/>
<xs:element name="TSTCHK" type="xs:string" minOccurs="0"/>
<xs:element name="LNKCONT" type="xs:string" minOccurs="0"/>
<xs:element name="CHGBRNIN" type="xs:string" minOccurs="0"/>
<xs:element name="CHGMSG" type="xs:string" minOccurs="0"/>
<xs:element name="CHGFORCRELFUND" type="xs:string" minOccurs="0"/>
<xs:element name="SUPPRESS" type="xs:string" minOccurs="0"/>
<xs:element name="DELMSG" type="xs:string" minOccurs="0"/>
<xs:element name="PRNT" type="xs:string" minOccurs="0"/>
<xs:element name="FTUPL" type="xs:string" minOccurs="0"/>
<xs:element name="MOVQ" type="xs:string" minOccurs="0"/>
<xs:element name="CHGADDRIN" type="xs:string" minOccurs="0"/>
<xs:element name="CHGMSGAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHRGHTS" type="xs:string" minOccurs="0"/>
<xs:element name="CHGFORCCOVMATCH" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="QUEUERIGHTS" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="QUEUE" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="RESTRICTIVEPASSWD" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="PWD" type="xs:string"/>
<xs:element name="PWDID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ROLEBRANCHLIMITS" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LMTCCY" type="xs:string"/>
<xs:element name="BRHUSERLMT" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Roledetaile" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ROLEFUN" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHCODE" type="xs:string" minOccurs="0"/>
<xs:element name="EDITABLE" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRLSTR" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Roledetailf" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ROLEID" type="xs:string" minOccurs="0"/>
<xs:element name="ROLEFUN" type="xs:string" minOccurs="0"/>
<xs:element name="CNTRLSTR" type="xs:string" minOccurs="0"/>
<xs:element name="CNTRL1" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL10" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL11" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL12" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL13" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL14" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL15" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL16" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL2" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL3" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL4" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL5" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL6" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL7" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL8" type="xs:decimal" minOccurs="0"/>
<xs:element name="CNTRL9" type="xs:decimal" minOccurs="0"/>
<xs:element name="ATHSTAT" type="xs:string" minOccurs="0"/>
<xs:element name="BRNCHCODE" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="UDFDETAILS" type="tns:UDFDETAILSType2" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SMDRLMNE-Delete-IO-Type">
<xs:sequence>
<xs:element name="ROLEID2" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SMDRLMNE-Reopen-IO-Type">
<xs:sequence>
<xs:element name="ROLEID2" type="xs:string"/>
<xs:element name="MAKER" type="xs:string" minOccurs="0"/>
<xs:element name="MAKERSTAMP" type="xs:string" minOccurs="0"/>
<xs:element name="MODNO" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="UBSCOMPType">
<xs:restriction base="xs:string">
<xs:enumeration value="FCUBS"/>
<xs:enumeration value="FCIS"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="MsgStatType">
<xs:restriction base="xs:string">
<xs:enumeration value="SUCCESS"/>
<xs:enumeration value="WARNING"/>
<xs:enumeration value="FAILURE"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>