web/WEB-INF/wsdl/10.8.0.134_1112/FCUBSSMService/FCUBSSMService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://types.ws.gw.fcubs.ofss.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://types.ws.gw.fcubs.ofss.com" name="FCUBSSMService">
<types>
<xsd:schema>
<xsd:import namespace="http://fcubs.ofss.com/service/FCUBSSMService" schemaLocation="http://10.8.0.134:1112/FCUBSSMService/FCUBSSMService?xsd=1"/>
</xsd:schema>
</types>
<message name="AuthorizeUserMaintFS">
<part xmlns:ns1="http://fcubs.ofss.com/service/FCUBSSMService" name="RequestMsg" element="ns1:AUTHORIZEUSERMAINT_FSFS_REQ"/>
</message>
<message name="AuthorizeUserMaintFSResponse">
<part xmlns:ns2="http://fcubs.ofss.com/service/FCUBSSMService" name="ResponseMsg" element="ns2:AUTHORIZEUSERMAINT_FSFS_RES"/>
</message>
<message name="AuthorizeUserMaintIO">
<part xmlns:ns3="http://fcubs.ofss.com/service/FCUBSSMService" name="RequestMsg" element="ns3:AUTHORIZEUSERMAINT_IOPK_REQ"/>
</message>
<message name="AuthorizeUserMaintIOResponse">
<part xmlns:ns4="http://fcubs.ofss.com/service/FCUBSSMService" name="ResponseMsg" element="ns4:AUTHORIZEUSERMAINT_IOPK_RES"/>
</message>
<message name="CloseUserMaintFS">
<part xmlns:ns5="http://fcubs.ofss.com/service/FCUBSSMService" name="RequestMsg" element="ns5:CLOSEUSERMAINT_FSFS_REQ"/>
</message>
<message name="CloseUserMaintFSResponse">
<part xmlns:ns6="http://fcubs.ofss.com/service/FCUBSSMService" name="ResponseMsg" element="ns6:CLOSEUSERMAINT_FSFS_RES"/>
</message>
<message name="CloseUserMaintIO">
<part xmlns:ns7="http://fcubs.ofss.com/service/FCUBSSMService" name="RequestMsg" element="ns7:CLOSEUSERMAINT_IOPK_REQ"/>
</message>
<message name="CloseUserMaintIOResponse">
<part xmlns:ns8="http://fcubs.ofss.com/service/FCUBSSMService" name="ResponseMsg" element="ns8:CLOSEUSERMAINT_IOPK_RES"/>
</message>
<message name="CreateUserMaintFS">
<part xmlns:ns9="http://fcubs.ofss.com/service/FCUBSSMService" name="RequestMsg" element="ns9:CREATEUSERMAINT_FSFS_REQ"/>
</message>
<message name="CreateUserMaintFSResponse">
<part xmlns:ns10="http://fcubs.ofss.com/service/FCUBSSMService" name="ResponseMsg" element="ns10:CREATEUSERMAINT_FSFS_RES"/>
</message>
<message name="CreateUserMaintIO">
<part xmlns:ns11="http://fcubs.ofss.com/service/FCUBSSMService" name="RequestMsg" element="ns11:CREATEUSERMAINT_IOPK_REQ"/>
</message>
<message name="CreateUserMaintIOResponse">
<part xmlns:ns12="http://fcubs.ofss.com/service/FCUBSSMService" name="ResponseMsg" element="ns12:CREATEUSERMAINT_IOPK_RES"/>
</message>
<message name="DeleteUserMaintFS">
<part xmlns:ns13="http://fcubs.ofss.com/service/FCUBSSMService" name="RequestMsg" element="ns13:DELETEUSERMAINT_FSFS_REQ"/>
</message>
<message name="DeleteUserMaintFSResponse">
<part xmlns:ns14="http://fcubs.ofss.com/service/FCUBSSMService" name="ResponseMsg" element="ns14:DELETEUSERMAINT_FSFS_RES"/>
</message>
<message name="DeleteUserMaintIO">
<part xmlns:ns15="http://fcubs.ofss.com/service/FCUBSSMService" name="RequestMsg" element="ns15:DELETEUSERMAINT_IOPK_REQ"/>
</message>
<message name="DeleteUserMaintIOResponse">
<part xmlns:ns16="http://fcubs.ofss.com/service/FCUBSSMService" name="ResponseMsg" element="ns16:DELETEUSERMAINT_IOPK_RES"/>
</message>
<message name="ModifyUserMaintFS">
<part xmlns:ns17="http://fcubs.ofss.com/service/FCUBSSMService" name="RequestMsg" element="ns17:MODIFYUSERMAINT_FSFS_REQ"/>
</message>
<message name="ModifyUserMaintFSResponse">
<part xmlns:ns18="http://fcubs.ofss.com/service/FCUBSSMService" name="ResponseMsg" element="ns18:MODIFYUSERMAINT_FSFS_RES"/>
</message>
<message name="ModifyUserMaintIO">
<part xmlns:ns19="http://fcubs.ofss.com/service/FCUBSSMService" name="RequestMsg" element="ns19:MODIFYUSERMAINT_IOPK_REQ"/>
</message>
<message name="ModifyUserMaintIOResponse">
<part xmlns:ns20="http://fcubs.ofss.com/service/FCUBSSMService" name="ResponseMsg" element="ns20:MODIFYUSERMAINT_IOPK_RES"/>
</message>
<message name="QuerySMDBANKPIO">
<part xmlns:ns21="http://fcubs.ofss.com/service/FCUBSSMService" name="RequestMsg" element="ns21:QUERYSMDBANKP_IOFS_REQ"/>
</message>
<message name="QuerySMDBANKPIOResponse">
<part xmlns:ns22="http://fcubs.ofss.com/service/FCUBSSMService" name="ResponseMsg" element="ns22:QUERYSMDBANKP_IOFS_RES"/>
</message>
<message name="QuerySMDRLMNEIO">
<part xmlns:ns23="http://fcubs.ofss.com/service/FCUBSSMService" name="RequestMsg" element="ns23:QUERYSMDRLMNE_IOFS_REQ"/>
</message>
<message name="QuerySMDRLMNEIOResponse">
<part xmlns:ns24="http://fcubs.ofss.com/service/FCUBSSMService" name="ResponseMsg" element="ns24:QUERYSMDRLMNE_IOFS_RES"/>
</message>
<message name="QuerySMRoleIO">
<part xmlns:ns25="http://fcubs.ofss.com/service/FCUBSSMService" name="RequestMsg" element="ns25:QUERYSMROLE_IOFS_REQ"/>
</message>
<message name="QuerySMRoleIOResponse">
<part xmlns:ns26="http://fcubs.ofss.com/service/FCUBSSMService" name="ResponseMsg" element="ns26:QUERYSMROLE_IOFS_RES"/>
</message>
<message name="QueryUserMaintIO">
<part xmlns:ns27="http://fcubs.ofss.com/service/FCUBSSMService" name="RequestMsg" element="ns27:QUERYUSERMAINT_IOFS_REQ"/>
</message>
<message name="QueryUserMaintIOResponse">
<part xmlns:ns28="http://fcubs.ofss.com/service/FCUBSSMService" name="ResponseMsg" element="ns28:QUERYUSERMAINT_IOFS_RES"/>
</message>
<message name="ReopenUserMaintFS">
<part xmlns:ns29="http://fcubs.ofss.com/service/FCUBSSMService" name="RequestMsg" element="ns29:REOPENUSERMAINT_FSFS_REQ"/>
</message>
<message name="ReopenUserMaintFSResponse">
<part xmlns:ns30="http://fcubs.ofss.com/service/FCUBSSMService" name="ResponseMsg" element="ns30:REOPENUSERMAINT_FSFS_RES"/>
</message>
<message name="ReopenUserMaintIO">
<part xmlns:ns31="http://fcubs.ofss.com/service/FCUBSSMService" name="RequestMsg" element="ns31:REOPENUSERMAINT_IOPK_REQ"/>
</message>
<message name="ReopenUserMaintIOResponse">
<part xmlns:ns32="http://fcubs.ofss.com/service/FCUBSSMService" name="ResponseMsg" element="ns32:REOPENUSERMAINT_IOPK_RES"/>
</message>
<portType name="FCUBSSMServiceSEI">
<operation name="AuthorizeUserMaintFS">
<input message="tns:AuthorizeUserMaintFS"/>
<output message="tns:AuthorizeUserMaintFSResponse"/>
</operation>
<operation name="AuthorizeUserMaintIO">
<input message="tns:AuthorizeUserMaintIO"/>
<output message="tns:AuthorizeUserMaintIOResponse"/>
</operation>
<operation name="CloseUserMaintFS">
<input message="tns:CloseUserMaintFS"/>
<output message="tns:CloseUserMaintFSResponse"/>
</operation>
<operation name="CloseUserMaintIO">
<input message="tns:CloseUserMaintIO"/>
<output message="tns:CloseUserMaintIOResponse"/>
</operation>
<operation name="CreateUserMaintFS">
<input message="tns:CreateUserMaintFS"/>
<output message="tns:CreateUserMaintFSResponse"/>
</operation>
<operation name="CreateUserMaintIO">
<input message="tns:CreateUserMaintIO"/>
<output message="tns:CreateUserMaintIOResponse"/>
</operation>
<operation name="DeleteUserMaintFS">
<input message="tns:DeleteUserMaintFS"/>
<output message="tns:DeleteUserMaintFSResponse"/>
</operation>
<operation name="DeleteUserMaintIO">
<input message="tns:DeleteUserMaintIO"/>
<output message="tns:DeleteUserMaintIOResponse"/>
</operation>
<operation name="ModifyUserMaintFS">
<input message="tns:ModifyUserMaintFS"/>
<output message="tns:ModifyUserMaintFSResponse"/>
</operation>
<operation name="ModifyUserMaintIO">
<input message="tns:ModifyUserMaintIO"/>
<output message="tns:ModifyUserMaintIOResponse"/>
</operation>
<operation name="QuerySMDBANKPIO">
<input message="tns:QuerySMDBANKPIO"/>
<output message="tns:QuerySMDBANKPIOResponse"/>
</operation>
<operation name="QuerySMDRLMNEIO">
<input message="tns:QuerySMDRLMNEIO"/>
<output message="tns:QuerySMDRLMNEIOResponse"/>
</operation>
<operation name="QuerySMRoleIO">
<input message="tns:QuerySMRoleIO"/>
<output message="tns:QuerySMRoleIOResponse"/>
</operation>
<operation name="QueryUserMaintIO">
<input message="tns:QueryUserMaintIO"/>
<output message="tns:QueryUserMaintIOResponse"/>
</operation>
<operation name="ReopenUserMaintFS">
<input message="tns:ReopenUserMaintFS"/>
<output message="tns:ReopenUserMaintFSResponse"/>
</operation>
<operation name="ReopenUserMaintIO">
<input message="tns:ReopenUserMaintIO"/>
<output message="tns:ReopenUserMaintIOResponse"/>
</operation>
</portType>
<binding name="FCUBSSMServiceSEIBinding" type="tns:FCUBSSMServiceSEI">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AuthorizeUserMaintFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeUserMaintIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseUserMaintFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseUserMaintIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateUserMaintFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateUserMaintIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteUserMaintFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteUserMaintIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyUserMaintFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyUserMaintIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QuerySMDBANKPIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QuerySMDRLMNEIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QuerySMRoleIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryUserMaintIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReopenUserMaintFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReopenUserMaintIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FCUBSSMService">
<port name="FCUBSSMServiceSEI" binding="tns:FCUBSSMServiceSEIBinding">
<soap:address location="http://10.8.0.134:1112/FCUBSSMService/FCUBSSMService"/>
</port>
</service>
</definitions>